{% extends 'dashboard.html' %}
{% load static %}

{% block extra_head %}
<script src="{% static 'js/tour.js' %}" defer></script>
{% endblock %}

{% block title %}Adicionar Tour Temático{% endblock %}

{% block dashboard_content %}
<div class="form-container">
    <h2>Adicionar novo tour temático</h2>
    {% if messages %}
    <div class="messages-div">
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </span>
    {% endfor %}
    </div>
    {% endif %}
    <form class="update-form tour-form" method="post">
        {% csrf_token %}
        {% for field in form %}
        {% if field == form.media %}
        <div class="field-container">
            <div class="label-div">
                {{ field.label_tag }}
                {% if field.field.required %}
                <span class='required'>*</span>
                {% endif %}
            </div>
            <div class="field-div">
                <div>
                    <div class="fake-input">
                        <div id="selected-options"></div>
                        <input id="fake-input-search" type="text" placeholder="Selecione as mídias">
                    </div>
                    <div class="fake-input-options-div hide-div">
                        {% for obj in field.field.queryset %}
                        <label onclick='selectOption(event, this)' class="fake-input-label" for="id_media_{{ obj.id }}">
                            <input hidden class="input" type="checkbox" name="media" value="{{ obj.id }}" id="id_media_{{ obj.id }}">
                            {% if obj.datatype == 'video' %}
                            <video class="tour-img" src="{{obj.coverpath.url}}"></video>
                            {% else %}
                            <img class="tour-img" src="{{obj.coverpath.url}}">
                            {% endif %}
                            <div class="tour-infos-div">
                                <a class="tour-media-link" href="" target="_blank">{{obj.title}}</a>
                                <span>
                                    {% if obj.datatype == 'video' %}
                                    Vídeo
                                    {% else %}
                                    Foto
                                    {% endif %}
                                </span>
                            </div>
                        </label>
                        {% endfor %}
                    </div>
                </div>
                {% if field.help_text %}
                <span class="help-text">{{ field.help_text }}</span>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="field-container">
            <div class="label-div">
                {{ field.label_tag }}
                {% if field.field.required %}
                <span class='required'>*</span>
                {% endif %}
            </div>
            <div class="field-div">
                {{ field }}
                {% if field.help_text %}
                <span class="help-text">{{ field.help_text }}</span>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="buttons-div">
            <button class='submit-button' type="submit">Criar Tour</button>
        </div>
    </form>
</div>



{% endblock %}