<h2>Editar</h2>
<h3>Tours e destaques</h3>

<form action="." method="post">{% csrf_token %}
    {{ admin_form.as_p }}
    <input id="display" class="fashion" name="admin" type="submit" value="Salvar" />
</form>

<hr>

<h3>Atalhos administração</h3>
<ul>
    <li>
        <a href="/admin/meta/media/{{ media.id }}/"><strong>Editar</strong></a>
    </li>

    {% if tags %}
    <li>Marcador(es)</li>
    <ul>
        {% for tag in tags %}
        <li><a href="/admin/meta/tag/{{ tag.id }}/">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if authors %}
    <li>Autor(es)</li>
    <ul>
        {% for author in authors %}
        <li><a href="/admin/meta/author/{{ author.id }}/">{{ author.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if taxa %}
    <li>Táxon(s)</li>
    <ul>
        {% for taxon in taxa %}
        <li><a href="/admin/meta/taxon/{{ taxon.id }}/">{{ taxon.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if sources %}
    <li>Especialista(s)</li>
    <ul>
        {% for source in sources %}
        <li><a href="/admin/meta/source/{{ source.id }}/">{{ source.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if media.location %}
    <li>Local: <a href="/admin/meta/location/{{ media.location.id }}/">{{ media.location.name }}</a></li>
    {% endif %}

    {% if media.city %}
    <li>Cidade: <a href="/admin/meta/city/{{ media.city.id }}/">{{ media.city.name }}</a></li>
    {% endif %}

    {% if media.state %}
    <li>Estado: <a href="/admin/meta/state/{{ media.state.id }}/">{{ media.state.name }}</a></li>
    {% endif %}

    {% if media.country %}
    <li>País: <a href="/admin/meta/country/{{ media.country.id }}/">{{ media.country.name }}</a></li>
    {% endif %}

    {% if references %}
    <li>Referência(s)</li>
    <ul>
        {% for ref in references %}
        <li><a href="/admin/meta/references/{{ ref.id }}/">{{ ref.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</ul>
