{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Autores' %} | {{ block.super }}{% endblock %}
{% block meta-keywords %}{% trans 'autores, biodiversidade, biologia marinha' %}{% endblock %}
{% block meta-description %}{% trans 'Autores incluídos no banco de imagens Cifonauta.' %}{% endblock %}
{% block meta-author %}Alvaro E. Migotto, Bruno C. Vellutini{% endblock %}

{% block extra-head %}
<meta property="og:title" content="{% trans 'Autores' %}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="{% trans 'Autores incluídos no banco de imagens Cifonauta.' %}" />
<meta property="og:site_name" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />
<meta property="og:type" content="article" />
{% endblock %}

{% block content %}
<section class="span-24 last">
<header><h1>{% trans 'Autores e especialistas' %}</h1></header>

    <div id="authors" class="span-11 metagroup">
        <h2>{% trans 'Autores' %}</h2>
        <p class="quiet">{% trans 'Pessoa que capturou a imagem.' %}</p>
        {% print_metalist authors 'author' %}
    </div>

    <div id="sources" class="span-11 last metagroup">
        <h2>{% trans 'Especialistas' %}</h2>
        <p class="quiet">{% trans 'Pessoa que coletou ou identificou o organismo.' %}</p>
        {% print_metalist sources 'source' %}
    </div>
</section>
{% endblock %}

{% block sidebar %}
{% endblock %}
