{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Curadores, especialistas e autores' %} | {{ block.super }}{% endblock %}
{% block meta-keywords %}{% trans 'curadores, especialistas, autores, biodiversidade, biologia marinha' %}{% endblock %}
{% block meta-description %}{% trans 'Curadores, especialistas e autores incluídos no banco de imagens Cifonauta.' %}{% endblock %}
{% block meta-author %}Alvaro E. Migotto, Bruno C. Vellutini{% endblock %}

{% block extra-head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/authors_page.css">
<meta property="og:title" content="{% trans 'Autores' %}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="{% trans 'Curadores, especialistas e autores incluídos no banco de imagens Cifonauta.' %}" />
<meta property="og:site_name" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />
<meta property="og:type" content="article" />
{% endblock %}

{% block content %}
<section class="last">
    <header><h1>{% trans 'Curadores, especialistas e autores' %}</h1></header>
    <div class="authors-content">
         <div id="authors" class="authors-card last metagroup">
            <h2>{% trans 'Autores' %}</h2>
            <p class="quiet">{% trans 'Quem capturou a imagem' %}</p>
            {% print_metalist authors 'author' %}
        </div>
	 <div id="specialists" class="authors-card metagroup">
            <h2>{% trans 'Especialistas' %}</h2>
            <p class="quiet">{% trans 'Quem faz a edição dos metadados' %}</p>
            {% print_metalist specialists 'specialist' %}
        </div>
	<div id="curators" class="authors-card metagroup">
            <h2>{% trans 'Curadores' %}</h2>
            <p class="quiet">{% trans 'Quem faz a revisão e a publicação' %}</p>
            {% print_metalist curators 'curators' %}
        </div>      
    </div>
</section>
{% endblock %}

{% block sidebar %}
{% endblock %}
