{% load i18n %}
<!doctype html>
<html lang="{{ request.LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="{% block meta-keywords %}{% endblock %}" />
        <meta name="description" content="{% block meta-description %}{% endblock %}" />
        <title>
            {% block title %}{% trans "Banco de Imagens de Organismos Marinhos do CEBIMar USP" %}{% endblock %}
        </title>
        <link rel="shortcut icon" href="/site_media/favicon.ico">
        <link rel="stylesheet" href="/site_media/css/style.css" type="text/css">
        <link rel="stylesheet" href="/site_media/css/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/site_media/css/print.css" type="text/css" media="print">	
        <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <script src="/site_media/js/jquery.js" type="text/javascript"></script>
        <!--<script src="/site_media/js/html5media/html5media.min.js" type="text/javascript"></script>-->

        {% if not request.path == '/fixtaxa/' %}
        {% comment %}
        Impede desaparecimento das mensagens.
        {% endcomment %}
        <script type="text/javascript">
        $(document).ready(function(){
                // Esconde avisos.
                $(".success, .notice, .error").delay(10000).fadeOut('slow');

                // Trigger do seletor de línguas.
                $('#languages select').change(function () {
                        var myform = $(this).parent();
                        if ($(this).val() != "{{ request.LANGUAGE_CODE }}") {
                            myform.submit();};
                        });
                });
        </script>
        {% endif %}

        <script type="text/javascript" src="/site_media/js/highslide/highslide.js"></script>
        <link rel="stylesheet" type="text/css" href="/site_media/js/highslide/highslide.css" />
        <script type="text/javascript">
            hs.graphicsDir = '/site_media/js/highslide/graphics/';
            hs.outlineType = 'rounded-white';
            hs.align = 'center';
            hs.showCredits = false;
        </script>

        {% block extra-head %}{% endblock %}

        {% comment %}
        ANALYTICS
        {% endcomment %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-20878697-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
         </script>
    </head>
    <body>
        <section class="container prepend-1 append-1">
            <nav class="main span-24 last">
                <div id="feedback"><a href="/feedback/">feedback</a></div>
                {% if user.is_authenticated %}
                <span id="admin">
                    <a href="/admin/">admin</a> <a href="/privadas/">privadas</a> <a href="/fixtaxa/">fixtaxa</a>
                </span>
                {% endif %}
                <div id="languages">
                <form action="/i18n/setlang/" method="post">
                    {% csrf_token %}
                    <select name="language">
                        {% for lang in LANGUAGES %}
                        <option value="{{ lang.0 }}"{% if lang.0 == request.LANGUAGE_CODE %} selected="selected"{% endif %}>{{ lang.1 }}</option>
                        {% endfor %}
                    </select>
                    {% comment %}<input type="submit" value="{% trans "Ir" %}" />{% endcomment %}
                </form>
                </div>

                <ul class="menu" id="media">
                    <li><a href="/buscar/?type=photo">{% trans "fotos" %}</a></li>
                    <li><a href="/buscar/?type=video">{% trans "vídeos" %}</a></li>
                    <li><a href="{% url meta.views.taxa_page %}">{% trans "táxons" %}</a></li>
                    <li><a href="{% url meta.views.tags_page %}">{% trans "marcadores" %}</a></li>
                    <li><a href="{% url meta.views.places_page %}">{% trans "localidades" %}</a></li>
                    <li><a href="{% url meta.views.authors_page %}">{% trans "autores" %}</a></li>
                    <li><a href="{% url meta.views.refs_page %}">{% trans "referências" %}</a></li>
                </ul>
                <ul class="menu" id="about">
                    <li><a href="/">home</a></li>
                    <li><a href="/sobre/">{% trans "sobre" %}</a></li>
                    <li><a href="{% url meta.views.search_page %}">{% trans "buscar" %}</a></li>
                    <li><a href="/blog/">blog</a></li>
                </ul>
            </nav>
            <header class="main span-24 last" id="mainheader">
                <hgroup class="main span-12">
                    <h1>Cifonauta</h1>
                    <h2>banco de imagens de organismos marinhos</h2>
                </hgroup>
                <div class="span-12 last" id="stats-search">
                    {% show_stats %}
                    {% if not request.path == '/buscar/' %}
                    <div id="home-search">
                        {% search_box %}
                    </div>
                    {% endif %}
                </div>
            </header>
            <section class="main span-24 last" id="content">
                {% block content %}{% endblock %}
                {% block sidebar %}{% endblock %}
            </section>
            <footer class="main span-24 last quiet borders">

            <div class="span-14">
                <div class="span-14 last">
                    &nbsp; &copy;{% now "Y" %} Centro de Biologia Marinha da Universidade de São Paulo
                </div>
                <div class="span-14 last">&nbsp; <a href="http://www.usp.br/cbm/">www.usp.br/cbm</a></div>
            </div>

            <div class="span-6 cnpq">Licença de uso:
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" title="O conteúdo deste website está sob uma licença Creative Commons Atribuição-NãoComercial-CompartilhamentoPelaMesmaLicença 3.0 internacional | The content of this website is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License" src="/site_media/cc.png" /></a></a>.
            </div>

            <div class="span-4 last cnpq">Apoio: <a href="http://www.cnpq.br/" title="CNPq - Conselho Nacional de Desenvolvimento Científico e Tecnológico"><img width="90" alt="CNPq - Conselho Nacional de Desenvolvimento Científico e Tecnológico" src="/site_media/cnpq.png" /></a></div>
            </footer>
        </section>
    </body>
</html>
