{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}{% trans 'Cifonauta' %} | CEBIMar/USP{% endblock %}
    </title>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-THW5RJV9');</script>
    <!-- End Google Tag Manager -->

    <!-- Google Search Console -->
    <meta name="google-site-verification" content="BmiUfkqoK9Txkha5QsD68jcm5N3bygOxwXvlfZ-_-Zw" />

    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}" />
    <meta name="description" content="{% block meta-description %}{% endblock %}" />
    <meta name="author" content="{% block meta-author %}{% endblock %}" />

    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/header.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/footer.css">

    <link rel="canonical" href="{{ request.build_absolute_uri }}">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:light,regular,italic,bold" rel="stylesheet" type="text/css">

    <!-- All JavaScript at the bottom, except for Modernizr and Respond.
    Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries -->
    <script defer src="{{ STATIC_URL }}js/libs/modernizr-2.0.6.min.js"></script>
    <script defer src="{{ STATIC_URL }}js/nav.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.history.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.21.custom.css">

    {% block extra-head %}{% endblock %}

  </head>
  <body>
    <div id="div-container">

      <div id="admin">
      {% include 'admin_menu.html' %}
      </div>

      <nav id="nav-header">
      {% include 'nav.html' %}
      </nav>

      <header id="mainheader">
      {% include 'header.html' %}
      </header>

      <section id="content">
        <div class="{% if content_block and content_sidebar %}content-and-sidebar{% else %}content-only{% endif %}">
          {% block content %}{% endblock %}
          {% block sidebar %}{% endblock %}
        </div>
      </section>

      <footer id="mainfooter" class="quiet">
      {% include 'footer.html' %}
      </footer>

    </div>

    <!-- JavaScript at the bottom for fast page loading -->

    <!-- Placeholder for Twitter script. -->
    <div id="deferedjs"> </div>

    <!-- Begin scripts -->
    <script defer src="{{ STATIC_URL }}js/plugins.js"></script>
    <script defer src="{{ STATIC_URL }}js/script.js"></script>
    <!-- End scripts-->

    {% block extra-foot %}{% endblock %}

    <!-- ANALYTICS -->
    <script>
      var _gaq=[['_setAccount','UA-20878697-1'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

  </body>
</html>
