{% load i18n %}
<!doctype html>
<html lang="{{ request.LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="{% block meta-keywords %}{% endblock %}" />
        <meta name="description" content="{% block meta-description %}{% endblock %}" />
        <meta name="author" content="{% block meta-author %}{% endblock %}" />
        <title>
            {% block title %}{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %} | CEBIMar USP{% endblock %}
        </title>
        <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico">

        <!-- Estilos -->
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/print.css" type="text/css" media="print">
        <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

        <!-- Google Web Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Lato:light,regular,regularitalic,bold,bolditalic|Ubuntu:light,regular,italic,bold" rel="stylesheet" type="text/css">

        <!-- jQuery -->
        <script src="{{ MEDIA_URL }}js/jquery.js" type="text/javascript"></script> 

        <!-- MediaElement.Js -->
        <script src="{{ MEDIA_URL }}js/mediaelement/mediaelement-and-player.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="{{ MEDIA_URL }}js/mediaelement/mediaelementplayer.css" type="text/css">

        {% if not request.path == '/fixtaxa/' %}
        {% comment %} Impede desaparecimento das mensagens na fixtaxa. {% endcomment %}
        <script type="text/javascript">
        $(document).ready(function(){
                // Esconde avisos.
                $(".success, .notice, .error").delay(10000).fadeOut('slow');
                });
        </script>
        {% endif %}

        <!-- Language Trigger -->
        <script type="text/javascript">
            $(document).ready(function(){
                    // Trigger do seletor de línguas.
                    $('#languages select').change(function () {
                        var myform = $(this).parent();
                        if ($(this).val() != "{{ request.LANGUAGE_CODE }}") {
                        myform.submit();};
                        });
                    });
        </script>

        <!-- Highslide -->
        <script type="text/javascript" src="{{ MEDIA_URL }}js/highslide/highslide.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/highslide/highslide.css" />
        <script type="text/javascript">
            hs.graphicsDir = '{{ MEDIA_URL }}js/highslide/graphics/';
            hs.outlineType = 'rounded-white';
            hs.align = 'center';
            hs.showCredits = false;
        </script>

        <!-- jQuery Treeview -->
        <link rel="stylesheet" href="{{ MEDIA_URL }}js/jquery-treeview/jquery.treeview.css" />
        <script src="{{ MEDIA_URL }}js/jquery-treeview/lib/jquery.cookie.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/jquery-treeview/jquery.treeview.js" type="text/javascript"></script> 

        <!-- Feeds -->
        <link rel="alternate" type="application/rss+xml" title="{% trans 'Cifonauta: últimas fotos e vídeos' %}" href="/feed/latest/all/" />
        <link rel="alternate" type="application/rss+xml" title="{% trans 'Cifonauta: últimas fotos' %}" href="/feed/latest/photos/" />
        <link rel="alternate" type="application/rss+xml" title="{% trans 'Cifonauta: últimos vídeos' %}" href="/feed/latest/videos/" />

        {% block extra-head %}{% endblock %}

        <!-- ANALYTICS -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-20878697-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
         </script>
    </head>
    <body>
        <section class="container prepend-1 append-1">
            <nav class="main span-24 last">
                <div id="feedback"><a href="/feedback/">feedback</a></div>
                {% if user.is_authenticated %}
                <span id="admin">
                    <ul>
                        <li><a href="/admin/">admin</a></li>
                        <li><a href="/private/">privadas</a></li>
                        <li><a href="/fixtaxa/">fixtaxa</a></li>
                        <li><a href="/translate/">traduzir</a></li>
                        <li><a href="{% url django.contrib.auth.views.logout %}">logout</a></li>
                    </ul>
                </span>
                {% else %}
                <span id="admin">
                    <a href="{% url django.contrib.auth.views.login %}">login</a>
                </span>
                {% endif %}
                <div id="languages">
                <form action="/i18n/setlang/" method="post">
                    {% csrf_token %}
                    <select name="language">
                        {% for lang in LANGUAGES %}
                        <option value="{{ lang.0 }}"{% if lang.0 == request.LANGUAGE_CODE %} selected="selected"{% endif %}>{{ lang.1 }}</option>
                        {% endfor %}
                    </select>
                    {% comment %}<input type="submit" value="{% trans 'Ir' %}" />{% endcomment %}
                </form>
                </div>

                {% with request.get_full_path as fullpath %}
                <ul class="menu" id="media">
                    <li><a 
                        {% if fullpath == '/search/?type=photo' %}class="selected"{% endif %}
                        href="/search/?type=photo">{% trans 'fotos' %}</a>
                    </li>
                    <li><a 
                        {% if fullpath == '/search/?type=video' %}class="selected"{% endif %}
                        href="/search/?type=video">{% trans 'vídeos' %}</a>
                    </li>
                    <li><a 
                        {% if fullpath == '/tours/' %}class="selected"{% endif %}
                        href="{% url meta.views.tours_page %}">{% trans 'tours' %}</a>
                    </li>
                    <li><a 
                        {% if fullpath == '/taxa/' %}class="selected"{% endif %}
                        href="{% url meta.views.taxa_page %}">{% trans 'táxons' %}</a>
                    </li>
                    <li><a 
                        {% if fullpath == '/tags/' %}class="selected"{% endif %}
                        href="{% url meta.views.tags_page %}">{% trans 'marcadores' %}</a>
                    </li>
                    <li><a 
                        {% if fullpath == '/places/' %}class="selected"{% endif %}
                        href="{% url meta.views.places_page %}">{% trans 'localidades' %}</a>
                    </li>
                    <li><a 
                        {% if fullpath == '/authors/' %}class="selected"{% endif %}
                        href="{% url meta.views.authors_page %}">{% trans 'autores' %}</a>
                    </li>
                    <li><a {% if fullpath == '/literature/' %}class="selected"{% endif %}
                        href="{% url meta.views.refs_page %}">{% trans 'referências' %}</a>
                    </li>
                </ul>
                <ul class="menu" id="about">
                    <li><a 
                        {% if fullpath == '/' %}class="selected"{% endif %}href="/">{% trans 'home' %}</a>
                    </li>
                    <li><a 
                        {% if fullpath == '/about/' or fullpath == '/content/' or fullpath == '/organization/' or fullpath == '/credits/' or fullpath == '/details/' or fullpath == '/development/' or fullpath == '/roadmap/' or fullpath == '/terms/' %}class="selected"{% endif %}href="/about/">{% trans 'sobre' %}</a>
                    </li>
                    <li><a 
                        {% if request.path == '/search/' %}class="selected"{% endif %}href="{% url meta.views.search_page %}">{% trans 'buscar' %}</a>
                    </li>
                    <li><a 
                        {% if fullpath == '/blog/' %}class="selected"{% endif %}href="/blog/">{% trans 'blog' %}</a>
                    </li>
                </ul>
                {% endwith %}
            </nav>
            <header class="main span-24 last" id="mainheader">
                <hgroup class="main span-11">
                    <h1>Cifonauta</h1>
                    <h2>{% trans 'banco de imagens de biologia marinha' %}</h2>
                </hgroup>
                <div class="span-13 last" id="stats-search">
                    {% show_stats %}
                    {% if not request.path == '/search/' %}
                    <div id="home-search">
                        {% search_box %}
                    </div>
                    {% endif %}
                </div>
            </header>
            <section class="main span-24 last" id="content">
                {% block content %}{% endblock %}
                {% block sidebar %}{% endblock %}
            </section>
            <footer class="main span-24 last quiet">

            <div class="span-24 last" id="footerbase">
            <div class="span-13">
                <div class="span-13 last">
                    &nbsp; &copy;{% now "Y" %} {% trans 'Centro de Biologia Marinha da Universidade de São Paulo' %}
                </div>
                <div class="span-13 last">&nbsp; <a href="http://www.usp.br/cbm/">www.usp.br/cbm</a></div>
            </div>

            <div class="span-6 cnpq">{% trans 'Licença de uso' %}:
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="{% trans 'Licença Creative Commons' %}" style="border-width:0" title="{% trans 'O conteúdo deste website está sob uma licença Creative Commons Atribuição-Não_Comercial-Compartilhamento_Pela_Mesma_Licença 3.0 internacional' %}" src="{{ MEDIA_URL }}cc.png" /></a></a>.
            </div>

            <div class="span-5 last cnpq">{% trans 'Apoio' %}: <a href="http://www.cnpq.br/" title="{% trans 'CNPq - Conselho Nacional de Desenvolvimento Científico e Tecnológico' %}"><img width="90" alt="{% trans 'CNPq - Conselho Nacional de Desenvolvimento Científico e Tecnológico' %}" src="{{ MEDIA_URL }}cnpq.png" /></a></div>
        </div>

            <div class="span-24 last" id="sitelinks">
                <div class="span-6">
                    <h4>{% trans 'Informações básicas' %}</h4>
                    <ul class="padlist">
                        <li><a href="/about/">{% trans 'Sobre' %}</a></li>
                        <li><a href="/content/">{% trans 'Conteúdo' %}</a></li>
                        <li><a href="/organization/">{% trans 'Organização' %}</a></li>
                        <li><a href="/credits/">{% trans 'Créditos e apoio' %}</a></li>
                        <li><a href="/cifokit/">{% trans 'Kit imprensa' %}</a></li>
                        <li><a href="/terms/">{% trans 'Termos de uso e direitos' %}</a></li>
                    </ul>
                </div>
                <div class="span-4">
                    <h4>{% trans 'Explorar' %}</h4>
                    <ul class="padlist">
                        <li><a href="/search/">{% trans 'Buscador' %}</a></li>
                        <li><a href="/tours/">{% trans 'Tours' %}</a></li>
                        <li><a href="/search/?type=photo">{% trans 'Fotos' %}</a></li>
                        <li><a href="/search/?type=video">{% trans 'Vídeos' %}</a></li>
                    </ul>
                </div>
                <div class="span-4">
                    <h4>{% trans 'Metadados' %}</h4>
                    <ul class="padlist">
                        <li><a href="/tags/">{% trans 'Marcadores' %}</a></li>
                        <li><a href="/taxa/">{% trans 'Táxons' %}</a></li>
                        <li><a href="/places/">{% trans 'Localidades' %}</a></li>
                        <li><a href="/authors/">{% trans 'Autores' %}</a></li>
                        <li><a href="/literature/">{% trans 'Referências' %}</a></li>
                    </ul>
                </div>
                <div class="span-4">
                    <h4>{% trans 'Novidades' %}</h4>
                    <ul class="padlist">
                        <li><a href="/blog/">{% trans 'Blog' %}</a></li>
                        <li><a href="/">Twitter</a></li>
                        <li><a href="/">Facebook</a></li>
                    </ul>
                </div>
                <div class="span-4 last">
                    <h4>{% trans 'Desenvolvimento' %}</h4>
                    <ul class="padlist">
                        <li><a href="/details/">{% trans 'Detalhes técnicos' %}</a></li>
                        <li><a href="/development/">{% trans 'Atualizações' %}</a></li>
                        <li><a href="/roadmap/">{% trans 'Idéias planejadas' %}</a></li>
                        <li><a href="/feedback/">{% trans 'Feedback' %}</a></li>
                    </ul>
                </div>
            </div>
            </footer>
        </section>
    </body>
</html>
