{% extends 'base.html' %}
{% block title %}Buscador | {{ block.super }}{% endblock %}
{% block extra-head %}
<!--<script type="text/javascript" src="/site_media/js/buscador.js"></script>-->
{% endblock %}
{% block content %}
<section class="span-16">
<form id="search-form" method="get" action=".">
    {{ form.query.label_tag }}<strong>:</strong> {{ form.query }} <input type="submit" value="Encontrar" /> {{form.query.help_text }} <a href="{% url meta.views.search_page %}">Limpar</a>
</form>
<hr class="space">
<div id="search-results">
    {% if show_results %}
        {% include 'gallery.html' %}
    {% endif %}
</div>
</section>
{% endblock %}
{% block sidebar %}
<aside class="main span-8 last">
{% if show_results %}
    {% if query %}
    {% show_info images.object_list query qsize %}
    {% comment %}
    Lista completa, problemas na performance...
    {% show_info image_list query qsize %}
    {% endcomment %}
    {% endif %}
{% endif %}
</aside>
{% endblock %}
