{% extends 'base.html' %}
{% block title %}Buscador | {{ block.super }}{% endblock %}
{% block extra-head %}
<!--<script type="text/javascript" src="/site_media/js/buscador.js"></script>-->
{% endblock %}
{% block content %}
<section class="span-16">
<form id="search-form" method="get" action=".">
    {{ form.query.label_tag }}<strong>:</strong> {{ form.query }} <input type="submit" value="Encontrar" /> {{form.query.help_text }} <a href="{% url meta.views.search_page %}">Limpar</a>
</form>
<hr class="space">
<div id="search-results">
    {% if show_results %}
        {% include 'gallery.html' %}
    {% endif %}
</div>
</section>
{% endblock %}
{% block sidebar %}
<aside class="span-8 last">
{% if show_results %}

<form action="{{ request.path }}?{{ request.META.QUERY_STRING }}" method="post">
    {{ n_form.n.label_tag }}: {{ n_form.n }} <input type="submit" value="Trocar" />
    {% csrf_token %}
</form>

    {% show_info image_list video_list queries %}
{% endif %}
</aside>
{% endblock %}
