{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Buscador' %} | {{ block.super }}{% endblock %}
{% block meta-keywords %}{{ keywords }}{% endblock %}
{% block meta-description %}{% trans 'Buscador do banco de imagens Cifonauta.' %}{% endblock %}
{% block meta-author %}Alvaro E. Migotto, Bruno C. Vellutini{% endblock %}

{% block extra-head %}

<meta property="og:title" content="{% trans 'Buscador' %}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{% trans 'Buscador do banco de imagens Cifonauta.' %}" />
<meta property="og:site_name" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />

{% endblock %}
{% block content %}
<section class="span-16">
<div id="search-results">
  {% if show_results %}
  <div id="search-status" class="quiet">
    {% comment %}
    {% if queries.type == 'photo' %}
    {% blocktrans %}Mostrando apenas <strong>fotos</strong>.{% endblocktrans %} {% trans 'Exibir' %} <a href="{% build_url 'photo' 'type' queries 'True' 'type=all' %}">{% trans 'fotos e vídeos' %}</a> {% trans 'ou' %} <a href="{% build_url 'photo' 'type' queries 'True' 'type=video' %}">{% trans 'apenas vídeos' %}</a>.
    {% else %}
    {% if queries.type == 'video' %}
    {% blocktrans %}Mostrando apenas <strong>vídeos</strong>.{% endblocktrans %} {% trans 'Exibir' %} <a href="{% build_url 'video' 'type' queries 'True' 'type=all' %}">{% trans 'fotos e vídeos' %}</a> {% trans 'ou' %} <a href="{% build_url 'video' 'type' queries 'True' 'type=photo' %}">{% trans 'apenas fotos' %}</a>.
    {% else %}
    {% blocktrans %}Mostrando <strong>fotos</strong> e <strong>vídeos</strong>.{% endblocktrans %} {% trans 'Exibir' %} <a href="{% build_url 'video' 'type' queries 'True' 'type=photo' %}">{% trans 'apenas fotos' %}</a> {% trans 'ou' %} <a href="{% build_url 'photo' 'type' queries 'True' 'type=video' %}">{% trans 'apenas vídeos' %}</a>.
    {% endif %}
    {% endif %}
    {% with highlight=request.session.highlight %}
    {% if highlight %}{% blocktrans %}Desmarque <strong>somente destaques</strong> para ver tudo.{% endblocktrans %}{% endif %}
    {% endwith %}
    <a id="limpar" href="{% url search_url %}">{% trans 'Limpar' %}</a>
    {% endcomment %}
  </div>
  <hr class="space">
  {% include 'gallery.html' %}
  {% else %}
  <hr class="space">
  {% endif %}
</div>
</section>
{% endblock %}
{% block sidebar %}
<aside class="span-8 last">
{% if show_results %}
<div class="block shadow">
  <form action="{{ request.path }}?{{ request.META.QUERY_STRING }}" method="post">
    {{ n_form.as_p}}
    <input type="submit" value="{% trans 'Atualizar' %}" class="fashion" id="display" />
    {% csrf_token %}
  </form>
</div>
{% show_info image_list video_list queries %}
{% else %}
<div id="showall">
  {% trans 'Use o buscador acima ou' %} <a href="/search/?type=all">{% trans 'clique aqui para ver tudo' %}</a>.
  <br> <br>
</div>
{% endif %}
</aside>
{% endblock %}
