{% extends 'dashboard.html' %}

{% block title %}Lista de Mídias{% endblock %}

{% block dashboard_content %}

{% if object_list %}
<h2>Lista de todas as mídias</h2>
<table class="table">
    <thead class="table-head">
        <tr>
            <th class="title-column">Título</th>
            <th class="image-column">Imagem</th>
            <th class="status-column">Status</th>
            <th class="edit-column">Atualizar</th>
        </tr>
    </thead>
    <tbody class="table-body">
        {% for media in object_list %}
        <tr>
            <td class="text-cedule">{{ media.title_pt_br }}</td>
            <td class="image-cedule">
                {% comment %} Comentado porque imagens do site não tem file.url {% endcomment %}
                 <a href="{{ media.file.url }}" target="_blank">
                    <img src="{{ media.file.url }}" width="250px">
                </a> 
            </td>
            <td class="text-cedule">{{ media.get_status_display }}</td>
            <td class="button-cedule"><a href="{% url 'edit_metadata' media.id %}">Atualizar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
    <p>Não há imagens</p>
{% endif %}

{% endblock %}