{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    

    <title>
        {% block title %}{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %} | CEBIMar USP{% endblock %}
    </title>
</head>
<body>
    <aside class="dashboard-aside">
        <ul>
            <li>
                <a href="{% url 'home' %}">Voltar para à Página Inicial</a>
            </li>
            <li>
                <a href="{% url 'media_list' %}">Ver todas as mídias</a>
            </li>
            <li>
                <a href="{% url 'upload_media' %}">Adicionar mídia</a>
            </li>
            <li>
                <a href="">Editar metadados</a>
            </li>
            <li>
                <a href="">Revisar imagens</a>
            </li>
            <li>
                <a href="{% url 'my_medias' %}">Minhas imagens</a>
            </li>
        </ul>
    </aside>
    <div class="dashboard-view">
        <h1>Módulo Administrativo</h1>

        {% block dashboard_content %}{% endblock %}
    </div>
</body>
</html>