{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    {% block extra_head %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <title>
        {% block title %}{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %} | CEBIMar USP{% endblock %}
    </title>
</head>
<body>
    <aside class="dashboard-aside">
        {% with fullpath=request.get_full_path %}
        <ul>
            <li class='initial-page-li'>
                <a href="{% url 'home' %}">Voltar à Página Inicial</a>
            </li>
            <li>
                <a 
                    href="{% url 'upload_media_step1' %}" 
                    {% if '/dashboard/upload/' in fullpath %}class='current-page'{% endif %}
                >
                    Adicionar mídia
                </a>
            </li>
            <li>
                <a href="{% url 'my_media_list' %}" {% if '/dashboard/medias/' in fullpath %}class='current-page'{% endif %}>Minhas mídias</a>
            </li>
            {% if is_specialist %}
            <li>
                <a href="{% url 'editing_media_list' %}" {% if '/dashboard/editing/' in fullpath %}class='current-page'{% endif %}>Edição de metadados</a>
            </li>
            {% endif %}
            {% if is_curator %}
            <li>
                <a href="{% url 'revision_media_list' %}" {% if '/dashboard/revision/' in fullpath %}class='current-page'{% endif %}>Revisão de mídias</a>
            </li>
            <li>
                <a href="{% url 'manage_users' %}" {% if '/dashboard/manage-users/' in fullpath %}class='current-page'{% endif %}>Gerenciar Usuários</a>
            </li>
            <li>
                <a href="{% url 'tour_list' %}" {% if '/dashboard/tours/' in fullpath %}class='current-page'{% endif %}>Tours</a>
            </li>
            {% endif %}
            {% if is_specialist or is_curator %}
            <li>
                <a href="{% url 'my_curations_media_list' %}" {% if '/dashboard/curations/' in fullpath %}class='current-page'{% endif %}>Mídias da minha curadoria</a>
            </li>
            {% endif %}
        </ul>
        {% endwith %}
    </aside>
    <div class="dashboard-view {% if list_page %}dark-background{% else %}light-background{% endif %}">
        <h1>Módulo Administrativo</h1>

        {% block dashboard_content %}{% endblock %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
    $(document).ready(function() {
        $('.select2-authors').select2({
            placeholder: 'Selecione os coautores'
        })
        $('.select2-taxons').select2({
            placeholder: 'Selecione os táxons'
        })
        $('.select2-specialists').select2({
            placeholder: 'Selecione os especialistas'
        })
        $('.select2-media').select2({
            placeholder: 'Selecione as mídias'
        })
        $('.select2-references').select2({
            placeholder: 'Selecione as referências'
        })
        $('.select2-tags').select2({
            placeholder: 'Selecione os marcadores'
        })
        $('.select2-curations').select2({
            placeholder: 'Selecione as curadorias'
        })
        $('.select2-status').select2({
            placeholder: 'Selecione as status'
        })
        $('.select2-references').select2({
            placeholder: 'Selecione as referências'
        })
    });
    </script>
    <script src="{% static 'js/copy_curation_id.js' %}"></script>
    <script src="{% static 'js/enable_disable_buttons.js' %}"></script>
</body>
</html>
