{% load custom_filters %}

<div data-modal="group-action" class="modal">
    <header class="modal-header">
        <p>Processar em lote as mídias selecionadas</p>
        <button data-close-modal="group-action" type="button"  class="close-modal-button">
            <div class='line1'></div>
            <div class='line2'></div>
        </button>
    </header>
    <main class="modal-body">
        <p class="actions-modal-message">Os campos obrigatórios só são obrigatórios se a opção sobrescrever estiver selecionada</p>
        {% for field in form %}
        {% get_action_field form field.name as fieldd %}

        {% if fieldd.is_action %}
        <div class="action-field">
            <div class="action-field__label-wrapper">
                {{ fieldd.field_action.label_tag }}
                {% if fieldd.field_action.field.required %}
                <span class='required'>*</span>
                {% endif %}
            </div>
            <div class="action-field__field-container">
                {{ fieldd.field_action }}
                {% if fieldd.field %}
                <div class="hide-div action-field__field-wrapper">
                    {{ fieldd.field }}
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}

        {% endfor %}
        <button type="submit" class="secondary-button" name='action' value='{{ records_number }}'>Processar</button>
    </main>
</div>