{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    {% block extra_head %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <title>
        {% block title %}{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %} | CEBIMar USP{% endblock %}
    </title>
</head>
<body>
    <aside class="dashboard-aside">
        {% with fullpath=request.get_full_path %}
        <ul>
            <li>
                <a href="{% url 'home' %}">Voltar para à Página Inicial</a>
            </li>
            <li>
                <a 
                    href="{% url 'upload_media_step1' %}" 
                    {% if fullpath == '/administrative-module/add/load-media' or fullpath == '/administrative-module/add/fulfill-metadata' %}class='current-page'{% endif %}
                >
                    Adicionar mídia
                </a>
            </li>
            {% if is_specialist %}
            <li>
                <a href="{% url 'curadory_medias' %}" {% if '/administrative-module/curadory-medias/' in fullpath or '/administrative-module/edit-metadata/' in fullpath %}class='current-page'{% endif %}>Edição de metadados</a>
            </li>
            {% endif %}
            {% if is_curator %}
            <li>
                <a href="{% url 'media_revision' %}" {% if '/administrative-module/revision' in fullpath or '/administrative-module/revision/detail/' in fullpath or '/administrative-module/revision/changes/' in fullpath %}class='current-page'{% endif %}>Revisão de mídias</a>
            </li>
            <li>
                <a href="{% url 'manage_users' %}" {% if '/administrative-module/manage-users' in fullpath %}class='current-page'{% endif %}>Gerenciar Usuários</a>
            </li>
            <li>
                <a href="{% url 'dashboard_tour_list' %}" {% if 'administrative-module/tours' in fullpath %}class='current-page'{% endif %}>Tours</a>
            </li>
            {% endif %}
            {% if is_specialist or is_curator %}
            <li>
                <a href="{% url 'media_from_my_curations_list' %}" {% if 'administrative-module/media-from-my-curations/' in fullpath %}class='current-page'{% endif %}>Mídias da minha curadoria</a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'my_medias' %}" {% if '/administrative-module/my-medias/' in fullpath or '/administrative-module/update/' in fullpath %}class='current-page'{% endif %}>Minhas mídias</a>
            </li>
        </ul>
        {% endwith %}
    </aside>
    <div class="dashboard-view">
        <h1>Módulo Administrativo</h1>

        {% block dashboard_content %}{% endblock %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
    $(document).ready(function() {
        $('.select2-authors').select2({
            placeholder: 'Selecione os coautores'
        });
        $('.select2-taxons').select2({
            placeholder: 'Selecione os táxons'
        });
        $('.select2-specialists').select2({
            placeholder: 'Selecione os especialistas'
        });
        $('.select2-media').select2({
            placeholder: 'Selecione as mídias'
        });
        $('.select2-references').select2({
            placeholder: 'Selecione as referências'
        });
        $('.select2-tags').select2({
            placeholder: 'Selecione os marcadores'
        });
        $('.select2-curations').select2({
            placeholder: 'Selecione as curadorias'
        });
    });
    </script>
    <script src="{% static 'js/copy_curation_id.js' %}"></script>
    <script src="{% static 'js/enable_disable_buttons.js' %}"></script>
</body>
</html>
