<div data-modal="taxa" id="taxa-modal" class="modal-container modal modal--small">
    <header class="modal-header">
        <p>Adicione um novo táxon</p>
        <button data-close-modal="taxa" id="close-taxa-modal-btn" class="close-modal-button">
            <div class='line1'></div>
            <div class='line2'></div>
        </button>
    </header>
    <main class="modal-body">
        <form method="post" data-form="taxa" class="modal-form">
            {% csrf_token %}
            {% for field2 in taxa_form %}
            <div class="field field--modal">
                {{ field2.label_tag }}
                <div class="field__input-container">
                    {{ field2 }}
                    {% if field2.help_text %}
                    <span class="field__help-text">{{ field2.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div data-response-message="taxa"></div>
            <button type="submit" name="action" value="taxa" data-submitter="taxa" class="secondary-button">Adicionar</button>
        </form>
    </main>
</div>