<div data-modal="authors" class="modal modal--small">
    <header class="modal-header">
        <p>Registre o coautor</p>
        <button data-close-modal="authors" class="close-modal-button">
            <div class='line1'></div>
            <div class='line2'></div>
        </button>
    </header>
    <main class="modal-body">
        <form method="post" data-form="authors" class="modal-form">
            {% csrf_token %}
            {% for field in authors_form %}
            <div class="field field--modal">
                {{ field.label_tag }}
                <div class="field__input-container">
                    {{ field }}
                    {% if field.help_text %}
                    <span class="field__help-text">{{ field.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div data-response-message="authors"></div>
            <button class="secondary-button" type="submit" name="action" value="authors" data-submitter="authors">Cadastrar</button>
        </form>
    </main>
</div>