<div data-modal="location" id="location-modal" class="modal-container list-modal-container">
  <header class="modal-header">
      <p>Adicione um novo local</p>
      <button data-close-modal="location" id="close-location-modal-btn" class="close-modal-button">
          <div class='line1'></div>
          <div class='line2'></div>
      </button>
  </header>
  <main class="modal-body">
      <form method="post" data-form="location" class="modal-form">
          {% csrf_token %}
          {% for field2 in location_form %}
          <div class="field2-container">
              {{ field2.label_tag }}
              <div class="field-div field2-div">
                  {{ field2 }}
                  {% if field2.help_text %}
                  <span class="help-text">{{ field2.help_text }}</span>
                  {% endif %}
              </div>
          </div>
          {% endfor %}
          <div data-response-message="location"></div>
          <button class="secondary-button" type="submit" name="action" value="location" data-submitter="location">Adicionar</button>
      </form>
  </main>
</div>