{% load static custom_filters %}

<div data-modal="group-action" class="modal">
    <header class="modal-header">
        <p>Processar em lote as mídias selecionadas</p>
        <button data-close-modal="group-action" type="button"  class="close-modal-button">
            <div class='line1'></div>
            <div class='line2'></div>
        </button>
    </header>
    <main class="modal-body">
        <p class="actions-modal-message">Os campos obrigatórios só são obrigatórios se a opção sobrescrever estiver selecionada</p>
        {% for field in form %}
        {% get_action_field form field.name as fieldd %}

        {% if fieldd.is_action %}
        <div {% if fieldd.field.name == 'country' %}data-country-field-container{% endif %} class="action-field">
            <div class="action-field__label-wrapper">
                {{ fieldd.field_action.label_tag }}
                {% if fieldd.field_action.field.required %}
                <span class='required'>*</span>
                {% endif %}
            </div>
            <div class="action-field__field-container">
                {{ fieldd.field_action }}
                {% if fieldd.field %}
                <div class="hide-div action-field__field-wrapper">
                    {{ fieldd.field }}
                    {% if fieldd.has_button %}
                        <button type="button" data-open-modal="{{ fieldd.field.name }}" class="add-new-object-btn" >
                        {% if fieldd.field.name == 'latitude' %}
                            <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                <g id="SVGRepo_iconCarrier"> <path d="M5.7 15C4.03377 15.6353 3 16.5205 3 17.4997C3 19.4329 7.02944 21 12 21C16.9706 21 21 19.4329 21 17.4997C21 16.5205 19.9662 15.6353 18.3 15M12 9H12.01M18 9C18 13.0637 13.5 15 12 18C10.5 15 6 13.0637 6 9C6 5.68629 8.68629 3 12 3C15.3137 3 18 5.68629 18 9ZM13 9C13 9.55228 12.5523 10 12 10C11.4477 10 11 9.55228 11 9C11 8.44772 11.4477 8 12 8C12.5523 8 13 8.44772 13 9Z" stroke="#000000" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/> </g>
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="12" y1="19" x2="12" y2="5"/>
                                <line x1="5" y1="12" x2="19" y2="12"/>
                            </svg>
                        {% endif %}
                        </button>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}

        {% endfor %}
        <button type="submit" class="secondary-button" name='action' value='{{ records_number }}'>Processar</button>
    </main>
</div>