{% extends 'dashboard.html' %}
{% load static %}

{% block extra_head %}
<script src="{% static 'js/tour.js' %}" defer></script>
{% endblock %}

{% block title %}Editar Tour Temático{% endblock %}

{% block dashboard_content %}
<div class="form-container">
    <h2>Editar tour temático</h2>
    {% if messages %}
    <div class="messages-div">
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </span>
    {% endfor %}
    </div>
    {% endif %}
    <form class="update-form tour-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        {% if field == form.media %}
        <div class="field-container">
            <div class="label-div">
                {{ field.label_tag }}
                {% if field.field.required %}
                <span class='required'>*</span>
                {% endif %}
            </div>
            <div class="field-div">
                <div>
                    <div class="fake-input">
                        <div id="selected-options">
                            {% for media_related in medias_related %}
                            <div class="selected-option-div id_media_{{ media_related.id }}">
                                <button type="button" class="remove-selected-option-btn" value="{{media_related.id}}" onclick="removeOption({{media_related.id}})"></button>
                                <div class='selected-option'>
                                    {% if media_related.datatype == 'video' %}
                                    <video class="tour-img" src="{{media_related.coverpath.url}}"></video>
                                    {% else %}
                                    <img class="tour-img" src="{{media_related.coverpath.url}}">
                                    {% endif %}
                                    <div class="tour-infos-div">
                                        <a class="selected-option-media-link" href="" target="_blank">{{media_related.title}}</a>
                                        <span>
                                            {% if media_related.datatype == 'video' %}
                                            Vídeo
                                            {% else %}
                                            Foto
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <input id="fake-input-search" type="text" placeholder="Selecione as mídias" autocomplete="off">
                    </div>
                    <div class="fake-input-options-div hide-div">
                        {% for initial_media in initial_medias %}
                        <label onclick='selectOption(event, this)' class="fake-input-label" for="id_media_{{ initial_media.id }}">
                            <input {% if initial_media in medias_related %}checked{% endif %} hidden class="input" type="checkbox" name="media2" value="{{ initial_media.id }}" id="id_media_{{ initial_media.id }}">
                            {% if initial_media.datatype == 'video' %}
                            <video class="tour-img" src="{{initial_media.coverpath.url}}"></video>
                            {% else %}
                            <img class="tour-img" src="{{initial_media.coverpath.url}}">
                            {% endif %}
                            <div class="tour-infos-div">
                                <a class="tour-media-link" href="" target="_blank">{{initial_media.title}}</a>
                                <span>
                                    {% if initial_media.datatype == 'video' %}
                                    Vídeo
                                    {% else %}
                                    Foto
                                    {% endif %}
                                </span>
                            </div>
                        </label>
                        {% endfor %}
                    </div>
                </div>
                {{field}}
                {% if field.help_text %}
                <span class="help-text">{{ field.help_text }}</span>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="field-container">
            <div class="label-div">
                {{ field.label_tag }}
                {% if field.field.required %}
                <span class='required'>*</span>
                {% endif %}
            </div>
            <div class="field-div">
                {{ field }}
                {% if field.help_text %}
                <span class="help-text">{{ field.help_text }}</span>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="buttons-div">
            <button class='submit-button' type="submit" name="action" value="submit">Salvar edições</button>
            <button class='cancel-button' type="submit" name="action" value="delete">Excluir tour</button>
        </div>
    </form>
</div>



{% endblock %}