{% load i18n %}
<!doctype html>
<html lang="{{ request.LANGUAGE_CODE }}">
    <head>
        <title>{{ media.title }} | {% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %} | CEBIMar USP
        </title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
        <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script> 
        <script src="{{ STATIC_URL }}js/mediaelement/mediaelement-and-player.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}js/mediaelement/mediaelementplayer.css" type="text/css">
        {% comment %} ANALYTICS {% endcomment %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-20878697-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
         </script>
    </head>
    <body id="embed-page">
        <div class="full-frame">
            <video poster="{{ MEDIA_URL }}{{ media.large_thumb }}" preload="none" controls="controls" tabindex="0" width="100%" height="100%">
            <source type="video/mp4" src="{{ MEDIA_URL }}{{ media.mp4_filepath }}" />
            <source type="video/webm" src="{{ MEDIA_URL }}{{ media.webm_filepath }}" />
            <source type="video/ogg" src="{{ MEDIA_URL }}{{ media.ogg_filepath }}" />
            <object width="100%" height="100%" type="application/x-shockwave-flash" data="{{ STATIC_URL }}js/mediaelement/flashmediaelement.swf">
                <param name="movie" value="{{ STATIC_URL }}js/mediaelement/flashmediaelement.swf" />
                <param name="flashvars" value="controls=true&poster={{ MEDIA_URL }}{{ media.large_thumb }}&file={{ MEDIA_URL }}{{ media.mp4_filepath }}" />
                <img alt="{% trans 'Still do vídeo' %}" src="{{ MEDIA_URL }}{{ media.large_thumb }}" width="100%" height="100%" title="{% trans 'Playback de vídeo indisponível' %}" />
            </object>
            {% trans 'Tem algo muito errado no seu navegador...' %}
            </video>
            <script>
                // Gambiarra para funcionar o width:100%, ver https://github.com/johndyer/mediaelement/issues/#issue/42
                var h = $('.full-frame').height();
                var w = $('.full-frame').width();
                // MediaElement.js
                $('video').mediaelementplayer({
                    mode: 'shim',
                    features: ['playpause','progress','current','duration','tracks','volume','fullscreen'],
                    videoHeight: h,
                    videoWidth: w,
                    });
            </script>
        </div>
    </body>
</html>
