{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ request.LANGUAGE_CODE }}">
    <head>
        <title>{{ media.title }} | {% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %} | CEBIMar USP
        </title>

        <!-- Dajaxice and Dajax -->
        <script src="{{ STATIC_URL }}js/mylibs/dajaxice.core.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/mylibs/jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>

        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}js/videojs/video-js.css" type="text/css" media="screen" title="Video JS" charset="utf-8">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.6.1.min.js">\x3C/script>')</script>
        <script src="{{ STATIC_URL }}/js/videojs/video.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body id="embed-page">
        <div class="full-frame">
            <div class="video-js-box">
                <video id="cifovideo" class="video-js" tabindex="0" width="100%" height="100%" poster="{{ MEDIA_URL }}{{ media.large_thumb }}" controls preload loop>
                <source src="{{ MEDIA_URL }}{{ media.mp4_filepath }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
                <source src="{{ MEDIA_URL }}{{ media.webm_filepath }}m" type='video/webm; codecs="vp8, vorbis"' />
                <source src="{{ MEDIA_URL }}{{ media.ogg_filepath }}" type='video/ogg; codecs="theora, vorbis"' />
                <object id="cifovideo-flash" class="vjs-flash-fallback" width="100%" height="100%" type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
                    <param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
                    <param name="wmode" value="opaque" />
                    <param name="allowfullscreen" value="true" />
                    <param name="flashvars" value='config={"playlist":["{{ MEDIA_URL }}{{ media.large_thumb }}", {"url": "{{ MEDIA_URL }}{{ media.mp4_filepath }}","autoPlay":false,"autoBuffering":true}]}' />
                    <img src="{{ MEDIA_URL }}{{ media.large_thumb }}" width="100%" height="100%" alt="{% trans 'Still do vídeo' %}" title="{% trans 'Playback de vídeo indisponível' %}" />
                </object>
                {% trans 'Tem algo muito errado no seu navegador...' %}
                </video>
            </div>
        </div>

        <script defer type="text/javascript" charset="utf-8">
            // Add VideoJS to all video tags on the page when the DOM is ready
            VideoJS.setupAllWhenReady({
                returnToStart: true,
            });
        </script>
        <script>
            var _gaq=[['_setAccount','UA-20878697-1'],['_trackPageview'],['_trackPageLoadTime']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        <!--
        <script type="text/javascript" charset="utf-8">
            Dajaxice.meta.update_counter(Dajax.process, {'id': '{{ media.id }}', 'type': '{{ media.datatype }}'});
        </script>
        -->
    </body>
</html>
