{% extends 'dashboard.html' %}

{% block title %}Habilitar Especialistas e Autores{% endblock %}

{% block dashboard_content %}

{% if object_list and curations %}
    <h2>Lista de Usuários</h2>

    <form method="get" action="">

        <h3>Selecione uma ação</h3>
        <select name="action">
            <option value="add">Adicionar</option>
            <option value="remove">Remover</option>
        </select>

        <h3>Escolha uma Curadoria</h3>
        <select name="selected_curation_id">
            {% for curation in curations %}
                <option value="{{ curation.id }}">{{ curation }}</option>
            {% endfor %}
        </select>

        <h3>Pesquise por nome</h3>
        <input type="text" name="search_query" placeholder="Pesquisar por nome">

        <button type="submit">Pesquisar</button>
    </form>    

    <form method="post" action="">
        {% csrf_token %}

        <table class="table">
            <thead class="table-head">
                <tr>
                    <th class="title-column">Nome</th>
                    <th class="checkbox-column">Selecionar</th>
                </tr>
            </thead>
            <tbody class="table-body">
                {% for user in object_list %}
                <tr>
                    <td class="text-cedule">{{ user }}</td>
                    <td>
                        <input type="checkbox" name="selected_users_ids" value="{{ user.id }}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" name="enable_specialists">Habilitar</button>
        <button type="submit" name="remove_specialists">Remover</button>
    </form>
{% else %}
    <p>Não há usuários</p>
{% endif %}

{% endblock %}