{% if actives %}
<ul class="refine-active">
    {% for active in actives %}
    <li>
    [<a href="{{ active.filter_url }}" title="Remover {{ active.name }} da busca" class="sign minus">−</a>] <a class="meta-active" href="{{ active.url }}" title="{% if field == 'taxon' %}{{ active.rank }} {% endif %}{{ active.name }}">{{ active|sp_em }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if inactives %}
<ul class="refine-inactive">
    {% for inactive in inactives %}
    <li>
    [<a href="{{ inactive.filter_url }}" title="Refinar busca com {{ inactive.name }}" class="sign plus">+</a>] <a class="meta-inactive" href="{{ inactive.url }}" title="{% if field == 'taxon' %}{{ inactive.rank }} {% endif %}{{ inactive.name }}">{{ inactive|sp_em }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
