{% if actives %}
<ul>
    {% for active in actives %}
    <li>
    <strong><a href="{{ active.get_absolute_url }}" title="{{ active.name }}">{{ active|sp_em }}</a> (<a href="{% build_url active field queries 'True' %}" title="Remover {{ active.name }} da busca">−</a>)</strong>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if inactives %}
<ul>
    {% for inactive in inactives %}
    <li>
    <a href="{{ inactive.get_absolute_url }}" title="{{ inactive.name }}">{{ inactive|sp_em }}</a> (<a href="{% build_url inactive field queries %}" title="Refinar busca com {{ inactive.name }}">+</a>)
    </li>
    {% endfor %}
</ul>
{% endif %}
