{% load i18n %}

<div id="sitelinks">
  <div>
    <h4>{% trans 'Informações' %}</h4>
    <ul class="padlist">
      <li><a href="/about/">{% trans 'Sobre' %}</a></li>
      <li><a rel="termos" href="/terms/">{% trans 'Termos de uso' %}</a></li>
      <li><a href="/about/#data">{% trans 'Conteúdo' %}</a></li>
      <li><a href="/organization/">{% trans 'Organização' %}</a></li>
      <li><a href="/about/#credits">{% trans 'Créditos e apoio' %}</a></li>
    </ul>
  </div>
  <div>
    <h4>{% trans 'Explorar' %}</h4>
    <ul class="padlist">
      <li><a href="/search/">{% trans 'Buscador' %}</a></li>
      <li><a href="/tours/">{% trans 'Tours' %}</a></li>
      <li><a href="/search/?datatype=photo">{% trans 'Fotos' %}</a></li>
      <li><a href="/search/?datatype=video">{% trans 'Vídeos' %}</a></li>
    </ul>
  </div>
  <div>
    <h4>{% trans 'Metadados' %}</h4>
    <ul class="padlist">
      <li><a href="/tags/">{% trans 'Marcadores' %}</a></li>
      <li><a href="/taxa/">{% trans 'Táxons' %}</a></li>
      <li><a href="/places/">{% trans 'Localidades' %}</a></li>
      <li><a href="/authors/">{% trans 'Autores' %}</a></li>
      <li><a href="/literature/">{% trans 'Referências' %}</a></li>
    </ul>
  </div>
  <div>
    <h4>{% trans 'Novidades' %}</h4>
    <ul class="padlist">
      <li><a rel="me" href="https://mastodon.social/@cifonauta" target="_blank">Mastodon</a></li>
      <li><a rel="me" href="https://www.instagram.com/cifonauta" target="_blank">Instagram</a></li>
      <li><a rel="me" href="https://www.facebook.com/cifonauta" target="_blank">Facebook</a></li>
      <li><a rel="me" href="https://twitter.com/cifonauta" target="_blank">Twitter</a></li>
    </ul>
  </div>
  <div>
    <h4>{% trans 'Contato' %}</h4>
    <ul class="padlist">
      <li><a href="/terms/">{% trans 'Termos de uso' %}</a></li>
      <li><a href="/press/">{% trans 'Imprensa' %}</a></li>
      <li><a href="/feedback/">{% trans 'Feedback' %}</a></li>
      <li><a rel="me" href="https://matrix.to/#/#cifonauta:matrix.org" target="_blank">Matrix</a></li>
      <li><a rel="me" href="https://github.com/bruvellu/cifonauta" target="_blank">GitHub</a></li>
    </ul>
  </div>
</div>

<div id="footerbase">
  <div>
    <div class="cebimar">
      <a href="http://cebimar.usp.br/" title="{% trans 'Centro de Biologia Marinha da Universidade de São Paulo' %}" target="_blank"><img alt="{% trans 'Centro de Biologia Marinha da Universidade de São Paulo' %}" src="{{ STATIC_URL }}cebimar.png" /></a>
    </div>
  </div>

  <div>
    <h4>{% trans 'Apoio' %}</h4>
    <div class="prceu">
      <a href="https://prceu.usp.br/" title="{% trans 'Pró-Reitoria de Cultura e Extensão Universitária da Universidade de São Paulo' %}" target="_blank">
        <img alt="{% trans 'Pró-Reitoria de Cultura e Extensão Universitária da Universidade de São Paulo' %}" src="{{ STATIC_URL }}prceu.png" />
      </a>
    </div>
    <div class="cnpq">
      <a href="http://www.cnpq.br/" title="{% trans 'CNPq - Conselho Nacional de Desenvolvimento Científico e Tecnológico' %}" target="_blank">
        <img alt="{% trans 'CNPq - Conselho Nacional de Desenvolvimento Científico e Tecnológico' %}" src="{{ STATIC_URL }}cnpq_v2017.png" />
      </a>
    </div>
  </div>
  
</div>

<div id="copyright">
  <p>
  &copy;2011&ndash;{% now "Y" %} {% trans 'Centro de Biologia Marinha da Universidade de São Paulo' %}
  </p>
  <p>
  <a href="http://cebimar.usp.br/" target="_blank">http://cebimar.usp.br</a>
  </p>
</div>
