{% load i18n %}
{% block extra-head %}
{% endblock %}

{% include 'messages.html' %}

{% if images.paginator.count %}
<section id="photo-gallery">
<header class="span-16 last">
<h2 class="span-10">{% trans 'Foto' %}{{ images.paginator.count|pluralize }} ({{ images.paginator.count }}){% if field %} <span class="feed-icon"><a href="/{{ field }}/{{ meta.slug }}/feed/photos/" title="{% trans 'Cifonauta: apenas fotos' %} ({{ field }}={{ meta.name }})"><img src="{{ STATIC_URL }}feed.png" alt="RSS" /></a></span>{% endif %}</h2>
</header>

{% include 'pagination.html' with media=images %}

    <ul class="thumbs">
        {% for media in images.object_list %}
            {% if media.is_public %}
            <li class="shadow size-{{ media.size.slug }}">
            {% include 'thumb.html' %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>

{% include 'pagination.html' with media=images %}

</section>

<hr class="space">

{% endif %}

{% if videos.paginator.count %}
<section id="video-gallery">
<header class="span-16 last">
<h2 class="span-10">{% trans 'Vídeo' %}{{ videos.paginator.count|pluralize }} ({{ videos.paginator.count }}){% if field %} <span class="feed-icon"><a href="/{{ field }}/{{ meta.slug }}/feed/videos/" title="{% trans 'Cifonauta: apenas vídeos' %} ({{ field }}={{ meta.name }})"><img src="{{ STATIC_URL }}feed.png" alt="RSS" /></a></span>{% endif %}</h2>
</header>

{% include 'pagination.html' with media=videos %}

    <ul class="thumbs">
        {% for media in videos.object_list %}
            {% if media.is_public %}
            <li class="shadow size-{{ media.size.slug }}">
            {% include 'thumb.html' %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>

{% include 'pagination.html' with media=videos %}

</section>
{% endif %}
