{% block extra-head %}
{% endblock %}
{% if images.object_list %}
<section id="photo-gallery">
    <footer class="success">
    {{ images.paginator.count }} foto{{ images.paginator.count|pluralize }} encontrada{{ images.paginator.count|pluralize }}.
    </footer>
    <header><h2>Foto{{ images.paginator.count|pluralize }} ({{ images.paginator.count }})</h2></header>
    <ul class="thumbs">
        {% for image in images.object_list %}
            {% if image.is_public %}
            <li class="shadow size-{{ image.size.slug }}">
            {% include 'thumb.html' %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
<footer class="pagination span-16">
{% if images.has_previous %}
<div class="span-2"><a href="?{% if query %}query={{ query }}&{% endif %}page={{ images.previous_page_number }}"><< anterior</a></div>
{% else %}
<div class="span-2">&nbsp;</div>
{% endif %}
<div class="span-10 align-center">{{ images.number }} de {{ images.paginator.num_pages }}</div>
{% if images.has_next %}
<div class="span-4 last"><a href="?{% if query %}query={{ query }}&{% endif %}page={{ images.next_page_number }}">próxima >></a></div>
{% else %}
<div class="span-4 last">&nbsp;</div>
{% endif %}
</footer>

</section>

{% else %}
<section class="notice">Nenhuma foto encontrada.</section>
{% endif %}

<hr class="space">

{% if videos.object_list %}
<section id="video-gallery">
    <footer class="success">
    {{ videos.paginator.count }} vídeo{{ videos.paginator.count|pluralize }} encontrado{{ videos.paginator.count|pluralize }}
    </footer>
    <header><h2>Vídeo{{ videos.paginator.count|pluralize }} ({{ videos.paginator.count }})</h2></header>
    <ul class="thumbs">
    {% for video in videos.object_list %}
        {% if video.is_public %}
        <li>
        <a href="{{ video.get_absolute_url }}"><img src="/{{ video.thumb_filepath }}" alt="{{ video.title }}" title="{{ video.title }}" /></a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>

<footer class="span-16 pagination">
{% if videos.has_previous %}
<div class="span-2"><a href="?{% if query %}query={{ query }}&{% endif %}page={{ videos.previous_page_number }}"><< anterior</a></div>
{% else %}
<div class="span-2">&nbsp;</div>
{% endif %}
<div class="span-10 align-center">{{ videos.number }} de {{ videos.paginator.num_pages }}</div>
{% if videos.has_next %}
<div class="span-4 last"><a href="?{% if query %}query={{ query }}&{% endif %}page={{ videos.next_page_number }}">próxima >></a></div>
{% else %}
<div class="span-4 last">&nbsp;</div>
{% endif %}
</footer>
</section>
{% else %}
<section class="notice">Nenhum vídeo encontrado.</section>
{% endif %}
