{% load i18n %}
{% block extra-head %}
{% endblock %}

<div id="messages">
    {% if images.paginator.count or videos.paginator.count %}
    <div class="success">
        {% if images.paginator.count %}
        {{ images.paginator.count }} {% trans 'foto' %}{{ images.paginator.count|pluralize }} {% endif %}{% if images.paginator.count and videos.paginator.count %}{% trans 'e' %} {% endif %}{% if videos.paginator.count %}{{ videos.paginator.count }} {% trans 'vídeo' %}{{ videos.paginator.count|pluralize }} {% endif %}
    </div>
    {% endif %}

    {% if not images.paginator.count or not videos.paginator.count %}
    <div class="notice">
        {% if not videos.paginator.count and not images.paginator.count %}
            {% trans 'Nenhuma foto e nenhum vídeo' %}
        {% else %}
            {% if not images.paginator.count %}
                {% trans 'Nenhuma foto' %}
            {% else %}
                {% trans 'Nenhum vídeo' %}
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>

{% if images.paginator.count %}
<section id="photo-gallery">
<header class="span-16 last">
<h2 class="span-10">{% trans 'Foto' %}{{ images.paginator.count|pluralize }} ({{ images.paginator.count }})</h2>
</header>
    <ul class="thumbs">
        {% for media in images.object_list %}
            {% if media.is_public %}
            <li class="shadow size-{{ media.size.slug }}">
            {% include 'thumb.html' %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
<footer class="pagination span-16 last">
{% if images.has_previous %}
<div class="span-2"><a href="{% paged_url request.META.QUERY_STRING images.previous_page_number %}"><< {% trans 'anterior' %}</a></div>
{% else %}
<div class="span-2">&nbsp;</div>
{% endif %}
<div class="span-10 align-center">{{ images.number }} {% trans 'de' %} {{ images.paginator.num_pages }}</div>
{% if images.has_next %}
<div class="span-4 last"><a href="{% paged_url request.META.QUERY_STRING images.next_page_number %}">{% trans 'próxima' %} >></a></div>
{% else %}
<div class="span-4 last">&nbsp;</div>
{% endif %}
</footer>
</section>

<hr class="space">

{% endif %}

{% if videos.paginator.count %}
<section id="video-gallery">
<header class="span-16 last">
<h2 class="span-10">{% trans 'Vídeo' %}{{ videos.paginator.count|pluralize }} ({{ videos.paginator.count }})</h2>
</header>
    <ul class="thumbs">
        {% for media in videos.object_list %}
            {% if media.is_public %}
            <li class="shadow size-{{ media.size.slug }}">
            {% include 'thumb.html' %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>

<footer class="span-16 pagination last">
{% if videos.has_previous %}
<div class="span-2"><a href="{% paged_url request.META.QUERY_STRING videos.previous_page_number %}"><< {% trans 'anterior' %}</a></div>
{% else %}
<div class="span-2">&nbsp;</div>
{% endif %}
<div class="span-10 align-center">{{ videos.number }} {% trans 'de' %} {{ videos.paginator.num_pages }}</div>
{% if videos.has_next %}
<div class="span-4 last"><a href="{% paged_url request.META.QUERY_STRING videos.next_page_number %}">{% trans 'próxima' %} >></a></div>
{% else %}
<div class="span-4 last">&nbsp;</div>
{% endif %}
</footer>
</section>
{% endif %}
