{% extends 'base.html' %}
{% load thumbnails %}
{% block content %}
<h1>Imagens não publicadas ({{ images.count|add:videos.count }})</h1>

<h2>Fotos ({{ images.count }})</h2>
{% for image in images %}

<div class="span-24 borders last">
    <div class="span-4">
        <a href="{{ image.get_absolute_url }}">
          {% thumbnail image.filepath "120x90" crop="center" as im %}
          <img src="{{ im.url }}" alt="{{ image.title }}" title="{{ image.title }}" width="120" height="90" />
          {% endthumbnail %}
        </a><br>
        <a class="highslide }}" onclick="return hs.expand(this)" href="{{ MEDIA_URL }}{{ image.web_filepath }}">ampliar</a><br>
    </div>
    <div class="span-20 last">
        <strong>Pasta oficial:</strong> {{ image.old_filepath }}<br>
        <strong>Diretório do site:</strong> {{ image.web_filepath }}<br>
        --<br>
        <strong>Título:</strong> {{ image.title }}<br>
        <strong>Autor(es):</strong> {% show_set image.author_set.all '' '' ', ' '' %}<br>
        <strong>Marcadores:</strong> {% show_set image.tag_set.all '' '' ', ' 'link' %}<br>
    </div>
</div>
<hr>
{% endfor %}


<h2>Vídeos ({{ videos.count }})</h2>
{% for video in videos %}

<div class="span-24 borders last">
    <div class="span-4">
        <a href="{{ video.get_absolute_url }}">
          {% thumbnail video.filepath "120x90" crop="center" as im %}
          <img src="{{ im.url }}" alt="{{ video.title }}" title="{{ video.title }}" width="120" height="90" />
          {% endthumbnail %}
        </a>
    </div>
    <div class="span-20 last">
        <strong>Pasta oficial:</strong> {{ video.old_filepath }}<br>
        <strong>Diretório do site:</strong> {{ video.webm_filepath }}<br>
        --<br>
        <strong>Título:</strong> {{ video.title }}<br>
        <strong>Autor(es):</strong> {% show_set video.author_set.all '' '' ', ' '' %}<br>
        <strong>Marcadores:</strong> {% show_set video.tag_set.all '' '' ', ' 'link' %}<br>
    </div>
</div>
<hr>
{% endfor %}

{% endblock %}
