{% extends 'base.html' %}
{% load i18n thumbnail static %}

{% block meta-keywords %}{% trans 'biologia marinha, biodiversidade, banco de imagens, oceano' %}{% endblock %}
{% block meta-description %}{% blocktrans %}O banco de imagens <em>Cifonauta</em> contém uma grande variedade de fotos e vídeos provenientes de atividades científicas em biologia marinha. As imagens possuem classificação taxonômica, estágio de vida, habitat e outras informações que permitem navegar de maneira intuitiva e didática.{% endblocktrans %}{% endblock %}
{% block meta-author %}Alvaro E. Migotto, Bruno C. Vellutini{% endblock %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<meta property="og:title" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ MEDIA_URL }}{{ main_image.file_cover }}" />
<meta property="og:description" content="{% blocktrans %}O banco de imagens <em>Cifonauta</em> contém uma grande variedade de fotos e vídeos provenientes de atividades científicas em biologia marinha. As imagens possuem classificação taxonômica, estágio de vida, habitat e outras informações que permitem navegar de maneira intuitiva e didática.{% endblocktrans %}" />
<meta property="og:site_name" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />

{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<span {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </span>
{% endfor %}
{% endif %}
<section class="shadow" id="intro">
<div class="shadow" id="cover-image">
  <a href="{{ main_image.get_absolute_url }}">
    <img id="media-photo" src="{{ MEDIA_URL }}{{ main_image.file_cover }}" alt="{{ main_image.title }}" title="{{ main_image.title }}" />
  </a>
</div>
<div id="cover-text">
  <h1>{% trans 'Descubra a biodiversidade marinha' %}</h1>
  <p>
  {% blocktrans %}O banco de imagens <em>Cifonauta</em> contém uma grande variedade de fotos e vídeos provenientes de atividades científicas em biologia marinha. As imagens possuem classificação taxonômica, estágio de vida, habitat e outras informações que permitem navegar de maneira intuitiva e didática.{% endblocktrans %}
  </p>
  <div id="intro-more">
    <a class="fashion blue" href="/about/">{% trans 'saiba mais' %}</a>
    <a class="fashion green" href="/search/">{% trans 'explorar imagens' %}</a>
  </div>
</div>
</section>

<section id="main-content">

<div class="card shadow" id="photos">
  <h2>{% trans 'Fotos' %}</h2>
  <div class="shadow" id="photos-image">
    <a href="{{ photo.get_absolute_url }}">
      <img id="media-photo" src="{{ MEDIA_URL }}{{ photo.file_cover }}" alt="{{ photo.title }}" title="{{ photo.title }}" />
    </a>
  </div>
  <p class="quiet">
  {% blocktrans %}Além de fotos representativas de cada grupo disponibilizamos séries de um mesmo organismo possibilitando uma visualização mais completa de sua morfologia e tridimensionalidade.{% endblocktrans %}
  </p>
  <div id="main-more">
    <a class="fashion blue" href="/search/?datatype=photo">{% trans 'veja mais' %}</a>
  </div>
</div>

<div class="card shadow" id="videos">
  <h2>{% trans 'Vídeos' %}</h2>

  <div class="shadow" id="videos-image">
    <a href="{{ video.get_absolute_url }}">
      <img id="media-photo" src="{{ MEDIA_URL }}{{ video.file_cover }}" alt="{{ video.title }}" title="{{ video.title }}" />
    </a>
  </div>

  <p class="quiet">
  {% blocktrans %}Mostram aspectos da biologia dos organismos como desenvolvimento, locomoção, comportamento e reprodução em vídeos de curta duração.{% endblocktrans %}
  </p>

  <div id="main-more">
    <a class="fashion blue" href="/search/?datatype=video">{% trans 'veja mais' %}</a>
  </div>
</div>

<div class="card shadow" id="tours">
  <h2>{% trans 'Tours' %}</h2>

  <div class="shadow" id="tours-image">
    <a href="{{ tour.get_absolute_url }}">
      <img id="media-photo" src="{{ MEDIA_URL }}{{ tour_image.file_cover }}" alt="{{ tour_image.title }}" title="{{ tour.name }}" />
    </a>
  </div>

  <p class="quiet">
  {% blocktrans %}Seleção de imagens do banco sobre um tema específico com texto descritivo e slideshow.{% endblocktrans %}
  </p>

  <div id="main-more">
    <a class="fashion blue" href="/tours/">{% trans 'veja mais' %}</a>
  </div>

</div>
</section>

{% endblock %}

