{% extends 'base.html' %}
{% load i18n thumbnail %}

{% block meta-keywords %}{% trans 'biologia marinha, biodiversidade, banco de imagens, oceano' %}{% endblock %}
{% block meta-description %}{% blocktrans %}O banco de imagens <em>Cifonauta</em> contém uma grande variedade de fotos e vídeos provenientes de atividades científicas em biologia marinha. As imagens possuem classificação taxonômica, estágio de vida, habitat e outras informações que permitem navegar de maneira intuitiva e didática.{% endblocktrans %}{% endblock %}
{% block meta-author %}Alvaro E. Migotto, Bruno C. Vellutini{% endblock %}

{% block extra-head %}

<meta property="og:title" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="http://{{ request.get_host }}{{ MEDIA_URL }}{{ main_image.filepath }}" />
<meta property="og:description" content="{% blocktrans %}O banco de imagens <em>Cifonauta</em> contém uma grande variedade de fotos e vídeos provenientes de atividades científicas em biologia marinha. As imagens possuem classificação taxonômica, estágio de vida, habitat e outras informações que permitem navegar de maneira intuitiva e didática.{% endblocktrans %}" />
<meta property="og:site_name" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />

{% endblock %}

{% block content %}

<section class="main shadow span-23 last" id="intro">
<div class="span-8" id="destaque">
  <a href="{{ main_image.get_absolute_url }}">
    {% thumbnail main_image.filepath "300x200" crop="center" as im %}
    <img class="shadow" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ main_image.title }}">
    {% endthumbnail %}
  </a>
</div>
<div class="span-14 last">
  <h1>{% trans 'Explore a biodiversidade marinha' %}</h1>
  <p>
  {% blocktrans %}O banco de imagens <em>Cifonauta</em> contém uma grande variedade de fotos e vídeos provenientes de atividades científicas em biologia marinha. As imagens possuem classificação taxonômica, estágio de vida, habitat e outras informações que permitem navegar de maneira intuitiva e didática.{% endblocktrans %}
  </p>
  <div class="align-center" id="main-more">
    <a href="/about/">{% trans 'saiba mais' %}</a> | <a href="/organization/">{% trans 'organização do conteúdo' %}</a> | <a href="/terms/">{% trans 'termos de uso das imagens' %}</a> | <a href="/press/">{% trans 'imprensa' %}</a>
  </div>
  <div class="quiet align-center" id="main-message">
    <!--Contribua com o desenvolvimento do banco enviando <a href="/feedback/">sugestões</a>.-->
  </div>
</div>
</section>

<section class="main span-24 last">

<div class="align-center quiet span-24 last" id="main-feeds">
  <!--
    <span class="feed-badge fashion"><a href="/feed/latest/all/" title="{% trans 'Cifonauta: últimas fotos e vídeos' %}">{% trans 'Últimas imagens' %} <img src="{{ STATIC_URL }}feed.png" alt="RSS" /></a></span>
    &nbsp; | &nbsp;
  -->
  {% include 'social.html' %}
</div>

<div class="main span-8" id="photos">
  <h2><a href="/search/?type=photo">{% trans 'Fotos' %}</a></h2>
  <a href="{{ photo.get_absolute_url }}">
    {% thumbnail photo.filepath "300x200" crop="center" as im %}
    <img class="shadow" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ photo.title }}">
    {% endthumbnail %}
  </a>

  <p class="quiet">
  {% blocktrans %}Além de fotos representativas de cada grupo disponibilizamos séries de um mesmo organismo possibilitando uma visualização mais completa de sua morfologia e tridimensionalidade.{% endblocktrans %}
  </p>
</div>

<div class="main span-8" id="videos">
  <h2><a href="/search/?type=video">{% trans 'Vídeos' %}</a></h2>
  <a href="{{ video.get_absolute_url }}">
    {% thumbnail video.filepath "300x200" crop="center" as im %}
    <img class="shadow" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ video.title }}">
    {% endthumbnail %}
  </a>

  <p class="quiet">
  {% blocktrans %}Mostram aspectos da biologia dos organismos como desenvolvimento, locomoção, comportamento e reprodução em vídeos de curta duração.{% endblocktrans %}
  </p>
</div>

<div class="main span-8 last" id="tours">
  <h2><a href="/tours/">{% trans 'Tours' %}</a></h2>
  <a href="{{ tour.get_absolute_url }}">
    {% thumbnail tour_image.filepath "300x200" crop="center" as im %}
    <img class="shadow" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ tour_image.title }}">
    {% endthumbnail %}
  </a>

  <p class="quiet">
  {% blocktrans %}Seleção de imagens do banco sobre um tema específico com texto descritivo e slideshow. Conheça os <a href="/tours/">tours disponíveis</a>.{% endblocktrans %}
  </p>
</div>
</section>

{% endblock %}

