{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section class="main shadow span-23 last" id="intro">
    <div class="span-8" id="destaque">
        <a href="{{ image.get_absolute_url }}"><img class="shadow" src="/{{ image.web_filepath }}" alt="{{ image.title }}" width="300" /></a>
    </div>
    <div class="span-14 last">
        <h1>{% trans 'Explore a biodiversidade marinha' %}</h1>
        <p>
        {% blocktrans %}
        O banco de imagens <em>Cifonauta</em> contém uma grande variedade de fotos e vídeos provenientes de atividades científicas em biologia marinha. As imagens carregam marcadores com classificação taxonômica, estágio de vida, habitat e outras informações que permitem navegar de maneira intuitiva e didática. 
        {% endblocktrans %}
{% comment %}

We expect the database to be used widely and to become a reliable source for everyone in need of unique and diversified marine biology images.

para curiosos, estudantes, educadores e pesquisadores.

{% endcomment %}
        </p>
        <div class="align-center">
            <a href="/sobre/">{% trans 'saiba mais sobre o banco' %}</a> | <a href="/organizacao/">{% trans 'entenda a organização do conteúdo' %}</a> | <a href="/termos/">{% trans 'leia os termos de uso das imagens' %}</a>
        </div>
    </div>
</section>

<section class="main span-24 last">

<div class="main span-8" id="photos">
    <h2>{% trans 'Fotos' %}</h2>
        <a href="{{ photo.get_absolute_url }}"><img class="shadow" src="/{{ photo.web_filepath }}" alt="{{ photo.title }}" width="300" /></a>
        <p class="quiet">
        {% blocktrans %}
        Além de fotos representativas de cada grupo disponibilizamos séries de um mesmo organismo possibilitando uma visualização mais completa de sua morfologia e tridimensionalidade.
        {% endblocktrans %}
        </p>
</div>

<div class="main span-8" id="videos">
    <h2>{% trans 'Vídeos' %}</h2>
        <a href="{{ video.get_absolute_url }}"><img class="shadow" src="/{{ video.large_thumb }}" alt="{{ video.title }}" width="300" /></a>
        <p class="quiet">
        {% blocktrans %}
        Mostram aspectos da biologia dos organismos como desenvolvimento, locomoção, comportamento e reprodução em vídeos de curta duração.
        {% endblocktrans %}
        </p>
</div>

<div class="main span-8 last" id="tours">
    <h2>{% trans 'Tours' %}</h2>
        <a href="{{ tour.get_absolute_url }}"><img class="shadow" src="/{{ tour_image.web_filepath }}" alt="{{ tour_image.title }}" width="300" /></a>
        <p class="quiet">
        {% blocktrans %}
        Seleção de imagens do banco sobre um tema específico com texto descritivo e slideshow. Conheça os <a href="/tours/">tours disponíveis</a>.
        {% endblocktrans %}
        </p>
</div>

</section>

<section class="main span-16">
{% if thumbs %}
<div class="main span-16" id="highthumbs">
    <h2>{% trans 'Destaques' %}</h2>
    <ul class="thumbs">
        {% for media in thumbs %}
            {% if media.is_public %}
            <li class="shadow size-{{ media.size.slug }}">
            {% include 'thumb.html' %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
</section>

{% endblock %}

{% block sidebar %}
<aside class="main span-8 last">
<h2>{% trans 'Navegue por táxons' %}</h2>
<div class="block shadow">
    {% include 'tree.html' %}
</div>
<!--
<div class="block shadow">
    {% comment %}
    {% show_hot %}
    {% endcomment %}
</div>
-->
</aside>
{% endblock %}
