{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="block shadow">
    <h2>{% trans 'Refine sua busca' %}</h2>
    <p>{% blocktrans %}Use os sinais [<span class="sign plus">+</span>] e [<span class="sign minus">−</span>] para refinar sua busca ou clique no nome para abrir a página do metadado.{% endblocktrans %}</p>

{% if data.tag or queries.tag %}
<h3>{% trans 'Marcadores' %} | <a href="{% url 'tags_url' %}" title="{% trans 'Todos os marcadores' %}">{% trans 'ver todos' %}</a></h3>
    {% include 'fino.html' with actives=queries.tag inactives=data.tag field='tag' %}
{% endif %}

{% if data.author or queries.author %}
<h3>{% trans 'Autores' %} | <a href="{% url 'authors_url' %}" title="{% trans 'Todos os autores' %}">{% trans 'ver todos' %}</a></h3>
    {% include 'fino.html' with actives=queries.author inactives=data.author field='author' %}
{% endif %}

{% if data.taxon or queries.taxon %}
<h3>{% trans 'Táxons' %} | <a href="{% url 'taxa_url' %}" title="{% trans 'Todos os táxons' %}">{% trans 'ver todos' %}</a></h3>
    {% include 'fino.html' with actives=queries.taxon inactives=data.taxon field='taxon' %}
{% endif %}

{% if data.size or queries.size %}
<h3>{% trans 'Tamanhos' %}</h3>
    {% include 'fino.html' with actives=queries.size inactives=data.size field='size' %}
{% endif %}

{% if data.sublocation or queries.sublocation %}
<h3>{% trans 'Local' %}</h3>
    {% include 'fino.html' with actives=queries.sublocation inactives=data.sublocation field='sublocation' %}
{% endif %}

{% if data.city or queries.city %}
<h3>{% trans 'Cidades' %}</h3>
    {% include 'fino.html' with actives=queries.city inactives=data.city field='city' %}
{% endif %}

{% if data.state or queries.state %}
<h3>{% trans 'Estados' %}</h3>
    {% include 'fino.html' with actives=queries.state inactives=data.state field='state' %}
{% endif %}

{% if data.country or queries.country %}
<h3>{% trans 'Países' %}</h3>
    {% include 'fino.html' with actives=queries.country inactives=data.country field='country' %}
{% endif %}
</div>
