<div class="block borders shadow">
    <h2>Refine sua busca</h2>
    <p>Clique em um dos metadados abaixo para refinar.</p>
{% if tags %}
<h3>Marcadores | <a href="{% url meta.views.tags_page %}" title="Todos os marcadores">ver todos</a></h3>
    {% for meta in tags %}{% include 'fino.html' %}{% if not forloop.last %},{% endif %}{% endfor %}
{% endif %}

{% if authors %}
<h3>Autores</h3>
<ul>
    {% for meta in authors %}
    <li>
    {% include 'fino.html' %}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if taxa %}
<h3>Táxons</h3>
<ul>
    {% for meta in taxa %}
    <li>
    {% include 'fino.html' %}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if sizes %}
<h3>Tamanhos</h3>
<ul>
    {% for size in sizes %}
    <li>
    {% if qsize.id == size.id %}
    <strong><a href="{{ size.get_absolute_url }}">{{ size }}</a></strong>
    {% else %}
    <a href="{{ size.get_absolute_url }}">{{ size }}</a> (<a href="/buscar/?query={{ query }}&size={{ size.id }}" title="Limitar busca para tamanho {{ size.name }}">+</a>)
    {% endif %}
    
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if sublocations %}
<h3>Local</h3>
<ul>
    {% for meta in sublocations %}
    <li>
    {% include 'fino.html' %}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if cities %}
<h3>Cidades</h3>
<ul>
    {% for meta in cities %}
    <li>
    {% include 'fino.html' %}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if states %}
<h3>Estados</h3>
<ul>
    {% for meta in states %}
    <li>
    {% include 'fino.html' %}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if countries %}
<h3>Países</h3>
<ul>
    {% for meta in countries %}
    <li>
    {% include 'fino.html' %}
    </li>
    {% endfor %}
</ul>
{% endif %}
</div>
