<div class="block borders shadow">
{% if tags %}
<h2>Marcadores | <a href="{% url meta.views.tags_page %}" title="Todos os marcadores">ver todos</a></h2>
    {% for tag in tags %}{% refine tag query qsize %}{% if not forloop.last %},{% endif %}{% endfor %}
{% endif %}

{% if authors %}
<h2>Autores</h2>
<ul>
    {% for author in authors %}
    <li>
        {% refine author query qsize %}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if taxa %}
<h2>Táxons</h2>
<ul>
    {% for taxon in taxa %}
    {% if taxon %}
    <li>
        {% refine taxon query qsize %}
    </li>
    {% else %}
    <li class="quiet">
    Nenhum
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% if genera %}
<h2>Espécies</h2>
<ul>
    {% for genus in genera %}
    {% if genus %}
        {% for sp in genus.spp.all %}
        <li>
        <a href="{{ sp.get_absolute_url }}"><em>{{ genus.name }} {{ sp }}</em></a>
        </li>
        {% endfor %}
    {% else %}
        <li class="quiet">
        Nenhum
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% if sizes %}
<h2>Tamanhos</h2>
<ul>
    {% for size in sizes %}
    <li>
    {% if qsize.id == size.id %}
    <strong><a href="{{ size.get_absolute_url }}">{{ size }}</a></strong>
    {% else %}
    <a href="{{ size.get_absolute_url }}">{{ size }}</a> (<a href="/buscar/?query={{ query }}&size={{ size.id }}" title="Limitar busca para tamanho {{ size.name }}">+</a>)
    {% endif %}
    
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if sublocations %}
<h2>Local</h2>
<ul>
    {% for sublocation in sublocations %}
    {% if sublocation %}
    <li>
        {% refine sublocation query qsize %}
    </li>
    {% else %}
    <li class="quiet">
    Nenhum
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% if cities %}
<h2>Cidades</h2>
<ul>
    {% for city in cities %}
    {% if city %}
    <li>{% refine city query qsize %}</li>
    {% else %}
    <li class="quiet">Nenhum</li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% if states %}
<h2>Estados</h2>
<ul>
    {% for state in states %}
    {% if state %}
    <li>{% refine state query qsize %}</li>
    {% else %}
    <li class="quiet">Nenhum</li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% if countries %}
<h2>Países</h2>
<ul>
    {% for country in countries %}
    {% if country %}
    <li>{% refine country query qsize %}</li>
    {% else %}
    <li class="quiet">Nenhum</li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
</div>
