{% extends 'dashboard.html' %}
{% load static %}

{% block extra_head %}
<script src="{% static 'js/manage_users.js' %}" defer></script>
<script src="{% static 'js/adm_select_all_records.js' %}" defer></script>
{% endblock %}

{% block title %}Gerenciar Usuários{% endblock %}

{% block dashboard_content %}
    <h2>Gerenciar usuários</h3>

    {% if messages %}
    <div class="messages-div">
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </span>
    {% endfor %}
    </div>
    {% endif %}

    <div class="dashboard-form">
        <section class="enable-authors-section">
            <h3>Habilitar autores</h3>
            <form method="post" class="users-table-form">
                {% csrf_token %}
                <div class="table-search-div">
                    
                    <input type="text" name="" placeholder="Procurar usuários" id="search-user-authors" class="search-users">
                </div>
                <div>
                    <select required name="author_action" id="author-action">
                        <option value="">----------</option>
                        <option value="turn_author">Tornar autor</option>
                        <option value="disable_author">Desabilitar autor</option>
                    </select>
                    <button type="submit" name='action' value="enable-authors">Realizar ação</button>
                </div>
                <table>
                    <thead class="table-head">
                        <tr>
                            <th class="checkbox-column"><input type="checkbox" id="select-all-records"></th>
                            <th class="image-column">Nome do usuário</th>
                            <th class="title-column">Autor</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        {% for user in users %}
                        <tr class="user-row">
                            <td>
                                <input type="checkbox" class="selected-record" name="selected_authors" value="{{ user.id }}">
                            </td>
                            <td class="user-name">
                                {{ user.first_name }} {{ user.last_name }}
                            </td>
                            {% if user.is_author %}
                            <td class="to-review">
                                Habilitado
                            </td>
                            {% else %}
                            <td class="not-edited">
                                Não habilitado
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </section>
        <section class="enable-specialists-section">
            <h3>Habilitar especialistas</h3>
            <form method="post">
                {% csrf_token %}
                <select name="curatorship_id" id="id_curatorship">
                    {% for curatorship in curatorships %}
                    <option value="{{ curatorship.id }}">{{ curatorship.name }}</option>
                    {% endfor %}
                </select>
                <div class="users-table-container">
                    <div class="users-table user-options-container">
                        <div class="search-input-div">
                            
                            <input type="text" name="" placeholder="Procurar usuários" id="search-user-options" class="search-users">
                        </div>
                        <button class="" type="button" onclick="selectAllUsers()">Adicionar todos</button>
                        <div id="user-options">
                        </div>
                    </div>
                    <div class="users-table selected-users-container">
                        <div class="search-input-div">
                            <input type="text" name="" placeholder="Procurar usuários" id="search-users-in-curatorship" class="search-users">
                        </div>
                        <button class="" type="button" onclick="removeAllUsers()">Remover todos</button>
                        <div id="selected-users">
                        </div>
                    </div>
                </div>
                <button type="submit" name='action' value="enable-specialists">Salvar configurações</button>
            </form>
        </section>
    </div>
{% endblock %}