{% load i18n thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

<div id="ajaxcontent">
  {% if media %}
  <article id="single" class="{{ media.datatype }} {% show_set authors 'author-' '' ' ' 'slug' %} {% show_set taxa 'taxon-' '' ' ' 'slug' %} {% show_set specialists 'specialist-' '' ' ' 'slug' %} location-{{ media.location.slug }} city-{{ media.city.slug }} state-{{ media.state.slug }} country-{{ media.country.slug }}">
{% comment %}This is coloring the entire article: scale-{{ media.scale }} {% endcomment %}
    <header>
      <h1>{{ media.title }}</h1>
    </header>
    
    {% if media.is_public %}
    {% if tags %}
    <footer class="media-tags">
    {% show_set tags '' '' ', ' 'link' %}
    </footer>
    {% endif %}

    <div id="media-subcontainer">
      <div>
        <figure class="{{ media.datatype }}">
          {% if media.datatype == 'photo' %}
            {% include 'photo.html' %}
          {% else %}
            {% if media.datatype == 'video' %}
              {% include 'video.html' %}
            {% endif %}
          {% endif %}
          {% if media.caption %}
            <figcation>
              {% if media.datatype == 'video' %}
                <span class="quiet" id="media-duration">{{ media.duration|slice:'3:' }}</span>
              {% endif %}
              {{ media.caption }}
            </figcaption>
          <div id="author">
            {% show_set authors '' '' ', ' '' %}
          </div>
          {% else %}
          <div id="author">
            {% show_set authors '' '' ', ' '' %}
            {% if media.datatype == 'video' %}
            <span class="quiet" id="media-duration">{{ media.duration|slice:'3:' }}</span>
            {% endif %}
          </div>
          <div id='download_media'>
            <a href="{% url 'download_media' media.id %}"><button>Baixar Imagem</button></a>
          </div>    
          {% endif %}
        </figure>

        <div id="meta">
          <div>
            <div class="taxonomy">
              {% if taxa %}
              <strong>{% blocktrans count counter=taxa.count %}Táxon{% plural %}Táxons{% endblocktrans %}:</strong> <span id="taxon">{% show_set taxa '' '' ', ' '' %}</span>
              <br>
              {% endif %}
    
              {% if specialists %}
              <strong>{% blocktrans count counter=specialists.count %}Especialista{% plural %}Especialistas{% endblocktrans %}:</strong> <span id="source">{% show_set specialists '' '' ', ' '' %}</span>
              <br>
              {% endif %}

              {% if curators %}
              <strong>{% blocktrans count counter=curators.count %}Curador{% plural %}Curadores{% endblocktrans %}:</strong> <span id="source">{% show_set curators '' '' ', ' '' %}</span>
              {% endif %}

              {% if media.acknowledgments %}
              <strong>{% trans 'Agradecimentos' %}:</strong> <span id="source">{{ media.acknowledgments }}</span>
              {% endif %}
            </div>
    
            <div class="location">
              {% if media.date_created %} 
              <strong>{% trans 'Data' %}: </strong> <span id="date"><datetime>{{ media.date_created|date:"DATETIME_FORMAT" }}</datetime></span>
              <br>
              {% endif %}
              {% comment %} Retirar o "name" desnecessário... {% endcomment %}
              {% if media.location.name or media.city.name or media.state.name or media.country.name %}
              <strong>{% trans 'Local' %}:</strong> 
              {% if media.location.name %}<span id="location">{{ media.location }},</span>{% endif %}
              {% if media.city.name %}<span id="city">{{ media.city }},</span>{% endif %}
              {% if media.state.name %}<span id="state">{{ media.state }},</span>{% endif %}
              {% if media.country.name %}<span id="country">{{ media.country }}</span>{% endif %}
              <br>
              {% endif %}
    
              {% if media.geolocation %}
              <strong>{% trans 'Geolocalização' %}:</strong> <a href="http://maps.google.com/maps?q={{ media.latitude }},{{ media.longitude }}" target="_blank" title="{{ media.geolocation }} no Google Maps">{{ media.geolocation }}</a>
              {% endif %}
            </div>
          </div>

          <div id="media-sideinfo2">
		  {% include 'media_side_info.html' %}
          </div>

          <div id="citethis">
            <div>
              {% show_set authors '' '' ', ' '' '' '.' %} <strong>{{ media.title }}</strong>. {% blocktrans with media_url=media.get_absolute_url %}Banco de imagens <em>Cifonauta</em>. Disponível em: <a id="cifonauta-link" href="{{ media_url }}">http://cifonauta.cebimar.usp.br{{ media_url }}</a> Acesso em:{% endblocktrans %} {% now "Y-m-d" %}.
            </div>
            <div class="align-right quiet">
              {% blocktrans %}Conheça os <a href="/terms/">termos de uso</a>.{% endblocktrans %}
              <span>
                {{ media.get_license_display }}
              </span>
            </div>
          </div>
        </div>
        <div id="googleMap" style="width:100%;height:400px;"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq5WeIQ9PnSdEBvgtaykW5oB034cbpyak&callback=myMap" defer></script>
        <script>function myMap() {
          var latLngInitial = new google.maps.LatLng({{media.latitude}},{{media.longitude}})
          var mapProp= {
              center:latLngInitial,
              zoom:10,
              streetViewControl: false,
              fullscreenControl: false,
          };
          var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
          window.marker = new google.maps.Marker({
              position: latLngInitial,
              map: map,
              });
            }
          </script>
          {% if media.notes %}
          <div id="notes">
            <h2>{% trans 'Notas' %}</h2>
            {{ media.notes }}
          </div>
          {% endif %}
    
          {% show_related media form related %}
      </div>
      
      <div id="media-sideinfo">
	      {% include 'media_side_info.html' %}
      </div>
    </div>

    {% if taxa %}
    <h2>{% trans 'Classificações' %}</h2>
    {% for taxon in taxa %}
    <div id="breadcrumbs">
      {% taxon_paths taxon %}
    </div>
    {% endfor %}
    {% endif %}

    {% if references %}
    <div id="references">
      <h2>{% trans 'Referências bibliográficas' %}</h2>
      <div>
        {% for ref in references %}
        <div class="citation">
          <a href="https://doi.org/{{ ref.doi }}" target='_blank' class='citation__doi-link'>doi></a>
          {% autoescape off %}{{ ref.citation }}{% endautoescape %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <div id="comments">
      {% comment %}
      <h2>{% trans 'Comentários' %}</h2>
      {% include 'disqus.html' %}
      {% endcomment %}
    </div>

    {% else %}
    <div class="private">{% trans 'Esta imagem não está disponível.' %}</div>
    {% endif %}
  </article>
  {% else %}
  <div class="nomatch">{% trans 'Nenhuma imagem encontrada.' %}</div>
  {% endif %}

<script type="text/javascript" charset="utf-8">
  var current_title = "{{media.title}} | {% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %} | CEBIMar USP";
  $(document).ready( function(){
    try{
      open_tree('{{media.get_taxon_name_list_no_parents}}');
    } catch(err){} ;
  });
</script>

</div>
