{% extends 'base.html' %}
{% load i18n thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{{ media.title }} | {{ block.super }}{% endblock %}
{% block meta-keywords %}{% show_set tags '' '' ', ' '' %}, {% show_set authors '' '' ', ' '' %}, {% show_set taxa '' '' ', ' '' %}, {% show_set sources '' '' ', ' '' %}, {{ media.sublocation.name }}, {{ media.city.name }}, {{ media.state.name }}, {{ media.country.slug }}{% endblock %}
{% block meta-description %}{% if media.caption %}{{ media.caption }}{% else %}{{ media.title }}{% endif %} {% trans 'Por' %} {% show_set authors '' '' ', ' '' %}.{% endblock %}
{% block meta-author %}{% show_set authors '' '' ', ' '' %}{% endblock %}

{% block extra-head %}

<meta property="og:title" content="{{ media.title }}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="http://{{ request.get_host }}{{ MEDIA_URL }}{{ media.thumb_filepath }}" />
<meta property="og:description" content="{% if media.caption %}{{ media.caption }}{% else %}{{ media.title }}{% endif %}; {% show_set authors '' '' ', ' '' %}" />
<meta property="og:site_name" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />

{% if media.datatype == 'video' %}
<meta property="og:video" content="http://{{ request.get_host }}{{ MEDIA_URL }}{{ media.mp4_filepath }}" />
<meta property="og:video:height" content="{{ height }}" />
<meta property="og:video:width" content="512" />
<meta property="og:video:type" content="application/x-shockwave-flash" />
<meta property="og:type" content="cifonauta:video" />
{% else %}
<meta property="og:type" content="cifonauta:photo" />
{% endif %}

<link rel="stylesheet" href="{{ STATIC_URL }}js/videojs/video-js.css" type="text/css" media="screen" title="Video JS" charset="utf-8">

{% endblock %}

{% block content %}
<section id="media-page" class="span-16">
	<div id="ajaxcontent">
{% include "media_page_ajax.html" %}
	</div>
</section>

<script>

$(document).ready( function(){
	 /*
	  * Ajax loading
	  */
	  // then let's make sure changes will change caches and current photo
	  var HistoryCounter = 1;
	  $('a.navigation, .rel-thumbs a').live('click', function(event){
		event.preventDefault();
		//$('div#ajaxcontent').load($(this).attr('href'));
		if (History.enabled){
			HistoryCounter++;
			History.pushState({state:HistoryCounter}, current_title, $(this).attr('href'));
		}
		else{
			$('body').css('cursor', 'wait');
			$('div#ajaxcontent').load($(this).attr('href'));
			$('body').css('cursor', 'default');
		};
      });
      var History = window.History;
      if (History.enabled){
      	History.Adapter.bind(window,'statechange',function(){ // Note: We are using statechange instead of popstate
      		$('body').css('cursor', 'wait');
	        var State = History.getState(); // Note: We are using History.getState() instead of event.state
	        //History.log(State.data, State.title, State.url);
	        if (State.data.state > 1){
	        	$('div#ajaxcontent').load(State.url);
	        } else {
	        	document.location = State.url;
	        }
	        $('body').css('cursor', 'default');
      	});
      };
      
      
      
});
</script>

{% endblock %}

{% block sidebar %}
<aside class="main span-8 last">

	{% if media.datatype == 'video' %}
	<div class="borders block shadow" id="social">
	  <h2>{% trans 'Compartilhar' %}</h2>
	  <div class="align-center"> <!-- Video embed code -->
	    <input id="embed-code" type="text" size="28" value='<iframe class="cifonauta-player" scrolling="no" type="text/html" width="512" height="{{ height }}" src="http://{{ request.get_host }}/embed/{{ media.id }}/" frameborder="0"></iframe>' onclick="this.focus(); this.select();">
	  </div>
	</div>
	{% endif %}

	<div class="borders block shadow">
	  {% show_tree taxa %}
	</div>

	{% if user.is_authenticated %}
	<div class="borders block shadow" id="admin-controls">
	  {% include 'admin_tools.html' %}
	</div>
	{% endif %}

</aside>
{% endblock %}
