{% extends 'dashboard.html' %}
{% load static %}

{% block extra_head %}
<script src="{% static 'js/media_revision.js' %}" defer></script>
{% endblock %}

{% block title %}Revisão de Mídias{% endblock %}

{% block dashboard_content %}
    <h2>Lista de mídias para revisão</h2>
    {% if messages %}
    <div class="messages-div">
        {% for message in messages %}
        <span {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </span>
        {% endfor %}
    </div>
    {% endif %}
    {% if object_list %}
    <form method="post" class="margin-top">
        {% csrf_token %}
        <table class="table">
            <thead class="table-head">
                <tr>
                    <th class="checkbox-column">Selecionar</th>
                    <th class="image-column">Imagem</th>
                    <th class="title-column">Título</th>
                    <th>Autor</th>
                    <th class="status-column">Status</th>
                </tr>
            </thead>
            <tbody class="table-body">
                {% for media in object_list %}
                <tr>
                    <td>
                        <input type="checkbox" name="selected_images_ids" value="{{ media.id }}">
                    </td>
                    <td class="image-cedule">
                        <a href="{% if media.modified_media %}{% url 'modified_media_revision' media.pk %}{% else %}{% url 'media_revision_detail' media.id %}{% endif %}">
                            {% if media.is_video %}
                            <video src="{{ media.coverpath.url }}"></video>
                            {% else %}
                            <img src="{{ media.coverpath.url }}">
                            {% endif %}
                        </a>
                    </td>
                    <td class="text-cedule">
                        {{ media.title_pt_br }}
                    </td>
                    <td>{{media.author}}</td>
                    <td 
                        class="text-cedule {% if media.status == 'not_edited' %}not-edited{% elif media.status == 'to_review' %}to-review{% else %}published{% endif %}"
                    >
                        {{ media.get_status_display }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="submit-button" type="submit">Publicar</button>
    </form>
    {% else %}
        <p class="margin-top">Não há imagens</p>
    {% endif %}

{% endblock %}