{% extends 'base.html' %}
{% block title %}{{ media.title }} | {{ block.super }}{% endblock %}
{% block extra-head %}
<script type="text/javascript">
// JavaScript code goes here.
$(document).ready(function(){
        // Collapsible comments
        $(".show-comment").click(function(){
            $("#comment-box").slideToggle("slow");
            $(this).hide();
            $(".hide-comment").show();
            });
        $(".hide-comment").click(function(){
            $("#comment-box").slideToggle("slow");
            $(this).hide();
            $(".show-comment").show();
            }
        );

        // External DB hovers
        $(".biodb li").hover(
            function () {
                $(this).find(".external").fadeIn(200);
            },
            function () {
                $(this).find(".external").fadeOut(200);
            }
        );
});
</script>
<script type="text/javascript">
</script>
{% endblock %}
{% block content %}
{% load comments %}
<section class="span-16">
    {% if media %}
    <article id="single" class="{{ media.datatype }} {% show_set media.author_set.all 'author-' '' ' ' 'slug' %} {% show_set media.taxon_set.all 'taxon-' '' ' ' 'slug' %} size-{{ media.size.slug }} {% show_set media.source_set.all 'source-' '' ' ' 'slug' %} sublocation-{{ media.sublocation.slug }} city-{{ media.city.slug }} state-{{ media.state.slug }} country-{{ media.country.slug }} views-{{ media.view_count }}">
        <header class="span-16 last">
            <h1>{{ media.title }}</h1>
        </header>
        {% if media.is_public %}
        {% if media.tag_set.all %}
            <footer class="span-16 last media-tags">
            {% comment %}
            <span class="quiet">Marcadores:</span>
            {% endcomment %}
                {% show_set tags '' '' ', ' 'link' %}
            </footer>
        {% endif %}

        <figure class="span-13 {{ media.datatype }} borders">
            {% if media.datatype == 'photo' %}
                {% include 'photo.html' %}
            {% else %}
                {% if media.datatype == 'video' %}
                    {% include 'video.html' %}
                {% endif %}
            {% endif %}
            {% if media.caption %}
                <figcation class="span-13 last">{{ media.caption }}</figcaption>
                <div class="span-13 last align-right" id="author">{% show_set media.author_set.all '' '' ', ' '' %}</div>
            {% else %}
            <div class="span-13 last" id="author">
                {% show_set media.author_set.all '' '' ', ' '' %}
            </div>
            {% endif %}
        </figure>

        <div class="span-2 last border-top border-right border-bottom" id="sideinfo">
            <div class="border-bottom" id="views">
                {{ media.view_count }} visita{{ media.view_count|pluralize }}
            </div>
            {% if media.taxon_set.all %}
                {% include 'biodb.html' %}
            {% endif %}

            {% if media.size.name %}
            {% spaceless %}
            <div class="span-2 last border-top" id="size">
                <div class="size-{{ media.size.slug }}" id="size-string" title="Tamanho do organismo: {{ media.size }}">
                    {{ media.size }}
                </div>
                <div class="size-legend">
                    <div class="size-01-mm" title="<0,1 mm"></div>
                    <div class="size-01-10-mm" title="0,1 - 1,0 mm"></div>
                    <div class="size-10-10-mm" title="1,0 - 10 mm"></div>
                    <div class="size-10-100-mm" title="10 - 100 mm"></div>
                    <div class="size-100-mm" title=">100 mm"></div>
                </div>
            </div>
            {% endspaceless %}
            {% endif %}

        </div>

        <div class="span-13 last borders" id="meta">
            <div class="span-7 taxonomy">

                {% if media.taxon_set.all %}
                <strong>Táxon{{ media.taxon_set.all.count|pluralize }}:</strong> <span id="taxon">{% show_set media.taxon_set.all '' '' ', ' '' %}</span>
                <br />
                {% endif %}

                {% if media.source_set.all %}
                <strong>Especialista{{ media.source_set.all.count|pluralize }}:</strong> <span id="source">{% show_set media.source_set.all '' '' ', ' '' %}</span>
                {% endif %}
            </div>

            <div class="span-6 last location">
                {% if media.date and media.date|date:"Y" > "1910" %} 
                <strong>Data: </strong> <span id="date"><datetime>{{ media.date }}</datetime></span>
                <br />
                {% endif %}
                {% if media.sublocation.name or media.city.name or media.state.name or media.country.name %}
                    <strong>Local:</strong> 
                    {% if media.sublocation.name %}<span id="sublocation">{{ media.sublocation }},</span>{% endif %}
                    {% if media.city.name %}<span id="city">{{ media.city }},</span>{% endif %}
                    {% if media.state.name %}<span id="state">{{ media.state }},</span>{% endif %}
                    {% if media.country.name %}<span id="country">{{ media.country }}</span>{% endif %}
                <br />
                {% endif %}

                {% if media.geolocation %}
                <strong>Geolocalização:</strong> <a href="http://maps.google.com/maps?q={{ media.latitude }},{{ media.longitude }}" title="{{ media.geolocation }} no Google Maps">{{ media.geolocation }}</a>
                {% endif %}
            </div>
        </div>

        {% if media.notes %}
        <div id="notes" class="span-16 last">
            <h2>Notas</h2>
            {{ media.notes }}
            <hr>
        </div>
        {% endif %}

        {% show_related media form related %}

        {% if media.taxon_set.all %}
        {% for taxon in media.taxon_set.all %}
        <footer class="span-16 last quiet" id="breadcrumbs">
            <h2>Classificação</h2>
            {% taxon_paths taxon %}
        </footer>
        {% endfor %}
        {% endif %}

        {% get_comment_list for media as media_comments %}
        <div id="comments" class="span-16 last">
            {% get_comment_count for media as comment_count %}
            <div class="span-16 last">
                <div class="span-4">
                    <h2>Comentários ({{ comment_count }})</h2>
                </div>
                <div class="span-12 last">
                    <div class="show-comment borders">mostrar</div>
                    <div class="hide-comment borders">esconder</div>
                </div>
            </div>
            <div id="comment-box">
                {% if media_comments %}
                    <ul id="comment-list">
                    {% for comment in media_comments %}
                    <li>
                        <div id="user-name">
                            <a href="{{ comment.user_url }}">{{ comment.user_name }}</a> | <a href="{% get_comment_permalink comment %}" title="permalink">{{ comment.submit_date|date:"DATETIME_FORMAT" }}</a>
                        </div>
                        <div id="comment-itself">
                            {{ comment.comment }}
                        </div>
                    </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% render_comment_form for media %}
            </div>
        </div>

        {% if references %}
        <div class="span-16 last" id="references">
            <h2>Referências bibliográficas</h2>
            {% for ref in references %}
            <div class="citation">
            {% autoescape off %}{{ ref.citation }}{% endautoescape %}
            </div>
            {% endfor %}
            {% comment %}{% print_refs media.reference_set.all %}{% endcomment %}
        </div>
        {% endif %}

        {% else %}
        <div class="private span-16 last">Esta imagem ainda não está disponível.</div>
        {% endif %}
    </article>
    {% else %}
    <div class="nomatch span-16 last">Nenhuma imagem encontrada.</div>
    {% endif %}
</section>
{% endblock %}
{% block sidebar %}
<aside class="main span-8 last">
<div class="borders block shadow">
    {% include 'tree.html' %}
</div>
</aside>
{% endblock %}
