{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ media.title }} | {{ block.super }}{% endblock %}
{% block meta-keywords %}{% show_set tags '' '' ', ' '' %}, {% show_set authors '' '' ', ' '' %}, {% show_set taxa '' '' ', ' '' %}, {% show_set sources '' '' ', ' '' %}, {{ media.sublocation.name }}, {{ media.city.name }}, {{ media.state.name }}, {{ media.country.slug }}{% endblock %}
{% block meta-description %}{% if media.caption %}{{ media.caption }}{% else %}{{ media.title }}{% endif %} {% trans 'Por' %} {% show_set authors '' '' ', ' '' %}.{% endblock %}
{% block meta-author %}{% show_set authors '' '' ', ' '' %}{% endblock %}

{% block extra-head %}

<meta property="og:title" content="{{ media.title }}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="http://{{ request.get_host }}{{ MEDIA_URL }}{{ media.thumb_filepath }}" />
<meta property="og:description" content="{% if media.caption %}{{ media.caption }}{% else %}{{ media.title }}{% endif %}; {% show_set authors '' '' ', ' '' %}" />
<meta property="og:site_name" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />

{% if media.datatype == 'video' %}
<meta property="og:video" content="http://{{ request.get_host }}{{ MEDIA_URL }}{{ media.mp4_filepath }}" />
<meta property="og:video:height" content="{{ height }}" />
<meta property="og:video:width" content="512" />
<meta property="og:video:type" content="application/x-shockwave-flash" />
<meta property="og:type" content="cifonauta:video" />
{% else %}
<meta property="og:type" content="cifonauta:photo" />
{% endif %}

<link rel="stylesheet" href="{{ STATIC_URL }}js/mediaelement/mediaelementplayer.css" type="text/css">

{% endblock %}

{% block content %}
<section class="span-16">
    {% if media %}
    <article id="single" class="{{ media.datatype }} {% show_set authors 'author-' '' ' ' 'slug' %} {% show_set taxa 'taxon-' '' ' ' 'slug' %} size-{{ media.size.slug }} {% show_set sources 'source-' '' ' ' 'slug' %} sublocation-{{ media.sublocation.slug }} city-{{ media.city.slug }} state-{{ media.state.slug }} country-{{ media.country.slug }} views-{{ pageviews }}">
        <header class="span-16 last">
            <h1>{{ media.title }}</h1>
        </header>
        {% if media.is_public %}
        {% if tags %}
            <footer class="span-16 last media-tags">
                {% show_set tags '' '' ', ' 'link' %}
            </footer>
        {% endif %}

        <figure class="span-13 {{ media.datatype }} borders">
            {% if media.datatype == 'photo' %}
                {% include 'photo.html' %}
            {% else %}
                {% if media.datatype == 'video' %}
                    {% include 'video.html' %}
                {% endif %}
            {% endif %}
            {% if media.caption %}
                <figcation class="span-13 last">{% if media.datatype == 'video' %}<span class="quiet" id="media-duration">{{ media.duration|slice:'3:' }}</span>{% endif %}{{ media.caption }}</figcaption>
                <div class="span-13 last align-right" id="author">{% show_set authors '' '' ', ' '' %}</div>
            {% else %}
                <div class="span-13 last" id="author">{% show_set authors '' '' ', ' '' %}{% if media.datatype == 'video' %}<span class="quiet" id="media-duration">{{ media.duration|slice:'3:' }}</span>{% endif %}</div>
            {% endif %}
        </figure>

        <div class="span-2 last border-top border-right border-bottom sideinfo" id="media-sideinfo">
            <div class="border-bottom" id="views">
                {{ pageviews }} {% trans 'visita' %}{{ pageviews|pluralize }}
            </div>
            {% if taxa %}
                {% include 'biodb.html' %}
            {% endif %}

            {% if media.size.name %}
            {% spaceless %}
            <div class="span-2 last border-top" id="size">
                <div class="size-{{ media.size.slug }}" id="size-string" title="Tamanho do organismo: {{ media.size }}">
                    {{ media.size }}
                </div>
                <div class="size-legend">
                    <div class="size-01-mm" title="<0,1 mm"></div>
                    <div class="size-01-10-mm" title="0,1 - 1,0 mm"></div>
                    <div class="size-10-10-mm" title="1,0 - 10 mm"></div>
                    <div class="size-10-100-mm" title="10 - 100 mm"></div>
                    <div class="size-100-mm" title=">100 mm"></div>
                </div>
            </div>
            {% endspaceless %}
            {% endif %}

        </div>

        <div class="span-13 last borders" id="meta">
            <div id="citethis" class="span-13">
                <div>
                    {% show_set authors '' '' ', ' '' '' '.' %} <strong>{{ media.title }}</strong>. {% blocktrans with host=request.META.HTTP_HOST media_url=media.get_absolute_url %}Banco de imagens <em>Cifonauta</em>. Disponível em: <a href="{{ media_url }}">http://{{ host }}{{ media_url }}</a> Acesso em:{% endblocktrans %} {% now "Y-m-d" %}.
                </div>
                <div class="align-right quiet">{% blocktrans %}Conheça os <a href="/termos/">termos de uso</a>.{% endblocktrans %}</div>
            </div>
            <div class="span-7 taxonomy">

                {% if taxa %}
                <strong>{% blocktrans count taxa.count as counter %}Táxon{% plural %}Táxons{% endblocktrans %}:</strong> <span id="taxon">{% show_set taxa '' '' ', ' '' %}</span>
                <br>
                {% endif %}

                {% if sources %}
                <strong>{% blocktrans count sources.count as counter %}Especialista{% plural %}Especialistas{% endblocktrans %}:</strong> <span id="source">{% show_set sources '' '' ', ' '' %}</span>
                {% endif %}
            </div>

            <div class="span-6 last location">
                {% if media.date and media.date|date:"Y" > "1910" %} 
                <strong>{% trans 'Data' %}: </strong> <span id="date"><datetime>{{ media.date|date:"DATETIME_FORMAT" }}</datetime></span>
                <br>
                {% endif %}
                {% comment %} Retirar o "name" desnecessário... {% endcomment %}
                {% if media.sublocation.name or media.city.name or media.state.name or media.country.name %}
                <strong>{% trans 'Local' %}:</strong> 
                    {% if media.sublocation.name %}<span id="sublocation">{{ media.sublocation }},</span>{% endif %}
                    {% if media.city.name %}<span id="city">{{ media.city }},</span>{% endif %}
                    {% if media.state.name %}<span id="state">{{ media.state }},</span>{% endif %}
                    {% if media.country.name %}<span id="country">{{ media.country }}</span>{% endif %}
                <br>
                {% endif %}

                {% if media.geolocation %}
                <strong>{% trans 'Geolocalização' %}:</strong> <a href="http://maps.google.com/maps?q={{ media.latitude }},{{ media.longitude }}" title="{{ media.geolocation }} no Google Maps">{{ media.geolocation }}</a>
                {% endif %}
            </div>
        </div>
        <div class="span-2 last border-top border-right border-bottom sideinfo" id="cite-sideinfo">
            {% trans 'como citar' %}
        </div>

        {% if media.notes %}
        <div id="notes" class="span-16 last">
            <h2>{% trans 'Notas' %}</h2>
            {{ media.notes }}
        </div>
        {% endif %}

        {% show_related media form related %}

        {% if taxa %}
        {% for taxon in taxa %}
        <div class="span-16 last quiet" id="breadcrumbs">
            <h2>{% trans 'Classificação' %}</h2>
            {% taxon_paths taxon %}
        </div>
        {% endfor %}
        {% endif %}

        {% if references %}
        <div class="span-16 last" id="references">
            <h2>{% trans 'Referências bibliográficas' %}</h2>
            {% for ref in references %}
            <div class="citation">
            {% autoescape off %}{{ ref.citation }}{% endautoescape %}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div id="comments" class="span-16 last">
            <!-- Disqus -->
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'cifonauta';
                var disqus_identifier = '{{ media.datatype }}_{{ media.id }}';
                var disqus_url = '{{ request.build_absolute_uri }}';
                var disqus_developer = 1; // developer mode is on

                (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>{% trans 'Por favor ative o Javascript para ver os <a href="http://disqus.com/?ref_noscript">comentários.' %}</a></noscript>
        </div>


        {% else %}
        <div class="private span-16 last">{% trans 'Esta imagem não está disponível.' %}</div>
        {% endif %}
    </article>
    {% else %}
    <div class="nomatch span-16 last">{% trans 'Nenhuma imagem encontrada.' %}</div>
    {% endif %}
</section>
{% endblock %}
{% block sidebar %}
<aside class="main span-8 last">

{% comment %}Plugins sociais{% endcomment %}
<div class="align-center borders block shadow">
    {% include 'social.html' %}
</div>

{% comment %}Hierarquia taxonômica{% endcomment %}
<div class="borders block shadow">
    {% show_tree taxa %}
</div>

{% comment %}Admin{% endcomment %}
{% if user.is_authenticated %}
<div class="borders block shadow" id="admin-controls">
    {% include 'admin_tools.html' %}
</div>
{% endif %}

</aside>
{% endblock %}

{% block extra-foot %}
<script src="{{ STATIC_URL }}js/mediaelement/mediaelement-and-player.min.js" type="text/javascript"></script>

<script type="text/javascript">
    // MediaElement.js
    $('video').mediaelementplayer({
        mode: 'shim',
        //enableAutosize: true,
        features: ['playpause','progress','current','duration','tracks','volume','fullscreen'],
    });

    // JavaScript code goes here.
    $(document).ready(function(){
        // External DB hovers
        $(".biodb li").hover(
            function () {
                $(this).find(".external").fadeIn(200);
            },
            function () {
                $(this).find(".external").fadeOut(200);
            }
        );

        // Collapsible cite 
        $("#cite-sideinfo").click(function(){
            $("#citethis").slideToggle();
            $(this).toggleClass("bg-merge");
            });
        });
</script>
{% endblock %}
