{% extends 'dashboard.html' %}

{% block title %}Revisão de Mídias{% endblock %}

{% block dashboard_content %}

{% if object_list %}
<h2>Lista das mídias para revisão</h2>
<table class="table">
    <thead class="table-head">
        <tr>
            <th class="title-column">Título</th>
            <th class="image-column">Imagem</th>
            <th class="status-column">Status</th>
            <th class="modification-date">Data de Modificação</th>
            <th class="file">Caminho</th>
        </tr>
    </thead>
    <tbody class="table-body">
        {% for media in object_list %}
        <tr>
            <td class="text-cedule">
                <a href="{% url 'update_media' media.id %}">{{ media.title_pt_br }}</a>
            </td>
            <td class="image-cedule">
                <a href="{{ media.file.url }}" target="_blank">
                    <img src="{{ media.file.url }}" width="250px">
                </a>
            </td>
            <td 
                class="text-cedule {% if media.status == 'not_edited' %}not-edited{% elif media.status == 'to_review' %}to-review{% else %}published{% endif %}"
            >
                {{ media.get_status_display }}
            </td>
            <td>{{ media.timestamp }}</td>
            <td>{{ media.file }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
    <p>Não há imagens</p>
{% endif %}

{% endblock %}