{% load i18n %}

<div id="messages">
    {% if images.paginator.count or videos.paginator.count %}
    <div class="success">
        {% if images.paginator.count %}
        {{ images.paginator.count }} {% trans 'foto' %}{{ images.paginator.count|pluralize }} {% endif %}{% if images.paginator.count and videos.paginator.count %}{% trans 'e' %} {% endif %}{% if videos.paginator.count %}{{ videos.paginator.count }} {% trans 'vídeo' %}{{ videos.paginator.count|pluralize }} {% endif %}
    </div>
    {% endif %}

    {% if not images.paginator.count or not videos.paginator.count %}
    <div class="notice">
        {% if not videos.paginator.count and not images.paginator.count %}
            {% trans 'Nenhuma foto e nenhum vídeo' %}
        {% else %}
            {% if not images.paginator.count %}
                {% trans 'Nenhuma foto' %}
            {% else %}
                {% trans 'Nenhum vídeo' %}
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>
