{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{{ meta.name }} | {% trans field %}{% if field == 'tag' %} ({{ meta.parent|lower }}){% else %}{% if field == 'taxon' %} ({% if meta.rank %}{{ meta.rank|lower }}{% else %}{% trans 'sem ranking' %}{% endif %}){% endif %}{% endif %} | {{ block.super }}
{% endblock %}

{% block meta-keywords %}{{ meta.name }}, {{ meta.parent }}{% endblock %}
{% block meta-description %}{{ meta.description }}{% endblock %}

{% block extra-head %}

<meta property="og:title" content="{{ meta.name }}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="cifonauta:tag" />
<meta property="og:image" content="http://{{ request.get_host }}{{ MEDIA_URL }}{{ image_list.1.filepath }}" />
<meta property="og:description" content="{{ meta.description }}" />
<meta property="og:site_name" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />


<link rel="alternate" type="application/rss+xml" title="{% trans 'Cifonauta: fotos e vídeos' %} ({{ field }}={{ meta.name }})" href="/{{ field }}/{{ meta.slug }}/feed/all/" />
<link rel="alternate" type="application/rss+xml" title="{% trans 'Cifonauta: fotos' %} ({{ field }}={{ meta.name }})" href="/{{ field }}/{{ meta.slug }}/feed/photos/" />
<link rel="alternate" type="application/rss+xml" title="{% trans 'Cifonauta: vídeos' %} ({{ field }}={{ meta.name }})" href="/{{ field }}/{{ meta.slug }}/feed/videos/" />

{% endblock %}

{% block content %}
<section class="span-16">
<header>
<div class="quiet" id="metafield">
  {% trans field %}{% if field == 'tag' %} ({{ meta.parent|lower }}){% else %}{% if field == 'taxon' %} ({% if meta.rank %}{{ meta.rank|lower }}{% else %}{% trans 'sem ranking' %}{% endif %}){% endif %}{% endif %}:
</div>
<h1>{{ meta|sp_em }} <span class="feed-icon"><a href="/{{ field }}/{{ meta.slug }}/feed/all/" title="{% trans 'Cifonauta: fotos e vídeos' %} ({{ field }}={{ meta.name }})"><img src="{{ STATIC_URL }}feed.png" alt="RSS" /></a></span></h1>

{% if meta.citation %}
<div id="citation">
  <p>
  {% autoescape off %}
  {{ meta.citation }}
  {% endautoescape %}
  </p>
</div>
{% endif %}

</header>

{% if media_list %}
  {% include 'gallery.html' %}
{% else %}
  <h2>{% trans 'Nenhuma imagem encontrada.' %}</h2>
{% endif %}

</section>

{% endblock %}

{% block sidebar %}
<aside class="span-8 last">
<div class="block shadow">
  <form action="{{ request.path }}" method="post">
    <input type="submit" value="{% trans 'Atualizar' %}" class="fashion" id="display-top" />
    {{ n_form.as_p}}
    <input type="submit" value="{% trans 'Atualizar' %}" class="fashion" id="display-bottom" />
    {% csrf_token %}
  </form>
</div>

</aside>
{% endblock %}
