{% extends 'base.html' %}
{% block title %}
{{ meta.name }} | {{ field|fielter }}{% if field == 'tag' %} ({{ meta.parent }}){% else %}{% if field == 'taxon' %} ({{ meta.rank }}){% endif %}{% endif %} | {{ block.super }}
{% endblock %}

{% block content %}
<section class="span-16">
    <header>
        <div class="quiet" id="metafield">
            {{ field|fielter }}{% if field == 'tag' %} ({{ meta.parent }}){% else %}{% if field == 'taxon' %} ({{ meta.rank }}){% endif %}{% endif %}:
        </div>
        <h1>{{ meta|sp_em }}</h1>
    </header>
    {% include 'gallery.html' %}
</section>
{% endblock %}
{% block sidebar %}
<aside class="span-8 last">
{% show_info image_list video_list queries %}
</aside>
{% endblock %}
