{% extends 'dashboard.html' %}
{% load static custom_filters %}

{% block extra_head %}
<script src="{% static 'js/update_media.js' %}" defer></script>
{% endblock %}

{% block title %}Atualizar Mídia{% endblock %}

{% block dashboard_content %}

<div class="form-container">
    <h2>Alterações feitas pelo autor</h2>
    {% if messages %}
    <div class="messages-div">
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </span>
    {% endfor %}
    </div>
    {% endif %}
    <form class="modified-media-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="media-infos">
            <div>
                <p>Mídia:</p>
                <a href="{{ media.file.url }}" target="_blank">
                    {% if media.is_video %}
                    <video class="media-cover" src="{{ media.coverpath.url }}"></video>
                    {% else %}
                    <img class="media-cover" src="{{ media.coverpath.url }}">
                    {% endif %}
                </a>
            </div>
            <div>
                <p>Autor:</p>
                <div>{{ media.author }}</div>
            </div>
            <div>
                <p>Data de modificação:</p>
                <div>{{ media.date_modified }}</div>
            </div>
        </div>
        <table class="comparison-table">
            <thead class="comparison-table-head">
                <tr>
                    <th class='comparison-label-column'></th>
                    <th>Original</th>
                    <th>Novo</th>
                </tr>
            </thead>
            <tbody class="comparison-table-body">
                {% for field in fields %}
                <tr class="comparison-row {% if media|get_attribute:field.name != modified_media|get_attribute:field.name%}highlight-difference{% endif %}">
                    <td class="comparison-label-row">
                        <label>
                            {{ field.label }}
                        </label>
                        {% if field.required %}
                        <span class='required'>*</span>
                        {% endif %}
                    </td>
                    <td>{{ media|get_attribute:field.name }}</td>
                    <td>{{ modified_media|get_attribute:field.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class='buttons-div'>
            <button class='primary-button submit-button' type="submit" name="action" value="accept">Aceitar alterações</button>
            <button class='primary-button cancel-button' type="submit" name="action" value="discard" formnovalidate>Descartar alterações</button>
        </div>
    </form>
</div>



{% endblock %}
