{% extends 'dashboard.html' %}
{% load static custom_filters %}

{% block extra_head %}
<script src="{% static 'js/adm_select_all_records.js' %}" defer></script>
<script src="{% static 'js/adm_modal.js' %}" defer></script>
<script src="{% static 'js/adm_create_entry.js' %}" defer></script>
<script src="{% static 'js/my_media_list.js' %}" defer></script>
{% endblock %}

{% block title %}Lista de Mídias{% endblock %}

{% block dashboard_content %}

<h2>Lista de suas mídias</h2>

{% if messages %}
<div class="messages-div hide-messages-animation">
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </span>
    {% endfor %}
</div>
{% endif %}

{% if object_exists %}
<section class="table-section">
    {% include 'dashboard_filter_aside.html' %}

    <form method="post" class="post-form-wrapper">
        {% csrf_token %}

        {% include 'dashboard_actions_modal.html' %}

        {% if entries.object_list %}
        <div class='table-top'>
            <button data-open-modal="group-action" type="button" id="open-modal-button" class="primary-button action-button">Ações em lotes</button>
            {% if entries.paginator.num_pages > 1 %}
            {% include 'pagination.html' %}
            {% endif %}
            {% comment %} TODO: make it a form {% endcomment %}
            <div class="entries-number-form">
                <span>Mostrar</span>
                <input type="number" name="entries_number" class="entries-number-form__input" id="entries-number" value="{{ records_number }}" min="1">
                <span>registros</span>
                <button type="submit" name="action" value="entries_number" data-entries-number-form-submit class="entries-number-form__submit">
                    <img src="{{ STATIC_URL }}img/reload.svg" alt="">
                </button>
            </div>
        </div>
        
        <div class="table-wrapper">
            <table class="dashboard-table">
                <thead class="table-head">
                    <tr>
                        <th><input type="checkbox" id="select-all-records" class="dashboard-input"></th>
                        <th class="no-shrink-cell">Mídia</th>
                        <th class="no-shrink-cell">Título</th>
                        <th class="">Tipo de mídia</th>
                        <th class="">Status</th>
                        <th class="no-shrink-cell">Curadorias</th>
                        <th class="no-shrink-cell">Data de Modificação</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    {% for media in entries.object_list %}
                    <tr>
                        <td>
                            <input type="checkbox" class="selected-record dashboard-input" name="selected_media_ids" value="{{ media.id }}">
                        </td>
                        <td class="image-cedule">
                            <a href="{% url 'my_media_details' pk=media.pk %}" class="media-wrapper-td">
                              <img src="{{ media.coverpath.url }}">
                            </a>
                        </td>
                        <td class="text-cedule">
                            {% if media.title_pt_br %}
                            {{ media.title_pt_br }}
                            {% endif %}
                        </td>
                        <td>
                            {% if media.datatype == 'video' %}
                            Vídeo
                            {% else %}
                            Imagem
                            {% endif %}
                        </td>
                        <td class="text-cedule">
                            <span class="media-status {% if media.status == 'draft' %}not-edited{% elif media.status == 'submitted' %}to-review{% else %}published{% endif %}">
                                {{ media.get_status_display }}
                            </span>
                        </td>
                        <td>
                            <ul class="curations-list">
                                {% get_media_curations media as curations %}
                                {% for curation in curations %}
                                <li>
                                    {{ curation }}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ media.date_modified }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="table-bottom">
            {% if entries.paginator.num_pages > 1 %}
            {% include 'pagination.html' %}
            {% endif %}
        </div>

        {% else %}
        <p>
            Nenhum arquivo encontrado :(
        </p>
        {% endif %}
    </form>
</section>
{% else %}
<p>Não há mídias</p>
{% endif %}

{% if object_exists and entries.object_list %}
    {% include 'dashboard_taxa_modal.html' %}
{% endif %}

{% endblock %}
