{% load cache i18n %}

{% cache 2592000 feedback %}
<div id="feedback"><a href="/feedback/">feedback</a></div>
{% endcache %}

{% if user.is_authenticated %}
<span id="admin">
  <ul>
    <li><a href="/admin/">admin</a></li>
    <li><a href="/private/">privadas</a></li>
    <li><a href="/fixmedia/">fixmedia</a></li>
    <li><a href="/translate/">traduzir</a></li>
    <li><a href="{% url 'django.contrib.auth.views.logout' %}">logout</a></li>
  </ul>
</span>
{% else %}
<span id="admin">
  <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
</span>
{% endif %}

<div id="languages">
  <form action="/i18n/setlang/" method="post">
    {% csrf_token %}
    <select name="language">
      {% for lang in LANGUAGES %}
      <option value="{{ lang.0 }}"{% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>{{ lang.1 }}</option>
      {% endfor %}
    </select>
    {% comment %}<input type="submit" value="{% trans 'Ir' %}" />{% endcomment %}
  </form>
</div>

{% with fullpath=request.get_full_path %}
{% cache 2592000 menu LANGUAGE_CODE fullpath %}
<ul class="menu" id="media">
  <li>
  <a {% if fullpath == '/search/?type=photo' %}class="selected"{% endif %} href="/search/?type=photo">{% trans 'fotos' %}</a>
  </li>
  <li>
  <a {% if fullpath == '/search/?type=video' %}class="selected"{% endif %} href="/search/?type=video">{% trans 'vídeos' %}</a>
  </li>
  <li>
  <a {% if fullpath == '/tours/' %}class="selected"{% endif %} href="{% url 'tours_url' %}">{% trans 'tours' %}</a>
  </li>
  <li>
  <a {% if fullpath == '/taxa/' %}class="selected"{% endif %} href="{% url 'taxa_url' %}">{% trans 'táxons' %}</a>
  </li>
  <li>
  <a {% if fullpath == '/tags/' %}class="selected"{% endif %} href="{% url 'tags_url' %}">{% trans 'marcadores' %}</a>
  </li>
  <li>
  <a {% if fullpath == '/places/' %}class="selected"{% endif %} href="{% url 'places_url' %}">{% trans 'localidades' %}</a>
  </li>
  <li>
  <a {% if fullpath == '/authors/' %}class="selected"{% endif %} href="{% url 'authors_url' %}">{% trans 'autores' %}</a>
  </li>
  <li>
  <a {% if fullpath == '/literature/' %}class="selected"{% endif %} href="{% url 'refs_url' %}">{% trans 'referências' %}</a>
  </li>
</ul>
<ul class="menu" id="about">
  <li><a 
    {% if fullpath == '/' %}class="selected"{% endif %}href="/">{% trans 'home' %}</a>
  </li>
  <li><a 
    {% if fullpath == '/about/' or fullpath == '/content/' or fullpath == '/organization/' or fullpath == '/credits/' or fullpath == '/details/' or fullpath == '/development/' or fullpath == '/roadmap/' or fullpath == '/terms/' %}class="selected"{% endif %}href="/about/">{% trans 'sobre' %}</a>
  </li>
  <li>
  <a {% if fullpath == '/blog/' %}class="selected"{% endif %}href="/blog/">{% trans 'blog' %}</a>
  </li>
</ul>
{% endcache %}
{% endwith %}
