{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Organização do banco' %} | {{ block.super }}{% endblock %}

{% block meta-keywords %}{% trans 'Organização do banco' %}{% endblock %}
{% block meta-description %}{% blocktrans %}As fotos e vídeos podem ser pesquisadas por meio de informações básicas (metadados), como espécie, localidade, autor, tamanho, etc. Estes marcadores organizados em categorias como técnica fotográfica, estágio de vida, habitat, etc, deixam a navegação mais informativa e interessante.{% endblocktrans %}{% endblock %}
{% block meta-author %}Alvaro E. Migotto, Bruno C. Vellutini{% endblock %}

{% block extra-head %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/organization_page.css">
<meta property="og:title" content="{% trans 'Organização do banco' %}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{% blocktrans %}As fotos e vídeos podem ser pesquisadas por meio de informações básicas (metadados), como espécie, localidade, autor, tamanho, etc. Estes marcadores organizados em categorias como técnica fotográfica, estágio de vida, habitat, etc, deixam a navegação mais informativa e interessante.{% endblocktrans %}" />
<meta property="og:site_name" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />

{% endblock %}

{% block content %}
<section class="section_organization">
<header class="last"><h1>{% trans 'Organização do banco' %}</h1></header>

<p>{% blocktrans %}As fotos e vídeos do <strong>Cifonauta</strong> podem ser pesquisadas por meio de informações básicas (metadados), como espécie, localidade, autor, tamanho, etc. Estes marcadores organizados em categorias como técnica fotográfica, estágio de vida, habitat, etc, deixam a navegação mais informativa e interessante. Por exemplo, você pode querer procurar <a href="/search/?tag=campo-escuro,larva&taxon=crustacea">fotos de larvas de crustáceos tiradas em campo escuro</a>, ou apenas navegar pelos <a href="/search/?tag=adulto,planctonico">estágios adultos de organismos planctônicos</a>. A categorização das imagens e a descrição de cada marcador (com um exemplo aleatório) encontra-se abaixo.{% endblocktrans %}</p>

<h2>{% trans 'Táxons' %}</h2>

<p>{% blocktrans %}A classificação biológica utilizada não adota nenhuma proposta em particular e é construída automaticamente a partir do banco de dados do <a href="http://www.itis.gov/">ITIS</a>. Usando o nome do táxon (contido na imagem) conseguimos recuperar sua hierarquia taxonômica completa e construir uma árvore simples para navegação. Portanto, nem sempre a classificação estará de acordo com os últimos avanços de cada área; ela reflete quase estritamente os dados do ITIS. Somente em alguns casos, editamos manualmente a hierarquia para a proposta de classificação seguida pelo autor (ou especialista) que identificou a espécie.{% endblocktrans %}</p>

<h2>{% trans 'Escala' %}</h2>

<p>{% blocktrans %}Para dar uma ideia das dimensões dos organismos, criamos 5 classes de tamanho arbitrariamente. A fauna bentônica recebeu uma classificação adicional de tamanho: macrofauna, meiofauna e microfauna (ver item Modo de Vida, abaixo). Fotos dos ambientes não contêm informações de tamanho, mas caso estejam ilustrando algum organismo (por exemplo, cracas no costão), podem vir acompanhadas da escala relativa a esse organismo. As classes de tamanho são:{% endblocktrans %}</p>

{% comment %}<table>{% endcomment %}
    {% comment %}<tr>{% endcomment %}
        {% comment %}<th>{% trans 'Descrição' %}</th>{% endcomment %}
        {% comment %}<th>{% trans 'Exemplo' %}</th>{% endcomment %}
    {% comment %}</tr>{% endcomment %}
    {% comment %}{% for tag in sizes.tags.all %}{% endcomment %}
    {% comment %}<tr>{% endcomment %}
        {% comment %}<td class="bold">{% endcomment %}
            {% comment %}{{ tag }}{% endcomment %}
            {% comment %}<p class="description-text">{% if tag.description %}{{ tag.description }}{% endif %}</p>{% endcomment %}
        {% comment %}</td>{% endcomment %}
        {% comment %}<td>{% print_thumb 'tags' tag %}</td>{% endcomment %}
    {% comment %}</tr>{% endcomment %}
    {% comment %}{% endfor %}{% endcomment %}
{% comment %}</table>{% endcomment %}

<h2>{% trans 'Técnicas fotográficas' %}</h2>
<p>{% blocktrans %}As diferentes técnicas utilizadas para capturar as imagens do banco foram divididas em 4 categorias: <strong>submersa</strong>, <strong>macrofotografia</strong>, <strong>paisagem</strong> e <strong>microscopia</strong>. Para abarcar a variedade de técnicas de microscopia este último foi subdividido. Segue então a lista dos marcadores referentes às técnicas fotográficas:{% endblocktrans %}</p>

<table>
    <tr>
        <th>{% trans 'Descrição' %}</th>
        <th>{% trans 'Exemplo' %}</th>
    </tr>
    {% for tag in technique.tags.all %}
    <tr>
        <td class="bold">{{ tag }}
            <p class="description-text">{% if tag.description %}{{ tag.description }}{% endif %}</p>
        </td>
        <td>{% print_thumb 'tags' tag %}</td>
    </tr>
    {% endfor %}
</table>

<table>
    <tr>
        <th>{% trans 'microscopia' %}</th>
        <th></th>
    </tr>
    {% for tag in microscopy.tags.all %}
    <tr>
        <td class="bold">
            {{ tag }}
            <p class="description-text">{% if tag.description %}{{ tag.description }}{% endif %}</p>
        </td>
        <td>{% print_thumb 'tags' tag %}</td>
    </tr>
    {% endfor %}
</table>

<h2>{{ stage.name }}</h2>
<p>{{ stage.description }}</p>

<table>
    <tr>
        <th>{% trans 'Descrição' %}</th>
        <th>{% trans  'Exemplo' %}</th>
    </tr>
    {% for tag in stages %}
    <tr>
        <td class="bold">
            {{ tag }}
            <p class="description-text">{% if tag.description %}{{ tag.description }}{% endif %}</p>
        </td>
        <td>{% print_thumb 'tags' tag %}</td>
    </tr>
    {% endfor %}
</table>

<h2>{{ habitat.name }}</h2>
<p>{{ habitat.description }}</p>

<table>
    <tr>
        <th>{% trans 'Descrição' %}</th>
        <th>{% trans 'Exemplo' %}</th>
    </tr>
    {% for tag in habitat.tags.all %}
    <tr>
        <td class="bold">
            {{ tag }}
            <p class="description-text">{% if tag.description %}{{ tag.description }}{% endif %}</p>
        </td>
        <td>{% print_thumb 'tags' tag %}</td>
    </tr>
    {% endfor %}
</table>

<h2>{{ assorted.name }}</h2>
<p>{{ assorted.description }}</p>

<table>
    <tr>
        <th>{% trans 'Descrição' %}</th>
        <th>{% trans 'Exemplo' %}</th>
    </tr>
    {% for tag in assorted.tags.all %}
    <tr>
        <td class="bold">
            {{ tag }}
            <p class="description-text">{% if tag.description %}{{ tag.description }}{% endif %}</p>
        </td>
        <td>{% print_thumb 'tags' tag %}</td>
    </tr>
    {% endfor %}
</table>

</section>
{% endblock %}
{% block sidebar %}
<aside class="span-8 last">
{% include 'sobremenu.html' %}
</aside>
{% endblock %}
