{% extends 'base.html' %}
{% load i18n %}
{% comment %}
Mostra todas as localidades em 4 colunas. Código bem objetivo, usando icount para contar linhas da tabela.
{% endcomment %}
{% block title %}{% trans 'Localidades' %} | {{ block.super }}{% endblock %}
{% block content %}
<section class="span-24 last">
<header><h1>{% trans 'Localidades' %}</h1></header>

    <div id="sublocations" class="span-6">
        <h2>{% trans 'Locais' %}</h2>
        <ul class="tags">
        {% for subloc in sublocations %}
            <li>
            <div>
                <div class="tag-item">
                <a href="{{ subloc.get_absolute_url }}">{{ subloc.name }}</a>
                </div>
                <div class="tag-count quiet">{{ subloc|icount:'sublocation' }}</div>
            </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="cities" class="span-6">
        <h2>{% trans 'Cidades' %}</h2>
        <ul class="tags">
        {% for city in cities %}
            <li>
            <div>
                <div class="tag-item">
                <a href="{{ city.get_absolute_url }}">{{ city.name }}</a>
                </div>
                <div class="tag-count quiet">{{ city|icount:'city' }}</div>
            </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="states" class="span-6">
        <h2>{% trans 'Estados' %}</h2>
        <ul class="tags">
        {% for state in states %}
            <li>
            <div>
                <div class="tag-item">
                <a href="{{ state.get_absolute_url }}">{{ state.name }}</a>
                </div>
                <div class="tag-count quiet">{{ state|icount:'state' }}</div>
            </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="countries" class="span-6 last">
        <h2>{% trans 'Países' %}</h2>
        <ul class="tags">
        {% for country in countries %}
            <li>
            <div>
                <div class="tag-item">
                <a href="{{ country.get_absolute_url }}">{{ country.name }}</a>
                </div>
                <div class="tag-count quiet">{{ country|icount:'country' }}</div>
            </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}

{% block sidebar %}
{% endblock %}
