{% extends 'base.html' %}
{% load i18n %}
{% comment %}
Mostra todas as localidades em 4 colunas. Código bem objetivo, usando icount para contar linhas da tabela.
{% endcomment %}
{% block title %}{% trans 'Localidades' %} | {{ block.super }}{% endblock %}
{% block meta-keywords %}{% trans 'locais, biologia marinha, biodiversidade' %}{% endblock %}
{% block meta-description %}{% trans 'Localidades incluídas no banco de imagens Cifonauta.' %}{% endblock %}
{% block meta-author %}Alvaro E. Migotto, Bruno C. Vellutini{% endblock %}

{% block extra-head %}
<meta property="og:title" content="{% trans 'Localidades' %}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="{% trans 'Localidades incluídas no banco de imagens Cifonauta.' %}" />
<meta property="og:site_name" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />
<meta property="og:type" content="article" />
{% endblock %}
{% block content %}
<section class="span-24 last">
<header><h1>{% trans 'Localidades' %}</h1></header>

    <div id="locations" class="span-5 metagroup">
        <h2>{% trans 'Locais' %}</h2>
        {% print_metalist locations 'location' %}
    </div>
    <div id="cities" class="span-5 metagroup">
        <h2>{% trans 'Cidades' %}</h2>
        {% print_metalist cities 'city' %}
    </div>
    <div id="states" class="span-5 metagroup">
        <h2>{% trans 'Estados' %}</h2>
        <ul class="metalist">
        {% print_metalist states 'state' %}
    </div>
    <div id="countries" class="span-5 last metagroup">
        <h2>{% trans 'Países' %}</h2>
        {% print_metalist countries 'country' %}
    </div>
</section>
{% endblock %}

{% block sidebar %}
{% endblock %}
