{% extends 'dashboard.html' %}
{% load static %}

{% block extra_head %}
<script src="{% static 'js/update_media.js' %}" defer></script>
{% endblock %}

{% block title %}Atualizar Mídia{% endblock %}

{% block dashboard_content %}

<div class="form-container">
    <h2>Alterações feitas pelo autor</h2>
    {% if messages %}
    <div class="messages-div">
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </span>
    {% endfor %}
    </div>
    {% endif %}
    <form class="update-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field-container">
            <div class="label-div">
                <label>
                    Mídia:
                </label>
            </div>
            <div class="field-div media-div">
                <a href="{{ media.file.url }}" target="_blank">
                    {% if media.is_video %}
                    <video src="{{ media.coverpath.url }}"></video>
                    {% else %}
                    <img src="{{ media.coverpath.url }}">
                    {% endif %}
                </a>
                <span class="help-text">{{ media.sitepath.help_text }}</span>
            </div>
        </div>
        <div class='buttons-div'>
            <button class='submit-button' type="submit" name="action" value="accept">Aceitar alterações</button>
            <button class='cancel-button' type="submit" name="action" value="discard" formnovalidate>Descartar alterações</button>
        </div>
    </form>
</div>



{% endblock %}