{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Referências' %} | {{ block.super }}{% endblock %}
{% block meta-keywords %}{% trans 'referências, biologia marinha, biodiversidade' %}{% endblock %}
{% block meta-description %}{% trans 'Referências bibliográficas citadas no banco de imagens Cifonauta.' %}{% endblock %}
{% block meta-author %}Alvaro E. Migotto, Bruno C. Vellutini{% endblock %}

{% block extra-head %}
<meta property="og:title" content="{% trans 'Referências' %}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="{% trans 'Referências bibliográficas citadas no banco de imagens Cifonauta.' %}" />
<meta property="og:site_name" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />
<meta property="og:type" content="article" />
{% endblock %}

{% block content %}

<section class="span-24 last">

<header><h1>{% trans 'Referências' %}</h1></header>

<div class="span-4"><h2>{% trans 'Exemplo' %}</h2></div>
<div class="span-15"><h2>{% trans 'Citação' %}</h2></div>
<div class="span-5 last"><h2>{% trans 'Veja mais' %}</h2></div>

{% for ref in references %}
{% if ref.images.all %}
<div class="span-24 last citation">
  <div class="span-4">
    {% print_thumb 'reference' ref %}
  </div>
  <div class="span-15">
    {% autoescape off %}
    {{ ref.citation }}
    {% endautoescape %}
  </div>
  <div class="span-5 last">
    <a href="{{ ref.get_absolute_url }}">{% blocktrans count ref.image_count|add:ref.video_count as counter %}{{ counter }} imagem ligada à este trabalho.{% plural %}{{ counter }} imagens ligadas à este trabalho.{% endblocktrans %}</a>
  </div>
</div>
{% endif %}
{% endfor %}

</section>
{% endblock %}
