{% load i18n %}
<div id="related-form" class="span-15 last">
    <form action="." method="post">
        <div class="span-9" id="crumbs">
        {{ form.type.label_tag }}<strong> {{ type }}:</strong>
        <span class="quiet">
            {% if not crumbs %}
            {% trans 'Esta imagem não tem' %} {{ type }}.
            {% else %}
                {% if crumbs|islist %}
                    {% show_set crumbs '' '' ', ' '' %}
                {% else %}
                    {{ crumbs }}
                {% endif %}
            {% endif %}
        </span>
        </div>
        <div class="span-5 last" id="navbox">
            {{ form.type }}
            <input type="submit" value="{% trans 'Trocar' %}" class="fashion" /> 
        </div>
        {% csrf_token %}
    </form>
</div>

{% if rel_media %}
<div id="related" class="span-16 last">
    <ul class="rel-thumbs">
        {% for media in rel_media %}
            {% if media.id == current.id %}
            <li class="shadow size-{{ media.size.slug }} current">
            <img src="/{{ media.thumb_filepath }}" alt="{{ media.title }}" title="{{ media.title }}" />
            {% if relative.next or relative.previous %}
                {% if not relative.next %}
                <div id="next-last">{% trans 'última' %}</div>
                {% endif %}
                {% if not relative.previous %}
                <div id="prev-first">{% trans 'primeira' %}</div>
                {% endif %}
            {% endif %}

            </li>
            {% else %}
            <li class="shadow size-{{ media.size.slug }}">
            {% include 'thumb.html' %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% if relative.previous or relative.next %}
<div id="linear-nav" class="span-13 last">
    <div class="linear" id="prev">
        {% if relative.previous %}
        +{{ relative.behind }} 
        <a href="{{ relative.previous.get_absolute_url }}" title="{{ relative.previous.title }}">
            {% autoescape on %}&lt;&lt; {% endautoescape %}{% trans 'anterior' %}
        </a>
        {% endif %}
    </div>
    <div class="linear" id="next">
        {% if relative.next %}
        <a href="{{ relative.next.get_absolute_url }}" title="{{ relative.next.title }}">
            {% trans 'próxima' %}{% autoescape on %} &gt;&gt;{% endautoescape %}</a> +{{ relative.ahead }}
        
        {% endif %}
    </div>
</div>
{% endif %}
<div class="span-13 last quiet" id="total">
    {% with relative.behind|add:relative.ahead|add:1 as n %}
    {{ n }} {% if current.datatype == 'photo' %}{% blocktrans count n as counter %}imagem{% plural %}imagens{% endblocktrans %}{% else %}{% if current.datatype == 'video' %}{% blocktrans count n as counter %}vídeo{% plural %}vídeos{% endblocktrans %}{% endif %}{% endif %}
    {% endwith %}
</div>
{% endif %}
