{% if rel_media %}
<div id="related" class="span-16 last">
    <ul class="rel-thumbs">
        {% for media in rel_media %}
            {% if media.id == media_id %}
            <li class="shadow size-{{ media.size.slug }} current">
                <img src="/{{ media.thumb_filepath }}" alt="{{ media.title }}" title="{{ media.title }}" />
                <div class="linear" id="{% if relative.previous %}prev{% else %}prev-first{% endif %}">
                    {% if relative.previous %}
                    +{{ relative.behind }} 
                    <a href="{{ relative.previous.get_absolute_url }}" title="{{ relative.previous.title }}">
                        {% autoescape on %}&lt;&lt; {% endautoescape %}anterior
                    </a>
                    {% else %}
                    {% autoescape on %}{% endautoescape %}primeira
                    {% endif %}
                </div>
                <div class="linear" id="{% if relative.next %}next{% else %}next-last{% endif %}">
                    {% if relative.next %}
                    <a href="{{ relative.next.get_absolute_url }}" title="{{ relative.next.title }}">
                        próxima{% autoescape on %} &gt;&gt;{% endautoescape %}</a> +{{ relative.ahead }}

                    {% else %}
                    {% autoescape on %}{% endautoescape %}última
                    {% endif %}
                </div>
            </li>
            {% else %}
            <li class="shadow size-{{ media.size.slug }}">
            {% include 'thumb.html' %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
<div id="related-form" class="span-16 last">
    <form action="." method="post">
        {{ form.type.label_tag }}<strong>:</strong> {{ form.type }}
        <input type="submit" value="Trocar" /> 
        <span class="quiet">
            {% if not crumbs %}
            Esta imagem não tem {{ type }}.
            {% else %}
                {% if crumbs|islist %}
                    {% show_set crumbs '' '' ', ' '' %}
                {% else %}
                    {{ crumbs }}
                {% endif %}
            {% endif %}
        </span>
        {% csrf_token %}
    </form>
</div>
