{% if rel_images %}
<div id="related" class="span-16 last">
    <ul class="rel-thumbs">
        {% for image in rel_images %}
            {% if forloop.counter == 3 %}
            <li class="shadow size-{{ image.size.slug }} current">
                <img src="/{{ image.thumb_filepath }}" alt="{{ image.title }}" title="{{ image.title }}" />
            </li>
            {% else %}
            <li class="shadow size-{{ image.size.slug }}">
            {% include 'thumb.html' %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
<div id="related-form" class="span-16 last">
    <form action="." method="post">
        {{ form.type.label_tag }}<strong>:</strong> {{ form.type }} {{ form.type.value }}
        <input type="submit" value="Trocar" /> 
        <span class="quiet">
            {% if not crumbs %}
            Esta imagem não tem {{ type }}.
            {% else %}
                {% if crumbs|get_type == 'list' %}
                    {% show_set crumbs '' '' ', ' '' %}
                {% else %}
                    {{ crumbs }}
                {% endif %}
            {% endif %}
        </span>
        {% csrf_token %}
    </form>
</div>
