{% extends 'dashboard.html' %}
{% load static custom_filters %}

{% block extra_head %}
<script src="{% static 'js/adm_select_all_records.js' %}" defer></script>
<script src="{% static 'js/adm_modal.js' %}" defer></script>
<script src="{% static 'js/adm_actions.js' %}" defer></script>
<script src="{% static 'js/revision_media_list.js' %}" defer></script>
{% endblock %}

{% block title %}Revisão de Mídias{% endblock %}

{% block dashboard_content %}
    <h2>Lista de mídias para revisão</h2>
    {% if messages %}
    <div class="messages-div hide-messages-animation">
        {% for message in messages %}
        <span {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </span>
        {% endfor %}
    </div>
    {% endif %}
    {% if object_exists %}
    <section class="table-section">
        {% include 'dashboard_filter_aside.html' %}

        <form class="post-form-wrapper" method="post">
            {% csrf_token %}
            <div data-modal="group-action" id="modal-container" class="list-modal-container">
                <div>
                    <div class="modal-header">
                        <p>Processar em lote as mídias selecionadas</p>
                        <button data-close-modal="group-action" type="button" id="close-modal-button" class="close-modal-button">
                            <div class='line1'></div>
                            <div class='line2'></div>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for field in form %}
                        {% if field == form.taxa_action %}
                        <div class="modal-field-div">
                            {{ field.label_tag }}
                            {{ field }}
                            <div id="taxa-wrapper" class="hide-div">
                                {{ form.taxa }}
                            </div>
                        </div>
                        {% elif field == form.taxa %}
                        {% else %}
                        <div class="modal-field-div">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="secondary-button" name='action' value='{{ records_number }}'>Processar</button>
            </div>
            
            {% if entries.object_list %}
            <div class='table-top'>
                <button data-open-modal="group-action" type="button" id="open-modal-button" class="primary-button action-button">Ações em lotes</button>
                {% if entries.paginator.num_pages > 1 %}
                {% include 'pagination.html' %}
                {% endif %}
                <div class="entries-number-form">
                    <span>Mostrar</span>
                    <input type="number" name="entries_number" value="{{ records_number }}" min="1" class="entries-number-form__input">
                    <span>registros</span>
                    <button type="submit" name="action" value="entries_number" data-entries-number-form-submit class="entries-number-form__submit">
                        <img src="{{ STATIC_URL }}img/reload.svg" alt="">
                    </button>
              </div>
            </div>
    
            <table class="dashboard-table">
                <thead class="table-head">
                    <tr>
                        <th class="checkbox-column"><input type="checkbox" id="select-all-records" class='dashboard-input'></th>
                        <th class="image-column">Mídia</th>
                        <th class="title-column">Título</th>
                        <th>Curadorias</th>
                        <th class="status-column">Status</th>
                        <th>Autor</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    {% for media in entries.object_list %}
                    <tr>
                        <td>
                            <input type="checkbox" class="selected-record dashboard-input" name="selected_media_ids" value="{{ media.id }}">
                        </td>
                        <td class="image-cedule">
                            <div class="media-wrapper-td">
                                <a href="{% if media.modified_media.first != None %}{% url 'revision_modified_media' media.id %}{% else %}{% url 'revision_media_details' media.id %}{% endif %}">
                                  <img src="{{ media.coverpath.url }}">
                                </a>
                            </div>
                        </td>
                        <td class="text-cedule">
                            {% if media.title_pt_br %}
                            {{ media.title_pt_br }}
                            {% endif %}
                        </td>
                        <td>
                            <ul class="curations-list">
                                {% get_media_curations media as curations %}
                                {% for curation in curations %}
                                <li>
                                    {{ curation }}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="text-cedule">
                            <span class="media-status {% if media.status == 'draft' %}not-edited{% elif media.status == 'submitted' %}to-review{% else %}published{% endif %}">
                                {{ media.get_status_display }}
                            </span>
                        </td>
                        <td>{{media.user}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    
            <div class="table-bottom">
                {% if entries.paginator.num_pages > 1 %}
                {% include 'pagination.html' %}
                {% endif %}
            </div>
            {% else %}
            <p>
                Nenhum arquivo encontrado :(
            </p>
            {% endif %}
        </form>
    </section>
    {% else %}
        <p class="margin-top">Não há imagens</p>
    {% endif %}

{% endblock %}
