{% spaceless %}
{% comment %}
Está ilegível assim para evitar espaços em branco...
{% endcomment %}
{% for meta in set %}{% if prefix %}{{ prefix }}{% endif %}{% if method == 'slug' %}{{ meta.slug }}{% else %}{% if method == 'link' %}<a href="{{ meta.get_absolute_url }}" title="{{ meta.name }}">{% if meta.rank == 'Gênero' or meta.rank == 'Espécie' %}<em>{{ meta.name }}</em>{% else %}{{ meta.name }}{% endif %}</a>{% else %}{% if meta.rank == 'Gênero' or meta.rank == 'Espécie' %}<em>{{ meta.name }}</em>{% else %}{{ meta.name }}{% endif %}{% endif %}{% endif %}{% if not forloop.last %}{{ sep }}{% endif %}{% if suffix %}{{ suffix }}{% endif %}{% endfor %}
{% endspaceless %}
