{% load i18n cache %}
{% get_current_language as LANGUAGE_CODE %}

{% cache 2592000 social LANGUAGE_CODE %}

<!-- Twitter -->
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>

<!-- Google Plus -->
<div class="g-plusone" data-size="medium" data-count="true"></div>

<!-- Facebook -->
<div class="fb-like" data-href="http://www.facebook.com/pages/Cifonauta/163979623658905" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>

{% endcache %}
