{% load i18n cache %}
{% get_current_language as LANGUAGE_CODE %}

{% if linear == 'True' %}
{% cache 2592000 social LANGUAGE_CODE linear %}

<!-- Twitter -->
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>

<!-- Google Plus -->
<div class="g-plusone" data-size="medium" data-count="true"></div>

<!-- Facebook -->
<div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>

{% endcache %}
{% endif %}

<!-- Add2Any -->
<a class="share-this a2a_target" href="http://www.addtoany.com/share_save">
    <img src="http://static.addtoany.com/buttons/share_save_171_16.png" border="0" alt="{% trans 'Compartilhe' %}"/>
</a>

<script type="text/javascript">
// A custom "onReady" function for AddToAny
function my_addtoany_onready() {
    a2a_config.target = '.share-this';
    a2a.init('page');
}

// Setup AddToAny "onReady" callback
var a2a_config = a2a_config || {};
a2a_config.tracking_callback = {
    ready: my_addtoany_onready
};
// Additional a2a_config properties may go here

// Load AddToAny script asynchronously
(function(){
    var a = document.createElement('script');
    a.type = 'text/javascript';
    a.async = true;
    a.src = 'http://static.addtoany.com/menu/page.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(a, s);
})();
</script>

