{% load i18n %}

<p>
<span class="st_fb_like_hcount" displayText="{% trans 'Curtir' %}"></span>
<span class="st_twitter_hcount" displayText="{% trans 'Tuíte' %}"></span><br>
</p>
<span class='st_email' ></span>
<span class='st_gbuzz' ></span>
<span class='st_tumblr' ></span>
<span class='st_stumbleupon' ></span>
<span class='st_delicious' ></span>
<span class='st_facebook' ></span>
<span class='st_sharethis' ></span>

{% if media.datatype == 'video' %}
<label class="quiet">embed:</label> <input id="embed-code" type="text" width="100%" value='<iframe class="cifonauta-player" type="text/html" width="512" height="{{ height }}" src="http://{{ request.get_host }}/embed/{{ media.id }}/" frameborder="0"></iframe>' onclick="this.focus(); this.select();">
{% endif %}
