{% extends 'base.html' %}
{% load i18n %}
{% comment %}
Página mostra os marcadores agrupados por categoria em quatro colunas. Usa o regroup para criar objetos de cada categoria, usa o cycle para definir o span de cada coluna.
{% endcomment %}
{% block title %}{% trans 'Marcadores' %} | {{ block.super }}{% endblock %}

{% block meta-keywords %}{% trans 'marcadores, biodiversidade, biologia marinha' %}{% endblock %}
{% block meta-description %}{% trans 'Marcadores presentes no banco de imagens Cifonauta.' %}{% endblock %}
{% block meta-author %}Alvaro E. Migotto, Bruno C. Vellutini{% endblock %}

{% block extra-head %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/tags_page.css">
<meta property="og:title" content="{% trans 'Marcadores' %}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="{% trans 'Marcadores presentes no banco de imagens Cifonauta.' %}" />
<meta property="og:site_name" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />
<meta property="og:type" content="article" />
{% endblock %}
{% block content %}
<header><h1>{% trans 'Marcadores' %}</h1></header>
<section class="tags-content">
    <div class="metadiv" id="tags">
        {% for cat in cats %}
        <div class="metagroup">
            <h2>{{ cat.name }}</h2>
            {% if cat.description %}
                <p class="quiet tags-category-description">{{ cat.description }}</p>
            {% endif %}
            {% print_metalist cat.tags.all 'tag' %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block sidebar %}
{% endblock %}
