{% extends 'base.html' %}
{% load i18n %}
{% comment %}
Página mostra os marcadores agrupados por categoria em quatro colunas. Usa o regroup para criar objetos de cada categoria, usa o cycle para definir o span de cada coluna adequadamente e o icount para contar o número de linhas de cada tabela.
{% endcomment %}
{% block title %}{% trans 'Marcadores' %} | {{ block.super }}{% endblock %}
{% block content %}
<section class="span-24 last">
<header><h1>{% trans 'Marcadores' %}</h1></header>

    {% regroup tags by parent as tag_groups %}

    <div class="span-6">
        <h2>{% trans 'Tamanhos' %}</h2>
        <ul class="tags">
            {% for size in sizes %}
            <li>
            <!-- div container para evitar bug no chrome -->
            <div>
                <div class="tag-item">
                    <a href="{{ size.get_absolute_url }}">{{ size.name }}</a>
                </div>
                <div class="tag-count quiet">{{ size|icount:'size' }}</div>
            </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% for item in tag_groups %}
    <div class="span-{% cycle '6' '6' '6 last' '6' %}">
        <h2>{{ item.grouper }}</h2>
        <ul class="tags">
        {% for tag in item.list %}
            <li>
            <div>
                <div class="tag-item">
                    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                </div>
                <div class="tag-count quiet">{{ tag|icount:'tag' }}</div>
            </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endfor %}

</section>
{% endblock %}

{% block sidebar %}
{% endblock %}
