{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Táxons' %} | {{ block.super }}{% endblock %}

{% block meta-keywords %}{% trans 'táxons, espécies, biodiversidade' %}{% endblock %}
{% block meta-description %}{% trans 'Lista de táxons incluídos no banco de imagens Cifonauta.' %}{% endblock %}
{% block meta-author %}Alvaro E. Migotto, Bruno C. Vellutini{% endblock %}

{% block extra-head %}
<meta property="og:title" content="{% trans 'Táxons' %}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="{% trans 'Lista de táxons incluídos no banco de imagens Cifonauta.' %}" />
<meta property="og:site_name" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />
<meta property="og:type" content="article" />
{% endblock %}

{% block content %}
<section id='taxa-page-section' class="">
<header><h1>{% trans 'Táxons' %}</h1></header>
<div>
  <div id="taxa" class="">
    {% show_tree %}
  </div>

  <div id="species" class="">
    {% include 'splist.html' %}
  </div>
</div>

</section>
{% endblock %}

{% block sidebar %}
{% endblock %}
