{% load i18n thumbnail %}

<a href="{{ media.get_absolute_url }}">

  {% thumbnail media.coverpath "120x90" crop="center" as im %}
  <img src="{{ im.url }}" alt="{{ media.title }}" title="{{ media.title }}" />
  {% endthumbnail %}

  {% if media.datatype == 'video' %}<span class="thumb-duration">{{ media.duration|slice:'3:' }}</span>{% endif %}
</a>

<a class="lupa highslide size-{{ media.size }}" onclick="return hs.expand(this)" href="{{ MEDIA_URL }}{{ media.coverpath }}">+</a>

{% if media.title %}
<div class="highslide-heading">{{ media.title }}</div>
{% endif %}
<div class="highslide-caption">
  {% if media.caption %}
  <div class="float-left">{{ media.caption }}</div>
  {% endif %}
  <div class="float-right">
    <a href="{{ media.get_absolute_url }}">{% trans 'ver mais detalhes' %}</a>
  </div>
</div>
