            <a href="{{ media.get_absolute_url }}">
                <img src="/{{ media.thumb_filepath }}" alt="{{ media.title }}" title="{{ media.title }}" />
            </a>
            <a class="lupa highslide size-{{ media.size.slug }}" onclick="return hs.expand(this)" href="/{% if media.datatype == "video" %}{{ media.large_thumb }}{% else %}{{ media.web_filepath }}{% endif %}">+<!--<img src="/site_media/js/highslide/graphics/zoomin.cur" />--></a>
            {% if media.title %}
            <div class="highslide-heading">{{ media.title }}</div>
            {% endif %}
            <div class="highslide-caption">
                {% if media.caption %}
                <div class="float-left">{{ media.caption }}</div>
                {% endif %}
                <div class="float-right">
                    <a href="{{ media.get_absolute_url }}">ver detalhes</a>
                </div>
            </div>
