{% extends 'base.html' %}
{% load i18n %}
{% load markup %}
{% block title %}{{ tour.name }} | Tour | {{ block.super }}{% endblock %}
{% block extra-head %}

<script type="text/javascript" src="/site_media/js/slides/slides.min.jquery.js"></script>

<script>
    $(function(){
        $('#slides').slides({
            preload: true,
            preloadImage: '/site_media/js/slides/loading.gif',
            autoHeight: true,
            play: 4000,
            hoverPause: true,
            slideSpeed: 300,
            generatePagination: false
        });
    });
</script>

{% endblock %}

{% block content %}
<section class="span-24 last">
<article id="tour" class="{{ tour.slug }} views-{{ tour.view_count }}">
<header class="span-24 last">
<div class="quiet" id="metafield">
    {% trans 'Tour' %}:
</div>
<h1>{{ tour.name }}</h1>
</header>
<div class="span-16" id="tour-description">
    {{ tour.description|markdown }}
</div>
<div class="span-7 prepend-1 last">
    <h2>{% trans 'Ficha Técnica' %}</h2>
    <ul class="tags">
        <li>
        <strong>{% trans 'Número de imagens' %}:</strong> {{ tour.images.all|length }}
        </li>
        <li>
        <strong>{% trans 'Data de criação' %}:</strong> {{ tour.pub_date }}
        </li>
        <li>
        <strong>{% trans 'Última modificação' %}:</strong> {{ tour.timestamp }}
        </li>
        <li>
        <strong>{% trans 'Táxons representados' %}:</strong> {% show_set taxa '' '' ', ' 'link' %}
        </li>
        <li>
        <strong>{% trans 'Marcadores presentes' %}:</strong> {% show_set tags '' '' ', ' 'link' %}
        </li>
</div>

<div class="span-24 last" id="slides">
    <div class="span-1">
        <a href="#" class="prev"><img src="/site_media/js/slides/arrow-prev.png" width="24" height="43" alt="{% trans 'Anterior' %}"></a>
    </div>
    {% comment %}TODO adapt to HTML5{% endcomment %}
    <div class="slides_container shadow span-21">
        {% for media in tour.images.all %}
        <div class="span-21 eachslide last">
            <div class="span-13">
                {% include 'photo.html' %}
            </div>
            <div class="span-8 last">
                <h2>{{ media.title }}</h2>
                {% if media.caption %}
                <p>{{ media.caption }}</p>
                {% else %}
                <p>SEM LEGENDA</p>
                {% endif %}
                <div>
                    <strong>
                    {% blocktrans count media.author_set.all.count as counter %}
                        Autor:
                        {% plural %}
                        Autores:
                        {% endblocktrans %}</strong> <span>{% show_set media.author_set.all '' '' ', ' '' %}</span>
                    <br>

                    {% if media.taxon_set.all %}
                    <strong>
                        {% blocktrans count media.taxon_set.all.count as counter %}
                        Táxon:
                        {% plural %}
                        Táxons:
                        {% endblocktrans %}</strong> <span id="taxon">{% show_set media.taxon_set.all '' '' ', ' '' %}</span>
                    <br>
                    {% endif %}

                    {% if media.size %}
                    <strong>{% trans 'Tamanho' %}:</strong> <span>{{ media.size }}</span>
                    <br>
                    {% endif %}

                    {% if media.sublocation.name or media.city.name or media.state.name or media.country.name %}
                    <strong>{% trans 'Local' %}:</strong> 
                    {% if media.sublocation.name %}<span id="sublocation">{{ media.sublocation }},</span>{% endif %}
                    {% if media.city.name %}<span id="city">{{ media.city }},</span>{% endif %}
                    {% if media.state.name %}<span id="state">{{ media.state }},</span>{% endif %}
                    {% if media.country.name %}<span id="country">{{ media.country }}</span>{% endif %}
                    <br>
                    {% endif %}

                    {% if media.tag_set.all %}
                    <strong>
                        {% blocktrans count media.tag_set.all.count as counter %}
                        Marcador:
                        {% plural %}
                        Marcadores:
                        {% endblocktrans %}</strong> <span>{% show_set media.tag_set.all '' '' ', ' '' %}</span>
                    <br>
                    {% endif %}

                    <div class="align-right">
                        <br>
                        <a href="{{ media.get_absolute_url }}"><strong>{% trans 'veja mais detalhes' %}</strong></a>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="span-1 last">
        <a href="#" class="next"><img src="/site_media/js/slides/arrow-next.png" width="24" height="43" alt="{% trans 'Próximo' %}"></a>
    </div>

    <div class="span-24 last" id="paginator-container">
        <ul class="pagination">
            {% for media in tour.images.all %}
            <li>
            <a href="#"><img class="shadow" src="/{{ media.thumb_filepath }}" alt="{{ media.title }}" title="{{ media.title }}" /></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

</article>
{% if references %}
<div class="span-24 last">
    <h2>{% trans 'Referências bibliográficas' %}</h2>
    {% for ref in references %}
    <div class="citation">
        {% autoescape off %}{{ ref.citation }}{% endautoescape %}
    </div>
    {% endfor %}
    </div>
</div>
{% endif %}
</section>
{% endblock %}

{% block sidebar %}
{% endblock %}
