{% load mptt_tags %}

<h2>Grupos ({{ taxa.count }})</h2>
<ul class="root tree">
    {% recursetree taxa %}
    {% if node.rank in main_ranks %}
    <li>
    <span class="quiet">{{ node.rank }}</span> <a href="{{ node.get_absolute_url }}" title="{{ node.name }}">{% if node.rank == 'Gênero' or node.rank == 'Espécie' %}<em>{{ node.name }}</em>{% else %}{{ node.name }}{% endif %}</a>
    {% if not node.is_leaf_node %}
    <ul class="children tree">
        {{ children }}
    </ul>
    {% endif %}
    </li>
    {% endif %}
    {% endrecursetree %}
</ul>
