{% load mptt_tags %}
{% load i18n %}
{% load cache %}

{% get_current_language as LANGUAGE_CODE %}

{% cache 604800 tree LANGUAGE_CODE current %}
<h2>{% trans 'Grupos' %}</h2>
<ul class="root tree" id="colaptree">
    {% recursetree taxa %}
    {% if node.rank %}
    <!-- Necessário para espécies sem hierarquia -->
        {% if node.parent or node.rank == 'Reino' or node.rank == 'Kingdom' %}
        <li class="{{ node.rank|slugify }} {{ node.slug }} {% if node in current %}open{% endif %}">
            <span class="quiet">{{ node.rank }}</span> <a href="{{ node.get_absolute_url }}" title="{{ node.name }}">{{ node|sp_em }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children tree">
                    {{ children }}
                </ul>
            {% endif %}
            </li>
        {% endif %}
    {% endif %}
    {% endrecursetree %}
</ul>
{% endcache %}
