{% extends 'dashboard.html' %}

{% block title %}Atualizar Mídia{% endblock %}

{% block dashboard_content %}

{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/update_is_public.js' %}"></script>

{% if messages %}
{% for message in messages %}
<span {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </span>
{% endfor %}
{% endif %}

<div class="form-container">
    <h2>Detalhes</h2>
    <form class="images-upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Atualizar</button>
    </form>
</div>



{% endblock %}