{% extends 'dashboard.html' %}
{% load static %}

{% block extra_head %}
<script src="{% static 'js/upload_media_step1.js' %}" defer></script>
{% endblock %}
{% block title %}Enviar Mídia{% endblock %}

{% block dashboard_content %}

<h2>Adicionar nova mídia</h2>

{% if messages %}
<div class="messages-div hide-messages-animation">
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </span>
    {% endfor %}
</div>
{% endif %}

<div class="steps-container">
    <div class="steps-div">
        <div class="fulfilled-step-div">1</div>
        <span class="fulfilled-step-span current-step-span">Carregar mídia</span>
    </div>
    <div class="steps-bar"></div>
    <div class="steps-div">
        <div>2</div>
        <span>Preencher dados</span>
    </div>
</div>

<form class="dashboard-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="field">
        <div class="field__label">
            <label for="">Arquivos:</label>
            <span class='required'>*</span>
        </div>
        <div class="field__input-container">
            <input type="file" name="files" id="files" multiple>
            <div data-file-div class="file-div"></div>
            <span class="field__help-text">Formatos aceitos: {{ media_mimetypes }}</span>
            <span class="field__help-text">Extensões aceitas: {{ media_extensions }}</span>
            <span class="field__help-text">Tamanho máximo imagens: {{ image_size_limit }}MB</span>
            <span class="field__help-text">Tamanho máximo vídeos: {{ video_size_limit }}GB</span>
        </div>
    </div>
    
    <button class="primary-button submit-button" type="submit">Carregar mídias</button>
</form>

{% endblock %}
