{% extends 'dashboard.html' %}
{% load static %}

{% block extra_head %}
<script src="{% static 'js/upload_media_step2.js' %}" defer></script>
{% endblock %}
{% block title %}Enviar Mídia{% endblock %}

{% block dashboard_content %}
<dialog class="dialog">
    <div>
        <button class="close-registration-button">
            <div class='line1'></div>
            <div class='line2'></div>
        </button>
        <form class="pre-registration-form" method="post">
            {% csrf_token %}
            <p>Registre o coautor</p>
            {% for field2 in registration_form %}
            <div class="field2-container">
                {{ field2.label_tag }}
                <div class="field-div field2-div">
                    {{ field2 }}
                    {% if field2.help_text %}
                    <span class="help-text">{{ field2.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <button class="pre-registration-submit" type="submit">Cadastrar</button>
        </form>
    </div>
</dialog>

<div class="form-container">
    <h2>Adicionar nova mídia</h2>
    {% if messages %}
    <div class="messages-div">
        {% for message in messages %}
        <span {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </span>
        {% endfor %}
    </div>
    {% endif %}
    <form class="upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field-container">
            <div class="label-div">
                <label>Mídias:</label>
            </div>
            <div class="medias-div">
                <div class="medias-wrapper">
                    {% for media in medias %}
                    {% if media.is_video %}
                    <video class="loaded-media" src="{{media.media.url}}"></video>
                    {% else %}
                    <img class="loaded-media" src="{{media.media.url}}" alt="">
                    {% endif %}
                    {% endfor %}
                </div>
            {% if medias|length > 1 %}
            <span class="info-span">Os metadados serão aplicados a todas as mídias</span>
            {% endif %}
            </div>
        </div>
        {% for field in form %}
        {% if field == form.co_author %}
        <div class="field-container">
            <div class="label-div">
                {{ field.label_tag }}
            </div>
            <div class="field-div co_author-div">
                {{ field }}
                {% if field.help_text %}
                <span class="help-text">{{ field.help_text }}</span>
                {% endif %}
                <div>
                    <p>Coautor não está na lista?</p>
                    <button class="pre-registration-button" type="button">Registrar coautor</button>
                </div>
            </div>
        </div>
        {% elif field == form.has_taxons %}
        <div class="field-container">
            <div class="label-div">
                <label>Taxons:</label>
            </div>
            <div class="wrapper-field-div">
                <p>A mídia tem táxons?</p>
                <div class="yes_no_div">
                    <button class="has-taxons has-taxons-button" type="button">
                        {{ field.subwidgets.0 }}
                    </button>
                    <button class="no-taxons has-taxons-button" type="button">
                        {{ field.subwidgets.1 }}
                    </button>
                </div>
                <div class="field-div m2m-field taxons-div hide-div">
                    {{ form.taxons }}
                    {% if form.taxons.help_text %}
                    <span class="help-text">{{ form.taxons.help_text }}</span>
                    {% endif %}
                </div>
                {{ field.errors }}
            </div>
        </div>
        {% elif field == form.taxons %}
        {% elif field == form.terms %}
        <div class="field-container">
            <div class='label-div'>
                {{ field.label_tag }}
                <span class='required'>*</span>
            </div>
            <div class="field-div terms-div">
                <div class="term-wrapper">
                    {{ field }}
                    Declaro...
                </div>
                {% if field.help_text %}
                <span class="help-text">{{ field.help_text }}</span>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="field-container">
            <div class="label-div">
                {{ field.label_tag }}
                {% if field.field.required %}
                <span class='required'>*</span>
                {% endif %}
            </div>
            <div class="field-div">
                {{ field }}
                {% if field.help_text %}
                <span class="help-text">{{ field.help_text }}</span>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="buttons-div">
            <button class="submit-button" type="submit" name="action" value="add">Adicionar</button>
            <button class="cancel-button" type="submit" name="action" value="cancel" formnovalidate>Cancelar</button>
        </div>
    </form>
</div>

{% endblock %}