{% extends 'dashboard.html' %}
{% load static %}

{% block extra_head %}
<script src="{% static 'js/adm_modal.js' %}" defer></script>
<script src="{% static 'js/adm_create_entry.js' %}" defer></script>
<script src="{% static 'js/upload_media_step2.js' %}" defer></script>
<script src="{% static 'js/adm_sync_location_fields.js' %}" defer></script>
<script src="{% static 'js/adm_references.js' %}" defer></script>
<script src="{% static 'js/adm_latitude.js' %}" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq5WeIQ9PnSdEBvgtaykW5oB034cbpyak&callback=myMap" defer></script>
{% endblock %}
{% block title %}Enviar Mídia{% endblock %}

{% block dashboard_content %}
<h2>Adicionar nova mídia</h2>
{% if messages %}
<div class="messages-div">
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </span>
    {% endfor %}
</div>
{% endif %}

<div class="steps-container">
    <div class="steps-div">
        <div class="fulfilled-step-div">&#10003;</div>
        <span class="fulfilled-step-span">Carregar mídia</span>
    </div>
    <div class="steps-bar full-step-bar"></div>
    <div class="steps-div">
        <div class="fulfilled-step-div">2</div>
        <span class="fulfilled-step-span current-step-span">Preencher dados</span>
    </div>
</div>

<form class="dashboard-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="field-container">
        <div class="label-div">
            <label>Mídias:</label>
        </div>
        <div class="medias-div">
            <div class="medias-wrapper">
                {% for media in medias %}
                {% if media.datatype == 'video' %}
                <video class="loaded-media" src="{{media.file.url}}"></video>
                {% else %}
                <img class="loaded-media" src="{{media.file.url}}" alt="">
                {% endif %}
                {% endfor %}
            </div>
        {% if medias|length > 1 %}
        <span class="info-span">Os metadados serão aplicados a todas as mídias. Após completar o upload, vá até "Minhas mídias" para alterá-las individualmente, se necessário.</span>
        {% endif %}
        </div>
    </div>
    {% for field in form %}
    {% if field == form.authors %}
    <div class="field-container">
        <div class="label-div">
            {{ field.label_tag }}
        </div>
        <div class="field-div authors-field-div">
            {% if form.authors.errors %}
            <ul class="field-error">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {{ field }}
            {% if field.help_text %}
            <span class="help-text">{{ field.help_text }}</span>
            {% endif %}
            <div>
                <p>Coautor não está na lista?</p>
                <button data-open-modal="authors" id="open-modal-button" class="pre-registration-button" type="button">Registrar coautor</button>
            </div>
        </div>
    </div>
    {% elif field == form.country %}
    <div class="field-container country-container">
        <div class="label-div">
            {{ field.label_tag }}
            {% if field.field.required %}
            <span class='required'>*</span>
            {% endif %}
        </div>
        <div class="field-div">
            {% if field.errors %}
            <ul class="field-error">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {{ field }}
            {% if field.help_text %}
            <span class="help-text">{{ field.help_text }}</span>
            {% endif %}
        </div>
    </div>
    {% elif field == form.location or field == form.taxa or field == form.references or field == form.latitude %}
    <div class="field-container">
        <div class="label-div">
            {{ field.label_tag }}
            {% if field.field.required %}
            <span class='required'>*</span>
            {% endif %}
        </div>
        <div class="field-div">
            {% if field.errors %}
            <ul class="field-error">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="add-new-object-div">
                {{ field }}
                <button 
                    type="button"
                    data-open-modal="{{ field.name }}"
                    class="add-new-object-btn"
                >
                {% if field == form.latitude%}
                    mapinha
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="12" y1="19" x2="12" y2="5"/>
                        <line x1="5" y1="12" x2="19" y2="12"/>
                    </svg>
                {% endif %}
                </button>
            </div>
            {% if field.help_text %}
            <span class="help-text">{{ field.help_text }}</span>
            {% endif %}
        </div>
    </div>
    {% elif field == form.terms %}
    <div class="field-container">
        <div class='label-div'>
            {{ field.label_tag }}
            <span class='required'>*</span>
        </div>
        <div class="field-div terms-div">
            {% if field.errors %}
            <ul class="field-error">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="term-wrapper">
                {{ field }}
                Declaro...
            </div>
            {% if field.help_text %}
            <span class="help-text">{{ field.help_text }}</span>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="field-container">
        <div class="label-div">
            {{ field.label_tag }}
            {% if field.field.required %}
            <span class='required'>*</span>
            {% endif %}
        </div>
        <div class="field-div">
            {% if field.errors %}
            <ul class="field-error">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {{ field }}
            {% if field.help_text %}
            <span class="help-text">{{ field.help_text }}</span>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="buttons-div">
        <button class="primary-button submit-button" type="submit" name="action" value="add">Adicionar</button>
        <button class="primary-button cancel-button" type="submit" name="action" value="cancel" formnovalidate>Cancelar</button>
    </div>
    <p>Adicionar às minhas mídias e enviar para revisão</p>

</form>

{% include 'dashboard_coauthor_modal.html' %}

{% include 'dashboard_location_modal.html' %}

{% include 'dashboard_taxa_modal.html' %}

{% include 'dashboard_references_modal.html' %}

{% include 'dashboard_latitude_modal.html' %}

{% endblock %}