{% load i18n %}
{% block extra-head %}
{% endblock %}

{% comment %}
<video width="510" src="{{ MEDIA_URL }}{{ media.mp4_filepath }}" type="video/mp4" id="player1" poster="{{ MEDIA_URL }}{{ media.large_thumb }}" controls="controls" preload="none"></video>
{% endcomment %}

<video poster="{{ MEDIA_URL }}{{ media.large_thumb }}" preload="none" controls="controls" tabindex="0" width="512" height="{{ height }}">
<source type="video/mp4" src="{{ MEDIA_URL }}{{ media.mp4_filepath }}" />
<source type="video/webm" src="{{ MEDIA_URL }}{{ media.webm_filepath }}" />
<source type="video/ogg" src="{{ MEDIA_URL }}{{ media.ogg_filepath }}" />
<object width="512" height="{{ height }}" type="application/x-shockwave-flash" data="{{ MEDIA_URL }}js/mediaelement/flashmediaelement.swf">
    <param name="movie" value="{{ MEDIA_URL }}js/mediaelement/flashmediaelement.swf" />
    <param name="flashvars" value="controls=true&poster={{ MEDIA_URL }}{{ media.large_thumb }}&file={{ MEDIA_URL }}{{ media.mp4_filepath }}" />
    <img alt="{% trans 'Still do vídeo' %}" src="{{ MEDIA_URL }}{{ media.large_thumb }}" width="512" title="{% trans 'Playback de vídeo indisponível' %}" />
</object>
{% trans 'Tem algo muito errado no seu navegador...' %}
</video>

<script>
    // MediaElement.js
    $('video').mediaelementplayer({
    	mode: 'shim',
        //enableAutosize: true,
        features: ['playpause','progress','current','duration','tracks','volume','fullscreen'],
    });
</script>
