{% extends 'base.html' %}

{% block content %}
<form method="post">
{% csrf_token %}
<h1>Entrar</h1>
{% for field in form %}
<div class="label-div">
    <label for="{{field.id_for_label}}">
        {{field.label}}
        {% if field.label.errors%}
                <div class="help-text-container">
                    <span class="help-icon">?</span>
                    <div class="help-text-div">
                        {{ field.label.errors}}
                    </div>
                </div>
        {% endif %}
    </label>
    {{field}}
    <p class="help-text-visible">{{ field.label.errors }}</p>
</div>
{% endfor %}
<button type="submit">Entrar</button>
</form>
{% endblock content %}