{% extends 'base.html' %}

{% block extra-head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/user_creation.css">
<script src="{{ STATIC_URL }}js/user_creation.js" defer></script>
{% endblock%}

{% block content %}
<div class='wrapper'>

<form id='signup-form' action="" method="POST">
    {% csrf_token %}
    <h1>Cadastre-se</h1>
    <div>
        {% for field in form %}
        {% if field.id_for_label != 'id_password2' %}
        <div class="label-div">
            <label for="{{field.id_for_label}}">
                {{field.label}}

                {% if field.field.required %} 
                <span class='required'>*</span>
                {% endif %} 

                {% if field.field.help_text %}
                <div class="help-text-container">
                    <span class="help-icon">?</span>
                    <div class="help-text-div">
                        {{ field.help_text }}
                    </div>
                </div>
                {% endif %}
            </label>

            {% if field.field.widget.input_type == 'password' %}
                <div class="password-div">
                    {{ field }}
                    <button onclick="showPassword()" type="button">
                        <img class="visible-icon hidden-icon" src="{{ STATIC_URL }}img/visible.png">
                        <img class="not-visible-icon" src="{{ STATIC_URL }}img/not-visible.svg">
                    </button>
                </div>
            {% else %}
                {{field}}
            {% endif %}

        </div>
        {% else %}
        <div class="label-div">
            <label for="{{field.id_for_label}}">
                {{field.label}}
                <span class='required'>*</span>
            </label>
            {{field}}
            <p class="help-text-visible">{{ field.help_text }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <button type="submit">Cadastrar</button>

</form>
</div>

{% endblock content %}
