*.pyc
*.swp
tasks.py
fabfile.py
justfile
static/*
virtual/*
media_files/cache
media_files/uploads
logs/*
wiki/*
backups/*
server/*
meta/static/css/style.min.css
meta/static/js/plugins.min.js
meta/static/js/script.min.js
*~
.env
.idea
meta/locale/en/LC_MESSAGES/django.mo
secret.just