{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ flatpage.title }} | {{ block.super }}{% endblock %}

{% block meta-keywords %}{{ flatpage.title }}{% endblock %}
{% block meta-description %}{{ flatpage.content|striptags|truncatewords:30 }}{% endblock %}
{% block meta-author %}Alvaro E. Migotto, Bruno C. Vellutini{% endblock %}
{% block extra-head %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/flatpage.css">
<meta property="og:title" content="{{ flatpage.title }}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ flatpage.content|striptags|truncatewords:30 }}" />
<meta property="og:site_name" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />

{% endblock %}

{% block content %}
<section id="flatpage-content">
  <header class=""><h1>{{ flatpage.title }}</h1></header>
  {{ flatpage.content }}
</section>
{% endblock %}

{% block sidebar %}
<aside id="flatpage-aside">
  {% include 'sobremenu.html' %}
</aside>
{% endblock %}
