{% load i18n comments %}
{% get_comment_list for article as article_comments %}
<div id="comments" class="span-16 last">
    {% get_comment_count for article as comment_count %}
    <div class="show-comment"><h2>{% trans 'Show comments' %} ({{ comment_count }})</h2></div>
    <div class="hide-comment"><h2>{% trans 'Hide comments' %} ({{ comment_count }})</h2></div>
    <div id="comment-box">
        {% if article_comments %}
            <ul id="comment-list">
            {% for comment in article_comments %}
            <li>
                <div id="user-name">
                    <a href="{{ comment.user_url }}">{{ comment.user_name }}</a> | <a href="{% get_comment_permalink comment %}" title="permalink">{{ comment.submit_date|date:"DATETIME_FORMAT" }}</a>
                </div>
                <div id="comment-itself">
                    {{ comment.comment }}
                </div>
            </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% render_comment_form for article %}
    </div>
</div>
