{% load i18n humanize %}

{% if article.tags.count %}
<footer id="article-tags" class="quiet">{% trans 'Tags' %}: 
{% for tag in article.tags.all %}
<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
{% endfor %}
</footer>
{% endif %}

{% if article.get_previous_article %}
<div class="span-8">
    <strong>{% trans 'Previous' %}</strong>: <a href="{{ article.get_previous_article.get_absolute_url }}">{{ article.get_previous_article.title }}</a>
</div>
{% else %}
<div class="span-8">&nbsp;</div>
{% endif %}

{% if article.get_next_article %}
<div class="span-8 last align-right">
    <strong>{% trans 'Next' %}</strong>: <a href="{{ article.get_next_article.get_absolute_url }}">{{ article.get_next_article.title }}</a>
</div>
{% else %}
<div class="span-8 last">&nbsp;</div>
{% endif %}

<div class="span-16 last borders" id="article-share">
    {% comment %}<script type="application/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>{% endcomment %}
</div>
