{% load i18n humanize %}

<div class="span-16 last" id="article-rels">
    {% for fu in article.followups.live %}
    {% if forloop.first %}<h2 class="hasfollowup-header">{% trans 'Follow-Up Articles' %}</h2>
    <ul class="followups">{% endif %}
        <li>
            <a href="{{ fu.get_absolute_url }}" title="{% trans 'Read this follow-up article' %}">{{ fu.title }}</a>, {% trans 'posted' %} {{ fu.publish_date|naturalday }}
        </li>
    {% if forloop.last %}</ul>{% endif %}
    {% endfor %}

    {% for fu in article.followup_for.live %}
    {% if forloop.first %}<h2 class="followup-header">{% trans 'Follows Up On' %}</h2>
    <ul class="followups">{% endif %}
        <li>
            <a href="{{ fu.get_absolute_url }}" title="{% trans 'Read this article' %}">{{ fu.title }}</a>, {% trans 'posted' %} {{ fu.publish_date|naturalday }}
        </li>
    {% if forloop.last %}</ul>{% endif %}
    {% endfor %}

    {% for ra in article.related_articles.live %}
    {% if forloop.first %}<h2 class="related-header">{% trans 'Related Articles' %}</h2>
    <ul class="related-articles">{% endif %}
        <li>
            <a href="{{ ra.get_absolute_url }}" title="{% trans 'Read this related article' %}">{{ ra.title }}</a>, {% trans 'posted' %}  {{ ra.publish_date|naturalday }}
        </li>
    {% if forloop.last %}</ul>{% endif %}
    {% endfor %}

    {% for url,title in article.links %}
    {% if forloop.first %}<h2>{% trans 'Article Links' %}</h2>
    <ol>{% endif %}
        <li><a href="{{ url }}" title="{{ title }}">{{ title|safe|truncatewords:10 }}</a></li>
    {% if forloop.last %}</ol>{% endif %}
    {% endfor %}
</div>
