{% extends '../templates/base.html' %}
{% load article_tags i18n %}

{% block meta-description %}{% if article %}{{ article.rendered_content|striptags|safe|truncatewords:100 }}{% else %}{% trans 'Weblog for Cifonauta image database' %}{% endif %}{% endblock %}
{% block meta-author %}{% if article %}{{ article.author.get_name }}{% else %}Alvaro E. Migotto, Bruno C. Vellutini{% endif %}{% endblock %}

{% block extra-head %}
    {{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="{% trans 'Cifonauta: latest blog articles' %}" href="{% url articles_feed 'latest' %}" />
    <meta property="og:title" content="{% if article %}{{ article.title }}{% else %}{% trans 'Articles for Cifonauta weblog' %}{% endif %}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="{% if article %}article{% else %}blog{% endif %}" />
    <meta property="og:description" content="{% if article %}{{ article.rendered_content|striptags|safe|truncatewords:100 }}{% else %}{% trans 'Weblog for Cifonauta image database' %}{% endif %}" />
    <meta property="og:site_name" content="{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %}" />

{% endblock %}

{% block content %}
    <section class="span-16">
    {% block articles-content %}{% endblock %}

    {% if paginator and page_obj %}
        {% if paginator.page_range|length != 1 %}
            {% for p in paginator.page_range %}
                {% if forloop.first %}<ul class="pagination-pages">
                {% if page_obj.has_previous %}
                    <li><a href="{% get_page_url 1 %}">&laquo;</a></li>
                    <li><a href="{% get_page_url page_obj.previous_page_number %}">&lsaquo;</a></li>
                {% endif %}
                {% endif %}
                    <li><a href="{% get_page_url p %}"{% if p == page_obj.number %} class="current-page"{% endif %}>{{ p }}</a></li>
                {% if forloop.last %}
                {% if page_obj.has_next %}
                    <li><a href="{% get_page_url page_obj.next_page_number %}">&rsaquo;</a></li>
                    <li><a href="{% get_page_url paginator.num_pages %}">&raquo;</a></li>
                {% endif %}
                </ul>{% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    </section>
{% endblock %}

{% block sidebar %}
<aside class="span-8 last">
    <div class="align-center borders block shadow">
        {% include 'social.html' with linear='False' %}
    </div>
    <div class="borders block shadow">
    <h2 class="title">{% trans 'Recent Articles' %}</h2>
        {% get_articles 10 as recent %}
        {% if recent.count > 1 %}
        {% for article in recent %}
        {% if forloop.first %}<ul>{% endif %}
            <li><a href="{{ article.get_absolute_url }}" title="{% trans 'Read this article' %}">{{ article.title }}</a></li>
        {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
        {% else %}
        <a href="{{ recent.get_absolute_url }}" title="{% trans 'Read this article' %}">{{ recent.title }}</a>
        {% endif %}
    </div>

    <div class="borders block shadow">
    <h2 class="title">{% trans 'Article Archives' %}</h2>
        {% get_article_archives as archives %}
        {% for year in archives %}
        {% if forloop.first %}<ul>{% endif %}
            <li>
                <strong>{{ year.0 }}</strong>
                <ul class="months">
                {% for month in year.1 %}
                    <li><a href="{% url articles_in_month month.year,month.month %}" title="{% trans 'View articles posted in this month' %}">{{ month|date:"N" }}</a></li>
                {% endfor %}
                </ul>
                <div class="clear">&nbsp;</div>
            </li>
        {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
    </div>

    {% comment %}
    {% block article_tags %}
    <h2>{% trans 'Tag Cloud' %}</h2>
        {% tag_cloud %}
    {% endblock %}
    {% endcomment %}

</aside>
{% endblock %}
