body {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 2.5rem;
}

#div-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.content-and-sidebar {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

@media (max-width: 595px) {
    .content-and-sidebar {
        flex-direction: column;
    }
} 

@media (max-width: 350px) {
    body {
        padding: 0 1rem;
    }
}