/* DASHBOARD GLOBAL */
body {
    font-size: 1rem;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a:active, a:visited {
    color: #ffffff;
}

.dashboard-aside {
    background: -webkit-linear-gradient(top, #3a4e5f 16%, #4d7494 100%);
    background: -moz-linear-gradient(top, #3a4e5f 16%, #4d7494 100%);
    background: -o-linear-gradient(top, #3a4e5f 16%, #4d7494 100%);
    background: linear-gradient(to bottom, #3a4e5f 16%, #4d7494 100%);
    width: 16rem;
    height: 100vh;
    position: fixed;
    font-weight: bold;
}

.dashboard-aside ul {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin-top: 1.5rem;
    list-style: none;
}

.dashboard-aside a {
    color: white;
    padding: 0.3rem 1.5rem;
}

.dashboard-aside li:hover a {
    background: #fafafa;
    -moz-border-radius: 0 0.625rem 0.625rem 0;
    -webkit-border-radius: 0 0.625rem 0.625rem 0;
    border-radius: 0 0.625rem 0.625rem 0;
    color: #4d7494 !important;
} 


.dashboard-view {
    background-color: #FCFCFC;
    margin-left: 16rem;
    padding: 2rem 2rem 5rem 2rem;
    min-height: 100vh;
}

h2 {
    margin-bottom: 1.5rem;
}

.error, .notice, .success {
    transform: translateY(-2rem);
    width: fit-content;
    font-size: 1.1rem;
}

.warning {
    transform: translateY(-1.5rem);
    background-color: #ffffb3;
    color: #565600;
    font-size: 1.1rem;
    /* background-color: #e8edff;
    color: #000b43de; */
}

.form-container {
    display: flex;
    flex-direction: column;
}


/* REGISTRATION FORM */
.dialog::backdrop {
    display: revert;
}

.dialog {
    display: revert;
    border: 0;
    border-style: solid;
    border-width: 5px;
    border-color: #94b1ca /* #7cc682 */ #eee #fafafa;
    border-radius: 10px;
    background: #fafafa;
    box-shadow: 2px 2px 5px #aaa;
}

.dialog > div {
    display: flex;
    flex-direction: column;
}

.close-registration-button {
    align-self: flex-end;
    width: 1.8rem;
    height: 1.8rem;
    padding: 0;
    position: relative;
    background-color: transparent;
    border: none;
}

.close-registration-button:hover div {
    background-color: red;
}

.close-registration-button > div {
    background-color: black;
    width: 2.2rem;
    height: 0.24rem;
    border-radius: 0.2rem;
    position: absolute;
    translate: -0.3rem -0.1rem;
    transition: background-color .2s;
}

.line1 {
    rotate: 43deg;
}

.line2 {
    rotate: -43deg;
}

.field2-container + .field2-container {
    margin-top: 1rem;
}

.field2-div {
    margin-top: .1rem;
    width: 17.5rem;
}

.field2-div input {
    box-shadow: none;
}

.pre-registration-submit {
    /* background: linear-gradient(to bottom, #51bb47 0%, #1c7524 100%); */
    background: linear-gradient(to bottom, #5ea3dd 0%, #456b8b 100%);
    font-weight: bold;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    padding: 6px 20px;
    border: none;
    box-shadow: 2px 2px 5px #ddd;
    width: 65%;
    margin-top: 1rem
}
 
.pre-registration-submit:hover {
    /* background: linear-gradient(to bottom, #7edc75 0%, #46bf51 100%); */
    background: linear-gradient(to bottom, #c5d87a 0%, #aac153 100%);
}


/* UPLOAD MEDIA */
.upload-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.field-container {
    display: flex;
    padding-left: 0.4rem;
}

.field-container + .field-container {
    border-top: 1px solid #ddd;
    padding-top: 0.5rem;
}

.field-container label {
    width: 10rem;
}

.field-div {
    display: flex;
    flex-direction: column;
}

#medias {
    background-color: transparent;
}

.m2m-field {
    height: 15rem;
    overflow-y: scroll;
    margin-top: 1rem;
}

.co_author-div input {
    box-shadow: none;
}

.co_author-div > p {
    padding: 0.6rem 0 0 0;
    font-style: italic;
}

.co_author-div > div:first-of-type {
    overflow-y: scroll;
    height: 15rem;
}

.co_author-div > div:last-of-type {
    display: flex;
    gap: 0.7rem;
    margin-top: 1.5rem;
}

.co_author-div > div:last-of-type p {
    padding: 0;
}

.wrapper-field-div > p {
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.has-taxons-button {
    color: cornsilk;
    border: none;
    padding: 0.2rem 0.7rem;
    border-radius: 5px;
    opacity: .7;
}

.has-taxons {
    background-color: #E6EFC2;
    color: #2d5902;
    border-color: #2d5902;
}

.no-taxons {
    background-color: #FBE3E4;
    color: #8a1f11;
    border-color: #8a1f11;
}

.taxons-button-checked {
    border-width: 2px;
    border-style: solid;
    opacity: 1;
}

.has-taxons-button > label {
    font-weight: normal;
}

#id_has_taxons_0, #id_has_taxons_1 {
    display: none;
}





.field-div select, .field-div input {
    height: 1.6rem;
    margin: 0;
}

textarea {
    resize: none;
    height: 5.8rem;
    margin: 0;
}

.field-div span {
    font-size: .75rem;
    color: #5b5b5b;
}

.term-wrapper {
    display: flex;
    gap: .4rem;
}

.term-wrapper > input {
    height: fit-content;
    margin-top: .1rem;
}

.submit-button {
    /* background-color: #44c544; */
    background: linear-gradient(to bottom, #51bb47 0%, #1c7524 100%);
    color: white;
    font-size: 1.2rem;
    width: fit-content;
    padding: .5rem .8rem;
    margin-top: 3rem;
    border-radius: 0.4rem;
    border: none;
    transition: background-color .1s;
}

.submit-button:hover {
    /* background-color: rgb(57, 168, 57); */
    background: linear-gradient(to bottom, #7edc75 0%, #46bf51 100%);
}

.hide-div {
    display: none;
}





/* MY MEDIAS */
tr, th {
    color: #333;
}

/* .table-body tr:nth-child(odd) td {
    background-color: #e2e2e2 !important;
}

.table-body tr:nth-child(even) td, .table-head th {
    background-color: #405c73 !important;
} */

.table-head th {
    background: -webkit-linear-gradient(top, #5b83a4 16%, #002746 100%);
    background: -moz-linear-gradient(top, #5b83a4 16%, #002746 100%);
    background: -o-linear-gradient(top, #5b83a4 16%, #002746 100%);
    background: linear-gradient(to bottom, #5b83a4 16%, #002746 100%);
    color: white;
}

.table-body td {
    background-color: #e9ecf2;
}

.table-body a {
    font-weight: bold;
    color: #333;
}

.table-body a:hover {
    color: #000000;
}

.not-edited {
    color: #ff4703;
}

.to-review {
    color: #6a6aff;
}

.published {
    color: #13ad13;
}


/* .text-cedule {
    vertical-align: top;
    text-align: center;
    padding: 1rem;
}

.image-cedule {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.button-cedule {
    text-align: center;
}

.button-cedule a {
    padding: 0.5rem 1.7rem;
    background-color: #f0f860;
    text-decoration: none;
    color: #353400;
    font-weight: bold;
} */

