@media (max-width: 1028px) {
     .span-16 {
        width: 100%;
    }
}

#license-details {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#license-item {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
