#mainfooter {
    font-size:.8rem;
    letter-spacing: 2px;
    padding: 1rem 0;
    margin: 0; 
    background: #fafafa;
    border-radius: 10px 10px 0 0;
    border-color: #eee #fafafa;
    border-style: solid solid none solid;
    border-width: 5px 5px 0 5px;
}

#footerbase {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
}

#footerbase img {
    height: 80px;
    object-fit: contain;
}

#sitelinks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    width: 100%;
    gap: .3rem 2rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2rem;
}

#copyright {
	text-align: center;
	padding: 2em;
}
/* Extra Large Screens (max-width: 1600px) */
@media (max-width: 1600px) {
}

/* Desktops and Larger Screens (max-width: 1200px) */
@media (max-width: 1200px) {
}

/* Small Laptops (max-width: 1024px) */
@media (max-width: 1024px) {
}

/* Intermediate devices (max-width: 900px) */
@media (max-width: 900px) {
    #footerbase {
        gap: 1rem;
    }
    #sitelinks {
        padding: 1rem 0.7rem 0 0.7rem;
    }
}

/* Tablets and Large Phones (max-width: 768px) */
@media (max-width: 768px) {
    #footerbase {
        gap: 0.5rem;
    }
}

/* Phones (max-width: 600px) */
@media (max-width: 600px) {
    #footerbase {
        gap: 0rem;
    }
}

/* Smartwatches (max-width: 320px) */
@media (max-width: 320px) {
}





