#intro {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#intro > #cover-image {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

#intro > #cover-text {
    width: 60%;
}

#intro-more {
  margin-bottom:1em;
}

.main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 874px) {
    #intro > #cover-text {
        width: 100%;
    }
    #intro > #cover-image {
        margin: 0px;
    }
}
