.success {
    position: fixed;
    font-size: 1.3rem;
    left: 1rem;
    top: 7rem;
    z-index: 5;
}

#intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 2rem;
  background: #fafafa;
  border-radius: 10px;
  padding: 2rem;
  border-color: #eee #fafafa;
  border-style: solid;
  border-width: 5px;
  gap: 2rem;
}

#cover-image {
  flex: 0.75;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cover-text {
  flex: 1;
  font-size:1rem;
  text-align: center;
}

#cover-text p {
  padding: 0 2rem;
  margin-bottom: 1rem;
}

/* Make the image responsive */
#media-photo {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

#intro h1 {
  text-transform:uppercase;
  color:#333;
  text-align:center;
  font-weight:bold;
  font-size:1.5rem;
  line-height: 1em;
}

#intro-more {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  font-size:1rem;
}

.content-only {
    display: flex;
    flex-direction: column;
    align-items: center
}

#main-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0rem 2rem;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 2rem;
}

#main-content h2 {
  padding: 0;
  text-transform:uppercase;
  color:#333;
  font-weight:bold;
  line-height: 1em;
}

.card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 1rem 0;
  background: #fafafa;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  border-color: #eee #fafafa;
  border-style: solid;
  border-width: 5px;
  gap: 1rem;
  flex: 1;
}

#main-more {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size:1rem;
}

#photos p, #videos p, #tours p {
  font-size:1rem;
  width: 100%;
  padding: 0;
}

/* Smartwatches (max-width: 320px) */
@media (max-width: 320px) {
}

/* Phones (max-width: 600px) */
@media (max-width: 600px) {
}

/* Tablets and Large Phones (max-width: 768px) */
@media (max-width: 768px) {
  #intro {
    flex-direction: column;
  }
  #cover-image {
    max-width: 75%;
  }
}

/* Intermediate devices (max-width: 900px) */
@media (max-width: 900px) {
  #cover-image {
    flex: 0.85;
  }
}

/* Small Laptops (max-width: 1024px) */
@media (max-width: 1024px) {
  #cover-text p {
    padding: 0 1rem;
  }
}

/* Desktops and Larger Screens (max-width: 1200px) */
@media (max-width: 1200px) {
}

/* Extra Large Screens (max-width: 1600px) */
@media (max-width: 1600px) {
}
