#nav-header {
    display: flex;
    flex-direction: row-reverse;
    gap: .1rem;
    margin-bottom: .3rem;
    text-align: initial; 
    font-size: .99rem; 
}

#lang-nav-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu { 
    float: none;
    font-size: .92rem; 
    list-style: none;
    margin: 0;
    background:#4d7494;
    font-weight:bold;
}

.menu li {
  float: left;
  margin: 0 2px;
}

.menu li:hover a,
.selected {
  background:#fafafa;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius:10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  color:#4d7494 !important;
}

.menu li a {
  color:white;
  padding: 0.3em 5px 0.5em;
}

#media.menu {
    min-width: 36rem;
    height: 25px;
    padding: 0.2rem .625rem 0.08rem !important; 
    border-width: 0 !important; 
    background:#4d7494;
    background: -moz-linear-gradient(center top , #4d7494 0%, #475D6F 100%) repeat scroll 0 0 transparent; /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d7494), color-stop(100%,#475D6F)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d7494', endColorstr='#475D6F',GradientType=0 ); /* ie */
    -moz-border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;
    border-radius: 0 0 10px 0;
    border-color:#fff #eee #fafafa;
    border-style:solid;
}

#about.menu {
    height: 25px;
    padding: 0.2rem 0.625rem 0.08rem 1.25rem !important; 
    border-width: 0 !important; 

    background:#94B1CA;
    background: -moz-linear-gradient(center top , #94B1CA 0%, #6B92B2 100%) repeat scroll 0 0 transparent; /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6B92B2), color-stop(100%,#7296B3)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94B1CA', endColorstr='#6B92B2',GradientType=0 ); /* ie */
    -moz-border-radius: 0 0 0 30px;
    -webkit-border-radius: 0 0 0px 30px;
    border-radius: 0 0 0px 30px;
    border-color:#fff #fafafa #fafafa #eeeeee;
    border-style:none solid solid solid;
}

#hamburger-button {
    background: transparent; 
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3.2rem;
    height: 2rem;
    padding: 0;
    border: none;
}

#hamburger-button div {
    background-color: #4b7393;
    height: 0.42rem;
    width: 100%;
    padding: 0;
    border-radius: 15px;
}

#hamburger-menu-container {
    background-color: /* #475D6F */#4d7494; 
    display: none;
    flex-direction: column;
    gap: .5rem;
    /* padding: 1.2rem 0.5rem 1rem .5rem; */
    width: 11rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    margin-right: 2.5rem;
}

.show-hamburger-menu {
    display: flex !important;
}

#close-hamburger-menu {
    background-color: transparent;
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    top: 0.7rem;
    right: 1.3rem;
    border: none;
}

#close-hamburger-menu div {
    background-color: white;
    height: .35rem;
    width: 3rem;
    border-radius: 15px;
}

#close-hamburger-menu div:first-child {
    transform: rotate(43deg) translate(-7px, 11px);
}

#close-hamburger-menu div:last-child {
    transform: rotate(138deg) translate(7px, 10px);
}

#media-hamburger {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: left; 
    padding: 1.2rem .5rem .25rem .5rem; 
}

#about-hamburger {
    background-color: #6B92B2; 
    display: flex; 
    flex-direction: column;
    padding: .25rem .5rem 1rem .5rem; 
    text-align: left; 
    gap: .5rem;
}

@media (max-width: 920px) {
    #media {
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 910px) {
    #nav-header {
        flex-direction: column-reverse;
        gap: .3rem;
    }

    #lang-nav-div {
        justify-content: flex-start;
        gap: 1rem;
    }
}

/*Hamburger menu here*/
@media (max-width: 680px) {
    #nav-header {
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
        margin-top: .5rem;
    }

    #lang-nav-div {
        justify-content: flex-start;
    }

    #media, #about {
        display: none;
    }

    #hamburger-button {
        display: flex;
    }
}

@media (max-width: 350px) {
    #hamburger-menu-container {
        margin-right: 1rem;
    }
}
