.content-only {
    display: flex;
}

.section_organization {
    width: 66%;
    margin-right: 0.5rem;
}

/* Tablet layout */
@media (max-width: 990px) {
    .section_organization {
        width: 100%;
    }

    .content-only {
        flex-wrap: wrap-reverse;
    }
}

/* Mobile table layout */
@media (max-width: 672px) {
    th {
        font-size: 10px;
    }

    /*Remove the title of second column */
    table > tbody > tr > th:nth-child(2){
        display: none;
    }

    /*Remove the description*/
    table > tbody:nth-child(1n) > tr > td:nth-child(2){
        display: none;
    }

    /*align images of the tables */
    table > tbody:nth-child(1n) > tr > td:nth-child(3){
        width: 20vw;
    }
      
    .thumbs-org > a >  img {
        width: 4rem;
    }
}