.content-only {
    display: flex;
}

.section_organization {
    width: 66%;
    margin-right: 0.5rem;
}

@media (max-width: 990px) {
    .section_organization {
        width: 100%;
    }

    .content-only {
        flex-wrap: wrap-reverse;
    }
}

@media (max-width: 672px) {
    .section_organization > table {
        box-sizing: border-box;
        width: 100%;
    }
    
    th {
        font-size: 10px;
    }

    .table-responsiveness {
        overflow-x: auto;
    }

    .thumbs-org > a >  img {
        width: 4rem;
    }
}