.content-only {
    display: flex;
}

.section_organization {
    width: 66%;
    margin-right: 0.5rem;
}


@media (max-width: 990px) {
    .section_organization {
        width: 100%;
    }

    .content-only {
        flex-wrap: wrap-reverse;
    }
}