/*

    Style to References Page

*/

.refs-main {
    width: 100%;
}

.refs-title {
    width: 100%;
}

.refs-subtitles, .refs-citation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.refs-citation {
    margin:0 0 1em;
}

.refs-subtitle-example, .refs-citation-thumb {
    width: 130px;
}

.refs-subtitle-citation, .refs-citation-info {
    width: 60%;
}

.refs-subtitle-more, .refs-citation-link {
    width: 20%;
}

.refs-citation-info > *{
    width: 100%;
    overflow-wrap: break-word;
}


/*
    MEDIA
*/

@media (max-width: 830px) {
    .refs-subtitle-citation, .refs-citation-info {
        width: 53%;
    }
    
    .refs-subtitle-more, .refs-citation-link {
        width: 16%;
    }
}

@media (max-width: 664px) {
    .refs-subtitle-citation, .refs-citation-info {
        width: 50%;
    }
    
    .refs-subtitle-more, .refs-citation-link {
        width: 20%;
    }
}

@media (max-width: 585px) {
    .refs-subtitles, .refs-citation {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 9px;
        margin: 0px 0px 40px 0px;
    }
    
    .refs-subtitles {
        font-size: 0.7em;
        gap: 0px;
        margin: 0px 0px 15px 0px;
    }

    .refs-subtitle-example, .refs-citation-thumb {
        width: 130px;
    }
    
    .refs-subtitle-citation, .refs-citation-info {
        width: 100%;
    }
    
    .refs-subtitle-more, .refs-citation-link {
        width: 100%;
    }
}