.search-results-section {
    max-width: 36.5rem;
}

.aside-search-form {
    min-width: 19.375rem;
    max-width: 19.375rem;
}

.more-filters-button {
    display: flex;
    gap: .7rem;
    align-items: center;
}

.more-filters-button p {
    padding: .7rem 0;
    font-weight: 400;
}

.first-dropdown-arrow,
.dropdown-arrow {
    width: .5rem;
    margin-left: .5rem;
}

.first-dropdown-arrow {
    rotate: 90deg;
}

.more-filters {
    padding-bottom: 1.5rem;
}

.checkbox-div {
    margin: .4rem 0;
}

.checkbox-div:first-child {
    margin: .2rem 0;
}

.more-filters-button,
.checkbox-div > button {
    background: none;
    color: #444;
    border: none;
    outline: none;
    padding: 0;
    font-weight: bold;
}

.checkbox-div > div {
    margin: .7rem 0;
    padding-left: .8rem;
    display: none;
}

.checkbox-div > label {
    vertical-align: top;
}

/*Styling JQuery*/
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    font-size: .625rem;
}


@media (max-width: 1003px) {
    .aside-search-form {
        min-width: 13.3rem;
        width: 100%;
    }
}

@media (max-width: 622px) {
    .aside-search-form {
        width: 14rem;
    }
}

@media (max-width: 595px) {
    .aside-search-form {
        width: 100%;
        max-width: 19.375rem;
    }

    .first-dropdown-arrow {
        rotate: 0deg;
    }

    .more-filters {
        display: none;
    }

    #display-bottom {
        display: none;
    }
}