/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight:inherit;
  font-style:inherit;
  font-family:inherit;
}

article, aside, details, dialog, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height:1.5;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a img {
  border:none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, td, th {
  text-align:left;
  font-weight:normal;
}

table, td, th {
  vertical-align:middle;
  background:#fafafa;
  color:#666666;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 1em 0;
  padding: 0;
  clear: both;
}

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/

 body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
*/

/* Normalize monospace sizing:
en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/**
 * Minimal base styles.
 */

/* 1) Always force a scrollbar in non-IE 
2) Remove iOS text size adjust without disabling user zoom: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

/* Hide scrollbars from embed page */
iframe {
  overflow: hidden;
}

a {
  color:#4d7494;
  text-decoration:none;
}

a:focus, a:hover {
  color:#324d61;
}

a:active, a:visited {
  color: #607890;
}

/* j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none;
}

b, strong, th {
  font-weight: bold;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
2) WebKit browsers add a 2px margin outside the chrome of form elements. 
Firefox adds a 1px margin above and below textareas 
3) Set font-size to match <body>'s, and font-family to sans-serif 
4) Align to baseline */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* 1) Remove default scrollbar in IE: www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/
2) Align to text-top */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Remove extra padding and inner border in Firefox */
input::-moz-focus-inner,
button::-moz-focus-inner { border: 0; padding: 0; }

/* Colors for form validity */
input:valid, textarea:valid {
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* Bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/* These selection declarations have to be separate
No text-shadow: twitter.com/miketaylr/status/12228805301
Also: hot pink! */
::-moz-selection { background: #546473; color:#ffffff; text-shadow: none; }
::selection { background:#546473; color:#ffffff; text-shadow: none; }

/**
 * Primary styles
 *
 * Author: 
 */

/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;}
body, select, input, textarea {
  color:#444444;
  background:#ffffff;
  font-family:Ubuntu,"Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#222222;}

h1 {font-size:2.333em;padding:0 0 0.4em 0;}
h2 {font-size:1.778em;padding:0 0 0.3em 0;}
h3 {font-size:1.433em;padding:0 0 0.3em 0;}
h4 {font-size:1.2em;padding:0 0 0.15em 0;}
h5 {font-size:1.1em;padding:0 0 0.2em 0;}
h6 {font-size:1em;font-style:italic;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

p {padding:0 0 1em;}
p img.left {
  float:left;
  margin:1.5em 1.5em 1.5em 0;
  padding:0;
}
p img.right {
  float:right;
  margin:1.5em 0 1.5em 1.5em;
}
blockquote {
  margin:1.5em;
  color:#666666;
  font-style:italic;
}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#aaa;}

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
  /* margin:1.5em 0; */
}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}

li ul, li ol {margin:0;}
ul, ol {
  margin:0 1.5em 1.5em 0;
  padding-left:3.333em;
}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
ul.padlist {
  margin:0 0 1em 0;
  padding-left:17px;
}

dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;background:#ccc;}
thead th {background:#c3d9ff;}
th, td, caption {padding:0.5em 10px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}

caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}
.bold {font-weight:bold;}
.upper {text-transform:uppercase;}
.align-right {text-align: right;}
.align-center {text-align: center;}
.align-left {text-align: left;}
.float-right {float:right;}
.float-left {float:left;}
.shadow {
  -webkit-box-shadow: 2px 2px 5px #aaa;
  -moz-box-shadow: 2px 2px 5px #aaa;
  box-shadow: 2px 2px 5px #aaa; 
}

/* forms.css */
label {font-weight:bold;}
fieldset {
  padding:1.4em;
  margin:0 0 1.5em 0;
  border:1px solid #ccc;
}
legend {
  font-weight:bold;
  font-size:1.2em;
}
input[type=text], input[type=password], input.text, input.title, textarea, select {
  background-color:#ffffff;
  border:1px solid #bbbbbb;
}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border-color:#666;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative;top:.25em;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error {
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
}
.notice {
  background:#FFF6BF;
  color:#514721;
  border-color:#FFD324;
}
.success {
  background:#E6EFC2;
  color:#264409;
  border-color:#C6D880;
}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

/* grid.css */
.container {width:950px;margin:0 auto;}
.showgrid {background:url(src/grid.png);}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:10px;}
.last {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24 {width:950px;margin-right:0;}
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {border-left-width:1px;border-right-width:1px;padding-left:5px;padding-right:5px;}
input.span-1, textarea.span-1 {width:18px;}
input.span-2, textarea.span-2 {width:58px;}
input.span-3, textarea.span-3 {width:98px;}
input.span-4, textarea.span-4 {width:138px;}
input.span-5, textarea.span-5 {width:178px;}
input.span-6, textarea.span-6 {width:218px;}
input.span-7, textarea.span-7 {width:258px;}
input.span-8, textarea.span-8 {width:298px;}
input.span-9, textarea.span-9 {width:338px;}
input.span-10, textarea.span-10 {width:378px;}
input.span-11, textarea.span-11 {width:418px;}
input.span-12, textarea.span-12 {width:458px;}
input.span-13, textarea.span-13 {width:498px;}
input.span-14, textarea.span-14 {width:538px;}
input.span-15, textarea.span-15 {width:578px;}
input.span-16, textarea.span-16 {width:618px;}
input.span-17, textarea.span-17 {width:658px;}
input.span-18, textarea.span-18 {width:698px;}
input.span-19, textarea.span-19 {width:738px;}
input.span-20, textarea.span-20 {width:778px;}
input.span-21, textarea.span-21 {width:818px;}
input.span-22, textarea.span-22 {width:858px;}
input.span-23, textarea.span-23 {width:898px;}
input.span-24, textarea.span-24 {width:938px;}
.append-1 {padding-right:40px;}
.append-2 {padding-right:80px;}
.append-3 {padding-right:120px;}
.append-4 {padding-right:160px;}
.append-5 {padding-right:200px;}
.append-6 {padding-right:240px;}
.append-7 {padding-right:280px;}
.append-8 {padding-right:320px;}
.append-9 {padding-right:360px;}
.append-10 {padding-right:400px;}
.append-11 {padding-right:440px;}
.append-12 {padding-right:480px;}
.append-13 {padding-right:520px;}
.append-14 {padding-right:560px;}
.append-15 {padding-right:600px;}
.append-16 {padding-right:640px;}
.append-17 {padding-right:680px;}
.append-18 {padding-right:720px;}
.append-19 {padding-right:760px;}
.append-20 {padding-right:800px;}
.append-21 {padding-right:840px;}
.append-22 {padding-right:880px;}
.append-23 {padding-right:920px;}
.prepend-1 {padding-left:40px;}
.prepend-2 {padding-left:80px;}
.prepend-3 {padding-left:120px;}
.prepend-4 {padding-left:160px;}
.prepend-5 {padding-left:200px;}
.prepend-6 {padding-left:240px;}
.prepend-7 {padding-left:280px;}
.prepend-8 {padding-left:320px;}
.prepend-9 {padding-left:360px;}
.prepend-10 {padding-left:400px;}
.prepend-11 {padding-left:440px;}
.prepend-12 {padding-left:480px;}
.prepend-13 {padding-left:520px;}
.prepend-14 {padding-left:560px;}
.prepend-15 {padding-left:600px;}
.prepend-16 {padding-left:640px;}
.prepend-17 {padding-left:680px;}
.prepend-18 {padding-left:720px;}
.prepend-19 {padding-left:760px;}
.prepend-20 {padding-left:800px;}
.prepend-21 {padding-left:840px;}
.prepend-22 {padding-left:880px;}
.prepend-23 {padding-left:920px;}
.border {padding-right:4px;margin-right:5px;border-right:1px solid #eee;}
.colborder {padding-right:24px;margin-right:25px;border-right:1px solid #eee;}
.pull-1 {margin-left:-40px;}
.pull-2 {margin-left:-80px;}
.pull-3 {margin-left:-120px;}
.pull-4 {margin-left:-160px;}
.pull-5 {margin-left:-200px;}
.pull-6 {margin-left:-240px;}
.pull-7 {margin-left:-280px;}
.pull-8 {margin-left:-320px;}
.pull-9 {margin-left:-360px;}
.pull-10 {margin-left:-400px;}
.pull-11 {margin-left:-440px;}
.pull-12 {margin-left:-480px;}
.pull-13 {margin-left:-520px;}
.pull-14 {margin-left:-560px;}
.pull-15 {margin-left:-600px;}
.pull-16 {margin-left:-640px;}
.pull-17 {margin-left:-680px;}
.pull-18 {margin-left:-720px;}
.pull-19 {margin-left:-760px;}
.pull-20 {margin-left:-800px;}
.pull-21 {margin-left:-840px;}
.pull-22 {margin-left:-880px;}
.pull-23 {margin-left:-920px;}
.pull-24 {margin-left:-960px;}
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float:left;position:relative;}
.push-1 {margin:0 -40px 1.5em 40px;}
.push-2 {margin:0 -80px 1.5em 80px;}
.push-3 {margin:0 -120px 1.5em 120px;}
.push-4 {margin:0 -160px 1.5em 160px;}
.push-5 {margin:0 -200px 1.5em 200px;}
.push-6 {margin:0 -240px 1.5em 240px;}
.push-7 {margin:0 -280px 1.5em 280px;}
.push-8 {margin:0 -320px 1.5em 320px;}
.push-9 {margin:0 -360px 1.5em 360px;}
.push-10 {margin:0 -400px 1.5em 400px;}
.push-11 {margin:0 -440px 1.5em 440px;}
.push-12 {margin:0 -480px 1.5em 480px;}
.push-13 {margin:0 -520px 1.5em 520px;}
.push-14 {margin:0 -560px 1.5em 560px;}
.push-15 {margin:0 -600px 1.5em 600px;}
.push-16 {margin:0 -640px 1.5em 640px;}
.push-17 {margin:0 -680px 1.5em 680px;}
.push-18 {margin:0 -720px 1.5em 720px;}
.push-19 {margin:0 -760px 1.5em 760px;}
.push-20 {margin:0 -800px 1.5em 800px;}
.push-21 {margin:0 -840px 1.5em 840px;}
.push-22 {margin:0 -880px 1.5em 880px;}
.push-23 {margin:0 -920px 1.5em 920px;}
.push-24 {margin:0 -960px 1.5em 960px;}
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .ush-20, .push-21, .push-22, .push-23, .push-24 {float:right;position:relative;}
.prepend-top {margin-top:1.5em;}
.append-bottom {margin-bottom:1.5em;}
.box {padding:1.5em;margin-bottom:1.5em;background:#E5ECF9;}
hr { }
hr.space {background:#fff;color:#fff;visibility:hidden;}

/*.clearfix:after,*/
.container:after {
  content:"\0020";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  overflow:hidden;
}
.container {display:block;}
.clear {clear:both;}


/* --------------------------------------------------------------

fancy-type.css
 * Lots of pretty advanced classes for manipulating text.

 See the Readme file in this folder for additional instructions.

 -------------------------------------------------------------- */

/* Indentation instead of line shifts for sibling paragraphs. */
p + p { text-indent:2em; margin-top:-1em; }
form p + p  { text-indent: 0; } /* Don't want this in forms. */


/* For great looking type, use this code instead of asdf:
<span class="alt">asdf</span>
Best used on prepositions and ampersands. */

.alt {
  color: #666666;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}

/* For great looking quote marks in titles, replace "asdf" with:
<span class="dquo">&#8220;</span>asdf&#8221;
(That is, when the title starts with a quote mark).
(You may have to change this value depending on your font size). */

.dquo { margin-left: -.5em; }

/* Reduced size type with incremental leading
(http://www.markboulton.co.uk/journal/comments/incremental_leading/)

This could be used for side notes. For smaller type, you don't necessarily want to follow the 1.5x vertical rhythm -- the line-height is too much.  
Using this class, it reduces your font size and line-height so that for every four lines of normal sized type, there is five lines of the sidenote. eg:

New type size in em's:
10px (wanted side note size) / 12px (existing base size) = 0.8333 (new type size in ems)

New line-height value:
12px x 1.5 = 18px (old line-height)
18px x 4 = 72px
72px / 5 = 14.4px (new line height)
14.4px / 10px = 1.44 (new line height in em's) */

p.incr, .incr p {
  font-size: 10px;
  line-height: 1.44em;
  margin-bottom: 1.5em;
}

/* Surround uppercase words and abbreviations with this class.
Based on work by Jørgen Arnor Gårdsø Lom [http://twistedintellect.com/] */

.caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size:1.2em;
  line-height:1%;
  font-weight:bold;
  padding:0 2px;
}

.borders {
  border: 1px solid #eee;
  margin: -1px;
}

.border-top {
  border-top: 1px solid #eee;
  margin-top: -1px;
}

.border-right {
  border-right: 1px solid #eee;
  margin-right: -1px;
}

.border-bottom {
  border-bottom: 1px solid #eee;
  margin-bottom: -1px;
}

.border-left {
  border-left: 1px solid #eee;
  margin-left: -1px;
} 


/* HEADER */

#admin {
  padding: 0 4px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  pointer-events: none;
}
#admin ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

#admin a {
  color:hsl(207.04deg 31.56% 44.12% / 80%);
  pointer-events: auto;
}

#admin a:hover {
  color:#4d7494;
}

#admin-controls form ul {
  list-style-type:none;
  padding-left:20px;
}

#languages {
  float:left;
}

div#tree-footer {
  color: #aaaaaa;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* BODY */
#content {
  display: block;
  clear: both;
  margin-bottom: 2rem;
}

#not-found {
  font-size:3em;
  margin:1em 0;
}

/* FOOTER */
.cnpq img {
  vertical-align:top;
}

/* METADADA LIST */
ul.metalist {
  list-style-type:none;
  padding:0;
  margin:0;
}

.metaitem {
  width:100%;
  position:relative;
}

.metacount {
  float:right;
}

div.metagroup {
  border-top:solid 5px #94b1ca;
  margin-bottom:1em;
  padding: 1em 20px;
  background:#fafafa;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.darkrow {
  background:#f5f5f5;
}
.lightrow {
  background:#fafafa;
}


/* MEDIA PAGE */
#single header h1 {
  padding:0 0 0.2em 0;
}

footer.media-tags {
  font-size:1.1em;
  padding:0 0 0.5em;
}

figure.photo, figure.video {
  background: #ffffff;
  padding: .625rem;
  -moz-border-radius: .625rem 0 0;
  -webkit-border-radius: .625rem 0 0;
  border-radius: .625rem 0 0;
  border: 1px solid #eee;
}

figcation {
  text-align:left;
}

#author {
  font-size: 1.1em;
  font-weight: bold;
  position: relative;
  padding-top: .3rem;
  padding-right: 3rem;
}

#scale {
  text-align: center;
}

#scale-string {
  font-weight: bold;
  padding: .65rem 0;
}

div.sideinfo {
  background:#fafafa;
  padding:0.8em 10px 0;
}

ul.biodb {
  background-color: #fafafa;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-radius: 0 0.625rem;
  list-style: none;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  margin: 0;
}

ul.biodb li:hover {
  font-weight: bold;
  cursor: pointer;
}

ul.biodb li div ul {
  list-style: none;
  padding:0;
  margin:0;
}

div.external {
  background: white;
  margin:-3.9em 0 0 65px;
  border: 1px solid #eeeeee;
  padding:0.8em;
  position: absolute;
  display: none;
  cursor: auto;
  font-weight:normal;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-opacity:0.9;
  opacity:0.9;
  filter: alpha(opacity=90);
}

div.external li:hover {
  font-weight:normal;
}


#citethis {
  border-top: 1px solid #EEEEEE;
  padding-top: .9rem;
}

.bg-merge{
  background-color:#FAFAFA !important;
}

#media-duration {
  background: none repeat scroll 0 0 #222222;
  background: -moz-linear-gradient(center top , #222222 0%, #111111 100%) repeat scroll 0 0 transparent; /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#111111)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#111111',GradientType=0 ); /* ie */
  border-radius: 0 0 .313rem .313rem;
  color: #EEEEEE;
  font-size: .75rem;
  font-weight: normal;
  padding: 0 .313rem;
  position: absolute;
  top: 0;
  right: 0;
}

div#meta {
  background:#fafafa;
  -moz-border-radius: 0 0 .625rem .625rem;
  -webkit-border-radius: 0 0 .625rem .625rem;
  border-radius: 0 0 .625rem .625rem;
  border: 1px solid #eee;
  border-top: 0;
}

#breadcrumbs {
  margin:0 0 1em 0;
}

#references {
}

.citation__doi-link {
  background-color: hsl(208, 32%, 39%);
  color: white !important;
  font-weight: 600;
  padding: 0.05rem 0.1rem;
}

.citation__doi-link:hover {
  background-color: hsl(208, 32%, 32%);
}

div#notes {
  margin: 2em 0;
  padding: 0 10px;
}

.nomatch {
  display:block;
  clear:both;
}

/* RELATED LINEAR BROWSER */
#related {
  margin:0.5em 0 0 0;
}

.linear {
  font-size:1.5em;
}

#linear-nav {
  text-align: center;
  margin-top: .7rem;
}

#prev {
  float:left;
}

#next {
  float:right;
}

#total {
  text-align:center;
  font-size:1.1em;
}

#prev-first {
  margin:17px 0 0 0;
  position:absolute;
  text-align:center;
  color:#ffffff;
  font-size:1.8em;
  width:88px;
  text-shadow: 2px 2px 5px #000;
  filter: dropshadow(color=#000000, offx=2, offy=2);
}

#next-last {
  margin:17px 0 0 0;
  position:absolute;
  text-align:center;
  color:#ffffff;
  font-size:1.8em;
  width:88px;
  text-shadow: 2px 2px 5px #000;
  filter: dropshadow(color=#000000, offx=2, offy=2);
}

/* SEARCH PAGE */
div#search-results {
}
div#search-status {
}

#showall {
  font-size:2em;
}

.fashion {
  background:#94B1CA;
  background: -moz-linear-gradient(center top , #94B1CA 0%, #6B92B2 100%) repeat scroll 0 0 transparent; /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94B1CA), color-stop(100%,#6B92B2)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94B1CA', endColorstr='#6B92B2',GradientType=0 ); /* ie */
  font-weight:bold;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  color:#fff;
  padding:4px 12px;
  border:none;
  -webkit-box-shadow: 2px 2px 5px #ddd;
  -moz-box-shadow: 2px 2px 5px #ddd;
  box-shadow: 2px 2px 5px #ddd; 
}

.displayform ul {
  list-style-type: none;
  padding-left: 1em;
  margin: 0;
}

#display-top {
  float:right;
}

#display-bottom {
  float:right;
  margin: -2em 0 0 0;
}

#limpar {
  color:#E5C86F;
  font-weight:bold;
}

#limpar:hover {
  color:#E5926F;
}

.fashion:hover {
  background:#C6D880;
  cursor: pointer;
}

ul.refine-active, ul.refine-inactive {
  list-style:none;
  padding-left:1em;
}

ul.refine-active li a.meta-active,
ul.refine-inactive li a.meta-inactive {
}

.sign {
  font-size:1.4em;
  line-height:1em;
  vertical-align:text-top;
}

.minus {
}

.meta-active {
  font-weight:bold;
  font-size:1.2em;
}

/* GALLERY */
#messages {
  position:fixed;
  top:1em;
  left:10px;
  text-align:center;
  z-index: 2;
}

#messages div {
  margin:0 0 0.5em 0;
}

.error, .notice, .success, .warning, .info {
  padding:.2em 1em;
  border:2px solid #ddd;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  font-size:1.4em;
  -moz-opacity:0.9;
  opacity:0.9;
  filter:alpha(opacity=90);
  transform: scale(1);
  transform-origin: 0 0;
  position:relative;
  width: fit-content;
}

/* THUMBS */
.semfoto {
  width:120px;
  height:90px;
  text-align:center;
}

div.thumbs-org {
  padding:5px 5px 0 5px;
  float:left;
  background: #eeeeee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div.thumbs-org a {
  float:left;
}

ul.thumbs, ul.rel-thumbs {
  margin: 0;
  padding: 0;
}

#highthumbs ul.thumbs img { }

ul.rel-thumbs li {
  /* display: inline;
  float: left;
  margin: 0 10px 10px 0; */
  /* padding: 5px; */
  /* background: #eeeeee; */
  /* list-style: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; */
  /* position:relative; */
}

ul.rel-thumbs li.current {
  -moz-opacity:0.4;
  opacity:0.4;
  filter:alpha(opacity=40);
  transform: scale(1);
  transform-origin: 0 0;
}

ul.thumbs .lupa, ul.rel-thumbs .lupa, div.thumbs-org .lupa {
  display: none;
  float: right;
  position: relative;
  margin:-10px;
  left:-6px;
  background:#eeeeee;
  top:6px;
  padding: 0 5px;
  -moz-border-radius: 0 5px 0 5px;
  -webkit-border-radius: 0 5px 0 5px;
  border-radius: 0 5px 0 5px;
}

.thumb-duration {
  color:#EEEEEE;
  background:#333333;
  font-size:0.8em;
  padding:0 2px;
  bottom: 0;
  left: 0;
  position: absolute;
  -moz-border-radius:0 5px 0 0;
  -webkit-border-radius:0 5px 0 0;
  border-radius:0 5px 0 0;
  -moz-opacity:0.9;
  opacity:0.9;
  filter: alpha(opacity=90);
}

ul.thumbs li:hover .lupa,
ul.rel-thumbs li:hover .lupa,
div.thumbs-org:hover .lupa {
  display: block;
}

ul.thumbs li a,
ul.rel-thumbs li a {
  margin:0;
  padding:0;
}

ul.thumbs img,
ul.rel-thumbs img {
  float:left;
}

ul.rel-thumbs img {
  width: 5.2rem;
}

ul.thumbs li.scale-micro,
ul.rel-thumbs li.scale-micro {
  border-color: #94B1CA !important;
}

.scale-micro {
  background: #94B1CA !important;
  border-color: #94B1CA !important;
}

ul.thumbs li.scale-tiny,
ul.rel-thumbs li.scale-tiny {
  border-color: #BACC70 !important;
}

.scale-tiny {
  background: #BACC70 !important;
  border-color: #BACC70 !important;
}

ul.thumbs li.scale-visible,
ul.rel-thumbs li.scale-visible {
  border-color: #FFE866 !important;
}

.scale-visible {
  background: #FFE866 !important;
  border-color: #FFE866 !important;
}

ul.thumbs li.scale-large,
ul.rel-thumbs li.scale-large {
  border-color: #FFB566 !important;
}

.scale-large {
  background: #FFB566 !important;
  border-color: #FFB566 !important;
}

ul.thumbs li.scale-huge,
ul.rel-thumbs li.scale-huge {
  border-color: #B25959 !important;
}

.scale-huge {
  background: #B25959 !important;
  border-color: #B25959 !important;
}

/* SIDEBAR */
aside.main {
  min-height:20em;
  max-width: 19.5rem;
  min-width: 18rem;
}

@media (max-width: 840px) {
  aside.main {
    min-width: 0;
  }
}

aside div.block {
  border-style:solid;
  border-width:5px;
  border-color:#94b1ca #eee #fafafa;
  margin: 0 0 1em 0;
  padding: .9rem .9rem 0 .9rem;
  background:#fafafa;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

aside.photo {
  float:right;
}

/* TREE */
ul.tree, ol.tree {
}

/*#colaptree { display:none; }*/

/* META PAGE */
#metafield {
}

/* BLOG */
article.post footer {
  margin-bottom:1em;
}

article.post footer#article-tags {
  margin-top:1em; /* deprecated */
}

article.post h1 {
  padding:0;
}

article.post {
  margin:1em 0;
  padding:0;
}

/* TOURS */
.tour {
  margin-bottom:1em;
  padding:1em 0 !important;
}

.tour .thumbs-org {
  margin-left:1em;
}

#tour-description {
  margin-bottom:1em;
}

/* COMMENTS */
div#comments {
  margin:0 0 1em 0;
}
div#comments p {
  cursor:pointer;
}

/* FIXTAXA */
.unselect-all, .select-all {cursor: pointer;}
.unselect-all {display:none;}

/*
Slides container
Important:
Set the width of your slides container
Set to display none, prevents content flash
 */
.slides_container {
  width:830px;
  display:none;
  margin-bottom:2em;
  background:#fafafa;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding:12px 10px 8px;
  border-color:#eee #fafafa;
  border-style:solid;
  border-width:5px;
}

#slides .next {
  position:relative;
  top:2em;
  left:-10px;
}

#slides .prev {
  position:relative;
  top:2em;
  left:15px;
}

/*
Each slide
Important:
Set the width of your slides
If height not specified height will be set by the slide content
Set to display block
 */
.slides_container div.eachslide {
  width:830px;
  display:block;
}

.eachslide img { 
  -webkit-box-shadow: 2px 2px 5px #aaa;
  -moz-box-shadow: 2px 2px 5px #aaa;
  box-shadow: 2px 2px 5px #aaa; 
}

/*
Optional:
Reset list default style
 */
#paginator-container {
  margin-bottom:2em;
}

#slides .pagination {
  list-style:none;
  display:inline;
  padding:0;
  margin:0;
}
#slides .pagination li {
  float:left;
  padding:0 5px 0 0;
}

#slides .pagination li.current { 
  -moz-opacity:0.4;
  opacity:0.4;
  filter:alpha(opacity=40);
  transform: scale(1);
  transform-origin: 0 0;
}

#slides .pagination img {
  width:90px;
}

/*
Optional:
Show the current slide in the pagination
 */
.pagination .current a {
  color:red;
}

/* EMBED */
#embed-page {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
}

#embed-page .full-frame {
  position:absolute;
  width:100%;
  height:100%;
}

#embed-code {
  background:#fafafa;
  color:#aaaaaa;
}





/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { transform: scale(1); transform-origin: 0 0; }

/**
 * Placeholder media queries for responsive design. Modify as design requires.
 * These follow after, and will override, the primary ('mobile first') styles
 * The closing /mediaquery comment is required by respond.js min/max-width Media Query polyfill
 */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}/*/mediaquery*/

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}/*/mediaquery*/



/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter:none !important;
    -ms-filter: none !important;
  } /* Black prints faster: sanbeiji.com/archives/953 */

  body {
    line-height:1.5;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    color:#000;
    background:none;
    font-size:10pt;
  }

  .container {
    background:none;
  }

  a, a:link, a:visited {
    color: #444 !important;
    text-decoration: underline;
    background:transparent;
    font-weight:700;
  }

  a[href]:after, a:link:after, a:visited:after {
    content: " (" attr(href) ")";
    font-size:90%;
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }  /* Don't show links for images, or javascript/internal links */

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
    margin:1.5em;
    padding:1em;
    font-style:italic;
    font-size:.9em;
  }

  code {
    font:.9em "Courier New", Monaco, Courier, monospace;
  }

  thead {
    display: table-header-group;
  } /* css-discuss.incutio.com/wiki/Printing_Tables */

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  a img {
    border:none;
  }

  p img.top {
    margin-top:0;
  }

  @page {
    margin: 0.5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3{
    page-break-after: avoid;
  }

  hr {
    background:#ccc;
    color:#ccc;
    width:100%;
    height:2px;
    margin:2em 0;
    padding:0;
    border:none;
  }

  hr.space {
    background:#fff;
    color:#fff;
    visibility:hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  }

  .small {
    font-size:.9em;
  }

  .large {
    font-size:1.1em;
  }

  .quiet {
    color:#999;
  }

  .hide {
    display:none;
  }
}


/**
 * @file: highslide.css 
 * @version: 4.1.9
 */
.highslide-container div {
  font-family: Verdana, Helvetica;
  font-size: 10pt;
}
.highslide-container table {
  background: none;
}
.highslide {
  outline: none;
  text-decoration: none;
}
.highslide img {
  /*border: 2px solid silver;*/
}
.highslide:hover img {
  border-color: gray;
}
.highslide-active-anchor img {
  visibility: hidden;
}
.highslide-gallery .highslide-active-anchor img {
  border-color: black;
  visibility: visible;
  cursor: default;
}
.highslide-image {
  border-width: 2px;
  border-style: solid;
  border-color: white;
}
.highslide-wrapper, .highslide-outline {
  background: white;
}
.glossy-dark {
  background: #111;
}

.highslide-image-blur {
}
.highslide-number {
  font-weight: bold;
  color: gray;
  font-size: .9em;
}
.highslide-caption {
  display: none;
  font-size: 1em;
  padding: 5px;
  /*background: white;*/
}
.highslide-heading {
  display: none;
  font-weight: bold;
  margin: 0.4em;
}
.highslide-dimming {
  /*position: absolute;*/
  background: black;
}
a.highslide-full-expand {
  background: url(../js/highslide/graphics/fullexpand.gif) no-repeat;
  display: block;
  margin: 0 10px 10px 0;
  width: 34px;
  height: 34px;
}
.highslide-loading {
  display: block;
  color: black;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px;
  border: 1px solid white;
  background-color: white;
  padding-left: 22px;
  background-image: url(../js/highslide/graphics/loader.white.gif);
  background-repeat: no-repeat;
  background-position: 3px 1px;
}
a.highslide-credits,
a.highslide-credits i {
  padding: 2px;
  color: silver;
  text-decoration: none;
  font-size: 10px;
}
a.highslide-credits:hover,
a.highslide-credits:hover i {
  color: white;
  background-color: gray;
}
.highslide-move, .highslide-move * {
  cursor: move;
}

.highslide-viewport {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: none;
  left: 0;
  top: 0;
}
.highslide-overlay {
  display: none;
}
.hidden-container {
  display: none;
}
/* Example of a semitransparent, offset closebutton */
.closebutton {
  position: relative;
  top: -15px;
  left: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(graphics/close.png);
  /* NOTE! For IE6, you also need to update the highslide-ie6.css file. */
}

/*****************************************************************************/
/* Thumbnail boxes for the galleries.                                        */
/* Remove these if you are not using a gallery.                              */
/*****************************************************************************/
.highslide-gallery ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.highslide-gallery ul li {
  display: block;
  position: relative;
  float: left;
  width: 106px;
  height: 106px;
  border: 1px solid silver;
  background: #ededed;
  margin: 2px;
  line-height: 0;
  overflow: hidden;
}
.highslide-gallery ul a {
  position: absolute;
  top: 50%;
  left: 50%;
}
.highslide-gallery ul img {
  position: relative;
  top: -50%;
  left: -50%;
}
html>/**/body .highslide-gallery ul li {
  display: table;
  text-align: center;
}
html>/**/body .highslide-gallery ul li {
  text-align: center;
}
html>/**/body .highslide-gallery ul a {
  position: static;
  display: table-cell;
  vertical-align: middle;
}
html>/**/body .highslide-gallery ul img {
  position: static;
}

/*****************************************************************************/
/* Controls for the galleries.											     */
/* Remove these if you are not using a gallery							     */
/*****************************************************************************/
.highslide-controls {
  width: 195px;
  height: 40px;
  background: url(graphics/controlbar-white.gif) 0 -90px no-repeat;
  margin: 20px 15px 10px 0;
}
.highslide-controls ul {
  position: relative;
  left: 15px;
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  background: url(graphics/controlbar-white.gif) right -90px no-repeat;

}
.highslide-controls li {
  float: left;
  padding: 5px 0;
  margin:0;
  list-style: none;
}
.highslide-controls a {
  background-image: url(graphics/controlbar-white.gif);
  display: block;
  float: left;
  height: 30px;
  width: 30px;
  outline: none;
}
.highslide-controls a.disabled {
  cursor: default;
}
.highslide-controls a.disabled span {
  cursor: default;
}
.highslide-controls a span {
  /* hide the text for these graphic buttons */
  display: none;
  cursor: pointer;
}


/* The CSS sprites for the controlbar - see http://www.google.com/search?q=css+sprites */
.highslide-controls .highslide-previous a {
  background-position: 0 0;
}
.highslide-controls .highslide-previous a:hover {
  background-position: 0 -30px;
}
.highslide-controls .highslide-previous a.disabled {
  background-position: 0 -60px !important;
}
.highslide-controls .highslide-play a {
  background-position: -30px 0;
}
.highslide-controls .highslide-play a:hover {
  background-position: -30px -30px;
}
.highslide-controls .highslide-play a.disabled {
  background-position: -30px -60px !important;
}
.highslide-controls .highslide-pause a {
  background-position: -60px 0;
}
.highslide-controls .highslide-pause a:hover {
  background-position: -60px -30px;
}
.highslide-controls .highslide-next a {
  background-position: -90px 0;
}
.highslide-controls .highslide-next a:hover {
  background-position: -90px -30px;
}
.highslide-controls .highslide-next a.disabled {
  background-position: -90px -60px !important;
}
.highslide-controls .highslide-move a {
  background-position: -120px 0;
}
.highslide-controls .highslide-move a:hover {
  background-position: -120px -30px;
}
.highslide-controls .highslide-full-expand a {
  background-position: -150px 0;
}
.highslide-controls .highslide-full-expand a:hover {
  background-position: -150px -30px;
}
.highslide-controls .highslide-full-expand a.disabled {
  background-position: -150px -60px !important;
}
.highslide-controls .highslide-close a {
  background-position: -180px 0;
}
.highslide-controls .highslide-close a:hover {
  background-position: -180px -30px;
}

/*****************************************************************************/
/* Styles for the HTML popups											     */
/* Remove these if you are not using Highslide HTML						     */
/*****************************************************************************/
.highslide-maincontent {
  display: none;
}
.highslide-html {
  background-color: white;
}
.highslide-html-content {
  display: none;
  width: 400px;
  padding: 0 5px 5px 5px;
}
.highslide-header {
  padding-bottom: 5px;
}
.highslide-header ul {
  margin: 0;
  padding: 0;
  text-align: right;
}
.highslide-header ul li {
  display: inline;
  padding-left: 1em;
}
.highslide-header ul li.highslide-previous, .highslide-header ul li.highslide-next {
  display: none;
}
.highslide-header a {
  font-weight: bold;
  color: gray;
  text-transform: uppercase;
  text-decoration: none;
}
.highslide-header a:hover {
  color: black;
}
.highslide-header .highslide-move a {
  cursor: move;
}
.highslide-footer {
  height: 16px;
}
.highslide-footer .highslide-resize {
  display: block;
  float: right;
  margin-top: 5px;
  height: 11px;
  width: 11px;
  background: url(graphics/resize.gif) no-repeat;
}
.highslide-footer .highslide-resize span {
  display: none;
}
.highslide-body {
}
.highslide-resize {
  cursor: nw-resize;
}

/*****************************************************************************/
/* Styles for the Individual wrapper class names.							 */
/* See www.highslide.com/ref/hs.wrapperClassName							 */
/* You can safely remove the class name themes you don't use				 */
/*****************************************************************************/

/* hs.wrapperClassName = 'draggable-header' */
.draggable-header .highslide-header {
  height: 18px;
  border-bottom: 1px solid #dddddd;
}
.draggable-header .highslide-heading {
  position: absolute;
  margin: 2px 0.4em;
}

.draggable-header .highslide-header .highslide-move {
  cursor: move;
  display: block;
  height: 16px;
  position: absolute;
  right: 24px;
  top: 0;
  width: 100%;
  z-index: 1;
}
.draggable-header .highslide-header .highslide-move * {
  display: none;
}
.draggable-header .highslide-header .highslide-close {
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 5;
  padding: 0;
}
.draggable-header .highslide-header .highslide-close a {
  display: block;
  height: 16px;
  width: 16px;
  background-image: url(graphics/closeX.png);
}
.draggable-header .highslide-header .highslide-close a:hover {
  background-position: 0 16px;
}
.draggable-header .highslide-header .highslide-close span {
  display: none;
}
.draggable-header .highslide-maincontent {
  padding-top: 1em;
}

/* hs.wrapperClassName = 'titlebar' */
.titlebar .highslide-header {
  height: 18px;
  border-bottom: 1px solid #dddddd;
}
.titlebar .highslide-heading {
  position: absolute;
  width: 90%;
  margin: 1px 0 1px 5px;
  color: #666666;
}

.titlebar .highslide-header .highslide-move {
  cursor: move;
  display: block;
  height: 16px;
  position: absolute;
  right: 24px;
  top: 0;
  width: 100%;
  z-index: 1;
}
.titlebar .highslide-header .highslide-move * {
  display: none;
}
.titlebar .highslide-header li {
  position: relative;
  top: 3px;
  z-index: 2;
  padding: 0 0 0 1em;
}
.titlebar .highslide-maincontent {
  padding-top: 1em;
}

/* hs.wrapperClassName = 'no-footer' */
.no-footer .highslide-footer {
  display: none;
}

/* hs.wrapperClassName = 'wide-border' */
.wide-border {
  background: white;
}
.wide-border .highslide-image {
  border-width: 10px;
}
.wide-border .highslide-caption {
  padding: 0 10px 10px 10px;
}

/* hs.wrapperClassName = 'borderless' */
.borderless .highslide-image {
  border: none;
}
.borderless .highslide-caption {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  background: silver;
}

/* hs.wrapperClassName = 'outer-glow' */
.outer-glow {
  background: #444;
}
.outer-glow .highslide-image {
  border: 5px solid #444444;
}
.outer-glow .highslide-caption {
  border: 5px solid #444444;
  border-top: none;
  padding: 5px;
  background-color: gray;
}

/* hs.wrapperClassName = 'colored-border' */
.colored-border {
  background: white;
}
.colored-border .highslide-image {
  border: 2px solid green;
}
.colored-border .highslide-caption {
  border: 2px solid green;
  border-top: none;
}

/* hs.wrapperClassName = 'dark' */
.dark {
  background: #111;
}
.dark .highslide-image {
  border-color: black black #202020 black;
  background: gray;
}
.dark .highslide-caption {
  color: white;
  background: #111;
}
.dark .highslide-controls,
.dark .highslide-controls ul,
.dark .highslide-controls a {
  background-image: url(graphics/controlbar-black-border.gif);
}

/* hs.wrapperClassName = 'floating-caption' */
.floating-caption .highslide-caption {
  position: absolute;
  padding: 1em 0 0 0;
  background: none;
  color: white;
  border: none;
  font-weight: bold;
}

/* hs.wrapperClassName = 'controls-in-heading' */
.controls-in-heading .highslide-heading {
  color: gray;
  font-weight: bold;
  height: 20px;
  overflow: hidden;
  cursor: default;
  padding: 0 0 0 22px;
  margin: 0;
  background: url(graphics/icon.gif) no-repeat 0 1px;
}
.controls-in-heading .highslide-controls {
  width: 105px;
  height: 20px;
  position: relative;
  margin: 0;
  top: -23px;
  left: 7px;
  background: none;
}
.controls-in-heading .highslide-controls ul {
  position: static;
  height: 20px;
  background: none;
}
.controls-in-heading .highslide-controls li {
  padding: 0;
}
.controls-in-heading .highslide-controls a {
  background-image: url(graphics/controlbar-white-small.gif);
  height: 20px;
  width: 20px;
}

.controls-in-heading .highslide-controls .highslide-move {
  display: none;
}

.controls-in-heading .highslide-controls .highslide-previous a {
  background-position: 0 0;
}
.controls-in-heading .highslide-controls .highslide-previous a:hover {
  background-position: 0 -20px;
}
.controls-in-heading .highslide-controls .highslide-previous a.disabled {
  background-position: 0 -40px !important;
}
.controls-in-heading .highslide-controls .highslide-play a {
  background-position: -20px 0;
}
.controls-in-heading .highslide-controls .highslide-play a:hover {
  background-position: -20px -20px;
}
.controls-in-heading .highslide-controls .highslide-play a.disabled {
  background-position: -20px -40px !important;
}
.controls-in-heading .highslide-controls .highslide-pause a {
  background-position: -40px 0;
}
.controls-in-heading .highslide-controls .highslide-pause a:hover {
  background-position: -40px -20px;
}
.controls-in-heading .highslide-controls .highslide-next a {
  background-position: -60px 0;
}
.controls-in-heading .highslide-controls .highslide-next a:hover {
  background-position: -60px -20px;
}
.controls-in-heading .highslide-controls .highslide-next a.disabled {
  background-position: -60px -40px !important;
}
.controls-in-heading .highslide-controls .highslide-full-expand a {
  background-position: -100px 0;
}
.controls-in-heading .highslide-controls .highslide-full-expand a:hover {
  background-position: -100px -20px;
}
.controls-in-heading .highslide-controls .highslide-full-expand a.disabled {
  background-position: -100px -40px !important;
}
.controls-in-heading .highslide-controls .highslide-close a {
  background-position: -120px 0;
}
.controls-in-heading .highslide-controls .highslide-close a:hover {
  background-position: -120px -20px;
}

/*****************************************************************************/
/* Styles for text based controls.						                     */
/* You can safely remove this if you don't use text based controls			 */
/*****************************************************************************/

.text-controls .highslide-controls {
  width: auto;
  height: auto;
  margin: 0;
  text-align: center;
  background: none;
}
.text-controls ul {
  position: static;
  background: none;
  height: auto;
  left: 0;
}
.text-controls .highslide-move {
  display: none;
}
.text-controls li {
  background-image: url(graphics/controlbar-text-buttons.png);
  background-position: right top !important;
  padding: 0;
  margin-left: 15px;
  display: block;
  width: auto;
}
.text-controls a {
  background: url(graphics/controlbar-text-buttons.png) no-repeat;
  background-position: left top !important;
  position: relative;
  left: -10px;
  display: block;
  width: auto;
  height: auto;
  text-decoration: none !important;
}
.text-controls a span {
  background: url(graphics/controlbar-text-buttons.png) no-repeat;
  margin: 1px 2px 1px 10px;
  display: block;
  min-width: 4em;
  height: 18px;
  line-height: 18px;
  padding: 1px 0 1px 18px;
  color: #333;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
}
.text-controls .highslide-next {
  margin-right: 1em;
}
.text-controls .highslide-full-expand a span {
  min-width: 0;
  margin: 1px 0;
  padding: 1px 0 1px 10px;
}
.text-controls .highslide-close a span {
  min-width: 0;
}
.text-controls a:hover span {
  color: black;
}
.text-controls a.disabled span {
  color: #999;
}

.text-controls .highslide-previous span {
  background-position: 0 -40px;
}
.text-controls .highslide-previous a.disabled {
  background-position: left top !important;
}
.text-controls .highslide-previous a.disabled span {
  background-position: 0 -140px;
}
.text-controls .highslide-play span {
  background-position: 0 -60px;
}
.text-controls .highslide-play a.disabled {
  background-position: left top !important;
}
.text-controls .highslide-play a.disabled span {
  background-position: 0 -160px;
}
.text-controls .highslide-pause span {
  background-position: 0 -80px;
}
.text-controls .highslide-next span {
  background-position: 0 -100px;
}
.text-controls .highslide-next a.disabled {
  background-position: left top !important;
}
.text-controls .highslide-next a.disabled span {
  background-position: 0 -200px;
}
.text-controls .highslide-full-expand span {
  background: none;
}
.text-controls .highslide-full-expand a.disabled {
  background-position: left top !important;
}
.text-controls .highslide-close span {
  background-position: 0 -120px;
}


/*****************************************************************************/
/* Styles for the thumbstrip.							                     */
/* See www.highslide.com/ref/hs.addSlideshow    							 */
/* You can safely remove this if you don't use a thumbstrip 				 */
/*****************************************************************************/

.highslide-thumbstrip {
  height: 100%;
  direction: ltr;
}
.highslide-thumbstrip div {
  overflow: hidden;
}
.highslide-thumbstrip table {
  position: relative;
  padding: 0;
  border-collapse: collapse;
}
.highslide-thumbstrip td {
  padding: 1px;
  /*text-align: center;*/
}
.highslide-thumbstrip a {
  outline: none;
}
.highslide-thumbstrip img {
  display: block;
  border: 1px solid gray;
  margin: 0 auto;
}
.highslide-thumbstrip .highslide-active-anchor img {
  visibility: visible;
}
.highslide-thumbstrip .highslide-marker {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 0;
  border-style: solid;
  border-color: transparent; /* change this to actual background color in highslide-ie6.css */
}
.highslide-thumbstrip-horizontal div {
  width: auto;
  /* width: 100% breaks in small strips in IE */
}
.highslide-thumbstrip-horizontal .highslide-scroll-up {
  display: none;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 25px;
  height: 42px;
}
.highslide-thumbstrip-horizontal .highslide-scroll-up div {
  margin-bottom: 10px;
  cursor: pointer;
  background: url(graphics/scrollarrows.png) left center no-repeat;
  height: 42px;
}
.highslide-thumbstrip-horizontal .highslide-scroll-down {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 25px;
  height: 42px;
}
.highslide-thumbstrip-horizontal .highslide-scroll-down div {
  margin-bottom: 10px;
  cursor: pointer;
  background: url(graphics/scrollarrows.png) center right no-repeat;
  height: 42px;
}
.highslide-thumbstrip-horizontal table {
  margin: 2px 0 10px 0;
}
.highslide-viewport .highslide-thumbstrip-horizontal table {
  margin-left: 10px;
}
.highslide-thumbstrip-horizontal img {
  width: auto;
  height: 40px;
}
.highslide-thumbstrip-horizontal .highslide-marker {
  top: 47px;
  border-left-width: 6px;
  border-right-width: 6px;
  border-bottom: 6px solid gray;
}
.highslide-viewport .highslide-thumbstrip-horizontal .highslide-marker {
  margin-left: 10px;
}
.dark .highslide-thumbstrip-horizontal .highslide-marker, .highslide-viewport .highslide-thumbstrip-horizontal .highslide-marker {
  border-bottom-color: white !important;
}

.highslide-thumbstrip-vertical-overlay {
  overflow: hidden !important;
}
.highslide-thumbstrip-vertical div {
  height: 100%;
}
.highslide-thumbstrip-vertical a {
  display: block;
}
.highslide-thumbstrip-vertical .highslide-scroll-up {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
}
.highslide-thumbstrip-vertical .highslide-scroll-up div {
  margin-left: 10px;
  cursor: pointer;
  background: url(graphics/scrollarrows.png) top center no-repeat;
  height: 25px;
}
.highslide-thumbstrip-vertical .highslide-scroll-down {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
}
.highslide-thumbstrip-vertical .highslide-scroll-down div {
  margin-left: 10px;
  cursor: pointer;
  background: url(graphics/scrollarrows.png) bottom center no-repeat;
  height: 25px;
}
.highslide-thumbstrip-vertical table {
  margin: 10px 0 0 10px;
}
.highslide-thumbstrip-vertical img {
  width: 60px; /* t=5481 */
}
.highslide-thumbstrip-vertical .highslide-marker {
  left: 0;
  margin-top: 8px;
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-left: 6px solid gray;
}
.dark .highslide-thumbstrip-vertical .highslide-marker, .highslide-viewport .highslide-thumbstrip-vertical .highslide-marker {
  border-left-color: white;
}

.highslide-viewport .highslide-thumbstrip-float {
  overflow: auto;
}
.highslide-thumbstrip-float ul {
  margin: 2px 0;
  padding: 0;
}
.highslide-thumbstrip-float li {
  display: block;
  height: 60px;
  margin: 0 2px;
  list-style: none;
  float: left;
}
.highslide-thumbstrip-float img {
  display: inline;
  border-color: silver;
  max-height: 56px;
}
.highslide-thumbstrip-float .highslide-active-anchor img {
  border-color: black;
}
.highslide-thumbstrip-float .highslide-scroll-up div, .highslide-thumbstrip-float .highslide-scroll-down div {
  display: none;
}
.highslide-thumbstrip-float .highslide-marker {
  display: none;
}

.treeview, .treeview ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.treeview ul {
  margin-top: 4px;
}

.treeview .hitarea {
  background: url(../js/jquery-treeview/images/treeview-default.gif) -64px -25px no-repeat;
  height: 16px;
  width: 16px;
  margin-left: -16px;
  float: left;
  cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
  display: inline;
  float:none;
}

.treeview li {
  margin: 0;
  padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
  background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(../js/jquery-treeview/images/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../js/jquery-treeview/images/treeview-default.gif); }
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(../js/jquery-treeview/images/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(../js/jquery-treeview/images/treeview-red.gif); }

.treeview-black li { background-image: url(../js/jquery-treeview/images/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(../js/jquery-treeview/images/treeview-black.gif); }

.treeview-gray li { background-image: url(../js/jquery-treeview/images/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(../js/jquery-treeview/images/treeview-gray.gif); }

.treeview-famfamfam li { background-image: url(../js/jquery-treeview/images/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(../js/jquery-treeview/images/treeview-famfamfam.gif); }

.treeview .placeholder {
  background: url(../js/jquery-treeview/images/ajax-loader.gif) 0 0 no-repeat;
  height: 16px;
  width: 16px;
  display: block;
}

.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(../js/jquery-treeview/images/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(../js/jquery-treeview/images/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(../js/jquery-treeview/images/file.gif) 0 0 no-repeat; }
/* Search autocomplete custom style */
.ui-autocomplete-loading{background:url(../img/indicator.gif) no-repeat right center;}
.ui-menu-item table{ cursor: hand; width: 280px;}
