/* 
  Style to "Marcadores" page

  *Each Category is a card
*/
  
.tags-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

/*TODO: Remove?*/
.tags-category-description {
  /*width: 100%;*/
  /*font-size: 0.8rem;*/
}

.tags-category > ul {
  font-size: 0.8rem;
}

/*
  MEDIA
*/

@media (max-width: 916px) {
  .tags-category {
      width: 43%;
  }
}

@media (max-width: 712px) {
  .tags-category {
      width: 100%;
  }
}
