#taxa-page-section {
    display: flex;
    flex-direction: column;
}

#taxa-page-section > div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#taxa {
  flex: 1;
}

#species {
  flex: 0.4;
}

#species ol {
  padding-left: 1.5rem;
}

@media (max-width: 650px) {
    #taxa-page-section > div {
        flex-direction: column;
        gap: 1rem;
    }
}

