#taxa-page-section {
    display: flex;
    flex-direction: column;
}

#taxa-page-section > div {
    display: flex;
    justify-content: space-around;
}

#taxa {}
#species {}
#species ol {
  padding-left: 1.5rem;
}

@media (max-width: 575px) {
    #taxa-page-section > div {
        flex-direction: column;
        gap: 1.5rem;
    }
}

