{% extends 'base.html' %}
{% load extra_tags %}
{% block content %}
<section class="main span-16">
    <header class="shadow" id="slogan">
        <h1>Descubra a biodiversidade marinha</h1>
    </header>
    {% show_stats %}
    <div class="main span-16 last" id="intro">
        <p>Bem-vindo à BIOCEA &mdash; o banco de imagens do Centro de Biologia Marinha da Universidade de São Paulo.</p>
        <p>Nosso acervo digital é resultado de pesquisas científicas e atividades de extensão desenvolvidas no CEBIMar e tem como objetivo disponibilizar imagens de qualidade sobre biologia marinha para curiosos, estudantes, educadores e comunidade acadêmica.</p>
        <p>Comece a explorar ou <a href="/sobre/">saiba mais</a>!</p>
    </div>
    <div class="span-8">
        <h2>Fotos</h2>
        <strong><a href="{{ image.get_absolute_url }}">{{ image.title }}</a></strong><br>
        <a href="{{ image.get_absolute_url }}"><img src="/{{ image.web_filepath }}" alt="{{ image.title }}" width="300" /></a>
    </div>
    <div class="span-8 last">
        <h2>Vídeos</h2>
        <strong><a href="{{ video.get_absolute_url }}">{{ video.title }}</a></strong><br>
        <a href="{{ video.get_absolute_url }}"><img src="/{{ video.large_thumb }}" alt="{{ video.title }}" width="300" /></a>
        <!--<video poster="/{{ video.thumb_filepath }}" preload="preload" controls="controls" width="300" height="225">
        <source src="/{{ video.web_filepath }}" type="video/ogg">
        <img alt="Still do vídeo" src="/{{ video.large_thumb.url }}">
        Seu navegador ainda não suporta HTML5...
        </video>-->
    </div>
    
    {% if thumbs %}
    <div id="highthumbs" class="main span-16 last">
    <h2>Destaques</h2>
        <ul class="thumbs">
            {% for image in thumbs %}
                {% if image.is_public %}
                <li class="shadow size-{{ image.size.slug }}">
                {% include 'thumb.html' %}
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="main span-16 last">
        <h2>Marcadores</h2>
        {% for tag in tags %}
        <a href="{{ tag.get_absolute_url }}" title="{{ tag.name }}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block sidebar %}
<aside class="main span-8 last">
<div class="borders block shadow">
    {% show_tree %}
</div>
<div class="borders block shadow">
    {% show_hot %}
</div>
</aside>
{% endblock %}
