{% if tags %}
<h2>Marcadores</h2>
{% for tag in tags %}
<a href="{{ tag.get_absolute_url }}" title="{{ tag.name }}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
{% endfor %}
{% endif %}

{% if authors %}
<h2>Autores</h2>
<ul>
    {% for author in authors %}
    <li><a href="{{ author.get_absolute_url }}">{{ author }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if taxa %}
<h2>Táxons</h2>
<ul>
    {% for taxon in taxa %}
    <li><a href="{{ taxon.get_absolute_url }}">{{ taxon }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% if genera %}
<h2>Espécies</h2>
<ul>
    {% for genus in genera %}
        {% for sp in genus.spp.all %}
        <li>
        <a href="{{ sp.get_absolute_url }}"><em>{{ genus.name }} {{ sp }}</em></a>
        </li>
        {% endfor %}
    {% endfor %}
</ul>
{% endif %}
{% if sizes %}
<h2>Tamanhos</h2>
<ul>
    {% for size in sizes %}
    <li><a href="{{ size.get_absolute_url }}">{{ size }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% if sublocations %}
<h2>Local</h2>
<ul>
    {% for sublocation in sublocations %}
    <li><a href="{{ sublocation.get_absolute_url }}">{{ sublocation }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% if cities %}
<h2>Cidades</h2>
<ul>
    {% for city in cities %}
    <li><a href="{{ city.get_absolute_url }}">{{ city }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% if states %}
<h2>Estados</h2>
<ul>
    {% for state in states %}
    <li><a href="{{ state.get_absolute_url }}">{{ state }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% if countries %}
<h2>Países</h2>
<ul>
    {% for country in countries %}
    <li><a href="{{ country.get_absolute_url }}">{{ country }}</a></li>
    {% endfor %}
</ul>
{% endif %}
