{% extends 'base.html' %}
{% load extra_tags %}
{% block title %}{{ title }} | {{ block.super }}{% endblock %}
{% block content %}
<section class="span-16">
<header class="span-16 last"><h1>{{ title }}</h1></header>

<p>As fotos e vídeos carregados no site podem ser pesquisadas por meio das informações básicas (metadados), como espécie, local, autor, tamanho. Às imagens estão também associados marcadores (tags), termos que as qualificam de acordo com categorias como, técnica fotográfica, estágio de vida, habitat etc. Desse modo, é possível navegar pelas imagens usando os marcadores. Por exemplo, você pode querer procurar fotos de larvas de moluscos tiradas em microscopia confocal, ou apenas navegar pelos estágios adultos de organismos planctônicos. A categorização das imagens e a explicação de alguns dos marcadores utilizados encontra-se abaixo.</p>

<h2>Táxons</h2>

<p>A classificação biológica utilizada não adota nenhuma proposta em particular. Em grande parte, seguimos a classificação mais consensual ou tradicional, visando facilitar a visualização da hierarquia taxonômica e a navegação entre as imagens. Em alguns casos, empregamos a proposta de classificação seguida pelo especialista que identificou a espécie ilustrada.</p>

<h2>Tamanho</h2>

<p>Para dar uma ideia das dimensões dos organismos das imagens, 5 classes de tamanho foram criadas arbitrariamente. A fauna bentônica recebeu uma classificação adicional de tamanho: macrofauna, meiofauna e microfauna (ver item Modo de Vida, abaixo). Fotos dos ambientes não contêm informações de tamanho, mas caso estejam ilustrando algum organismo (por exemplo, cracas no costão), podem vir acompanhadas da escala relativa a esse organismo. As classes de tamanho são:</p>

<table>
<tr>
<th>Tamanho
<th>Descrição
<th>Exemplo

{% for size in sizes %}
<tr>
    <td class="bold">{{ size }}
        <td>{% if size.description %}{{ size.description }}{% endif %}
            <td>{% print_thumb 'size' size %}

{% endfor %}
</table>

<h2>Técnicas fotográficas</h2>

<p>As diferentes técnicas utilizadas para capturar as imagens do banco foram divididas em 4 categorias: <strong>submersa</strong>, <strong>macrofotografia</strong>, <strong>paisagem</strong> e <strong>microscopia</strong>. Para abarcar a variedade de técnicas de microscopia este último foi subdividido. Segue então a lista dos marcadores referentes às técnicas fotográficas:</p>

<table>
<tr>
<th>Técnica
<th>Descrição
<th>Exemplo

{% for tag in tecnica.tags.all %}
<tr>
    <td class="bold">{{ tag }}
        <td>{% if tag.description %}{{ tag.description }}{% endif %}
            <td>{% print_thumb 'tag' tag %}
{% endfor %}
</table>

<table>
<tr>
<th>microscopia
<th>
<th>

{% for tag in microscopia.tags.all %}
<tr>
    <td class="bold">{{ tag }}
        <td>{% if tag.description %}{{ tag.description }}{% endif %}
            <td>{% print_thumb 'tag' tag %}
{% endfor %}
</table>

<h2>{{ estagio.name }}</h2>
<p>{{ estagio.description }}</p>

<table>
<tr>
<th>Estágio
<th>Descrição
<th>Exemplo

{% for tag in estagios %}
<tr>
    <td class="bold">{{ tag }}
        <td>{% if tag.description %}{{ tag.description }}{% endif %}
            <td>{% print_thumb 'tag' tag %}
{% endfor %}
</table>

<h2>{{ pelagicos.parent }}</h2>
<p>{{ pelagicos.parent.description }}</p>

<table>
<tr>
<th>{{ pelagicos.name }}
<th>{{ pelagicos.description }}
<th>Exemplo

{% for tag in pelagicos.tags.all %}
<tr>
    <td class="bold">{{ tag }}
        <td>{% if tag.description %}{{ tag.description }}{% endif %}
            <td>{% print_thumb 'tag' tag %}
{% endfor %}
</table>

<table>
<tr>
<th>{{ bentonicos.name }}
<th>{{ bentonicos.description }}
<th>Exemplo

{% for tag in bentonicos.tags.all %}
<tr>
    <td class="bold">{{ tag }}
        <td>{% if tag.description %}{{ tag.description }}{% endif %}
            <td>{% print_thumb 'tag' tag %}
{% endfor %}
</table>

<h2>{{ habitat.name }}</h2>
<p>{{ habitat.description }}</p>

<table>
<tr>
<th>Habitat
<th>Descrição
<th>Exemplo

{% for tag in habitat.tags.all %}
<tr>
    <td class="bold">{{ tag }}
        <td>{% if tag.description %}{{ tag.description }}{% endif %}
            <td>{% print_thumb 'tag' tag %}
{% endfor %}
</table>

<h2>{{ diversos.name }}</h2>
<p>{{ diversos.description }}</p>

<table>
<tr>
<th>Outros
<th>Descrição
<th>Exemplo

{% for tag in diversos.tags.all %}
<tr>
    <td class="bold">{{ tag }}
        <td>{% if tag.description %}{{ tag.description }}{% endif %}
            <td>{% print_thumb 'tag' tag %}
{% endfor %}
</table>

</section>
{% endblock %}
{% block sidebar %}
<aside class="span-8 last">
{% include 'sobremenu.html' %}
</aside>
{% endblock %}
