{% extends 'base.html' %}
{% block title %}Localidades | {{ block.super }}{% endblock %}
{% block content %}
<section class="span-24 last">
    <header><h1>Localidades</h1></header>

    <div id="sublocations" class="span-6">
        <h2>Locais</h2>
        <ul>
        {% for subloc in sublocations %}
            <li>
            <div>
                <div class="tag_item">
                <a href="{{ subloc.get_absolute_url }}">{{ subloc.name }}</a>
                </div>
                <div class="tag_count quiet">{{ subloc|icount:'sublocation' }}</div>
            </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="cities" class="span-6">
        <h2>Cidades</h2>
        <ul>
        {% for city in cities %}
            <li>
            <div>
                <div class="tag_item">
                <a href="{{ city.get_absolute_url }}">{{ city.name }}</a>
                </div>
                <div class="tag_count quiet">{{ city|icount:'city' }}</div>
            </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="states" class="span-6">
        <h2>Estados</h2>
        <ul>
        {% for state in states %}
            <li>
            <div>
                <div class="tag_item">
                <a href="{{ state.get_absolute_url }}">{{ state.name }}</a>
                </div>
                <div class="tag_count quiet">{{ state|icount:'state' }}</div>
            </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="countries" class="span-6 last">
        <h2>Países</h2>
        <ul>
        {% for country in countries %}
            <li>
            <div>
                <div class="tag_item">
                <a href="{{ country.get_absolute_url }}">{{ country.name }}</a>
                </div>
                <div class="tag_count quiet">{{ country|icount:'country' }}</div>
            </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}

{% block sidebar %}
{% endblock %}
