body {
    font-family:Tahoma,"Helvetica Neue",Arial,Helvetica,sans-serif !important;
}

header,footer,article,section,hgroup,nav,figure,figcaption {
    display: block;
    clear: both;
}

header.main {
    margin:1em 0 2em;
    background:url("/site_media/logo.png") no-repeat scroll 0 0 transparent;
}

.admin {
    float:left;
}

.admin a {
    color:#eee;
}

div.main {
    margin: 0.5em 0;
}

.subpages {
}

nav.main {
    text-align:right;
    font-size: 1.4em;
}

#menu {
    float: right;
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0.3em 10px 0.3em 20px;
    text-transform: uppercase;
    font-size:0.8em;
    -moz-border-radius: 0 0 10px 30px;
    -webkit-border-radius: 0 0 10px 30px;
    border-radius: 0 0 10px 30px;
    background:#4d7494;
    font-weight:bold;
}

#menu li {
    float: left;
    margin: 0 2px;
}

#menu li:hover a {
    background:#fff;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    color:#4d7494;
}

#menu li a {
    color:white;
    padding: 0.5em 5px;
}

#slogan {
    text-align:center;
    text-transform:uppercase;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    background:#C6D880;
    padding: 1em 0 0.1em;
}

#feedback {
    margin:2em 0 0 0;
    text-align:right;
}

header.main hgroup {
    margin:0 0 0 80px;
    letter-spacing: 4px;
    font-family: sans-serif;
    font-variant:small-caps;
}

header.main h1, header.main h2 {
    margin:0;
    padding:0;
}

section#stats {
    font-size: 1.2em;
    color: #333333;
    font-family:Georgia;
    background:#E6EFC2;
    text-align: center;
    padding: 0.5em 0;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.shadow {
    -webkit-box-shadow: 2px 2px 5px #aaa;
    -moz-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #aaa; 
}

div.tag-item {
    float:left;
}

div.tag-count {
    text-align:right;
}

div#intro {
    font-size:1.3em;
}

footer.media-tags {
    font-size:1.1em;
    padding:0 0 1em;
}

aside.main {
    min-height:20em;
}

aside div.block {
    border-top: solid 10px #4d7494;
    margin: 0 0 1em 0;
    padding: 1em 1em;
    background:#fafafa;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

aside.photo {
    float:right;
}

figure.photo {
    background: #ffffff;
    padding: 10px;
    -moz-border-radius: 10px 0 0;
    -webkit-border-radius: 10px 0 0;
    border-radius: 10px 0 0;
    min-height:277px;
}

figure.video {
    background: #ffffff;
    padding: 10px;
    text-align: center;
    padding: 10px;
}

footer.pagination {
    margin:0 0 1em 0;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}

#author {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 -0.3em;
}

#size {
    text-align: center;
    margin: 0 -10px;
    padding: 0 10px;
}

.size-legend {
    margin:0 -10px;
}

.size-legend div {
    float:left;
    width: 18px;
    padding: 9px 0;
}
#size-string {
    display:block;
    clear:both;
    margin:0 -10px;
    padding:0.8em 0;
    font-weight: bold;
}

figcation {
    text-align:left;
}

div#sideinfo {
    background:#fafafa;
    padding:0.8em 10px 0;
    -moz-border-radius: 0 10px 0 0;
    -webkit-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
}

#views {
    background: #fefefe;
    font-weight:bold;
    text-align: center;
    margin: -0.8em -10px -1px;
    padding: 0.8em 10px;
    -moz-border-radius: 0 10px 0 0;
    -webkit-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
}

div#notes {
    margin: 2em 0;
    padding: 0 10px;
}

ul.tree, ol.tree {
    /*padding-left:17px;*/
}

#article-share {
    display:none;
    background:#fafafa;
}

hr {
    margin: 1.5em 0 1.5em 0 !important;
}

article.post footer {
    margin-bottom:1em;
}

article.post footer#comment-count, article.post footer#article-tags {
    margin-top:1em;
}

article.post {
    margin:1em 0;
    padding:0;
}

ul.tags {
    margin:0 1em 1.5em 0;
    padding-left:17px;
}

ul.biodb {
    list-style: none;
    padding: 0;
    margin: 1em 0;
}

ul.biodb li:hover {
    font-weight: bold;
    cursor: pointer;
}

ul.refine-active, ul.refine-inactive {
    list-style:none;
    padding-left:1em;
}

.sign {
    font-size:1.8em;
    line-height:1em;
    vertical-align:middle;
}

.minus {
}

.meta-active {
    font-weight:bold;
    font-size:1.2em;
}

div.external {
    background: white;
    margin:-3.9em 0 0 65px;
    border: 1px solid #eeeeee;
    padding:0.8em;
    position: absolute;
    display: none;
    cursor: auto;
    font-weight:normal;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-opacity:0.9;
    opacity:0.9;
    filter: alpha(opacity=50);
}

div.external li:hover {
    font-weight:normal;
}

ul.biodb li div ul {
    list-style: none;
    padding:0;
    margin:0;
}

ul#tophits {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
}

ul#tophits li {
    float:left;
}

div#meta {
    background:#fafafa;
    padding: 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

span#species {
    font-style: italic;
}
span#sp {
    font-style: normal;
}

#content {
    display: block;
    clear: both;
}

#photo-gallery {
    display: block;
    clear:both;
}

#video-gallery {
    display: block;
    clear:both;
}

.nomatch {
    display:block;
    clear:both;
}

#messages {
    position:fixed;
    top:1em;
    left:10px;
    text-align:center;
}

#messages div {
    margin:0 0 0.5em 0;
}

.error, .notice, .success {
    padding:.2em 1em;
    border:2px solid #ddd;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    font-size:1.4em;
    -moz-opacity:0.9;
    opacity:0.9;
    filter:alpha(opacity=90);
    zoom:1;
    position:relative;
}

.semfoto {
    width:120px;
    height:90px;
    text-align:center;
}

div.thumbs-org {
    padding:5px 5px 0 5px;
    float:left;
    background: #eeeeee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.thumbs-org a {
    float:left;
}

ul.thumbs, ul.rel-thumbs {
    margin: 0;
    padding: 0;
}

ul.thumbs li, ul.rel-thumbs li {
    display: inline;
    float: left;
    margin: 0 10px 10px 0;
    padding: 5px;
    background: #eeeeee;
    list-style: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

ul.rel-thumbs li.current {
    -moz-opacity:0.4;
    opacity:0.4;
    filter:alpha(opacity=40);
    zoom:1;
}

ul.thumbs .lupa, ul.rel-thumbs .lupa, div.thumbs-org .lupa {
    display: none;
    float: right;
    position: relative;
    margin:-10px;
    left:-6px;
    background:#eeeeee;
    top:6px;
    padding: 0 5px;
    -moz-border-radius: 0 5px 0 5px;
    -webkit-border-radius: 0 5px 0 5px;
    border-radius: 0 5px 0 5px;
}

#breadcrumbs {
}

#related {
}

#related-form {
    margin:1em 0 0 0;
}

#references {
    margin:0 0 1em 0;
}

.citation {
    margin:0 0 0.5em 0;
}

.linear {
    font-size:1.5em;
}

#linear-nav {
    padding: 0 1em;
}

#navbox {
}

#crumbs {
    margin:1em -4px 0 0;
}

#prev {
    float:left;
}

#next {
    float:right;
}

#total {
    text-align:center;
    font-size:1.1em;
    padding:0 1em;
}

#prev-first {
    margin:17px 0 0 0;
    position:absolute;
    text-align:center;
    color:#ffffff;
    font-size:2em;
    width:88px;
    text-shadow: 2px 2px 5px #000;
    filter: dropshadow(color=#000000, offx=2, offy=2);
}

#next-last {
    margin:17px 0 0 0;
    position:absolute;
    text-align:center;
    color:#ffffff;
    font-size:2em;
    width:88px;
    text-shadow: 2px 2px 5px #000;
    filter: dropshadow(color=#000000, offx=2, offy=2);
}

ul.thumbs li:hover .lupa, ul.rel-thumbs li:hover .lupa, div.thumbs-org:hover .lupa {
    display: block;
}

ul.thumbs li a, ul.rel-thumbs li a {
    margin:0;
    padding:0;
}

ul.thumbs img, ul.rel-thumbs img {
    border:none;
    float:left;
    margin:0;
    padding:0;
}

ul.rel-thumbs img {
    width:88px;
}

ul.thumbs li.size-01-mm, .size-01-mm {
    background: #fbb4ae !important;
}
ul.thumbs li.size-01-10-mm, .size-01-10-mm {
    background: #b3cde3 !important;
}
ul.thumbs li.size-10-10-mm, .size-10-10-mm {
    background: #ccebc5 !important;
}
ul.thumbs li.size-10-100-mm, .size-10-100-mm {
    background: #decbe4 !important;
}
ul.thumbs li.size-100-mm, .size-100-mm {
    background: #fed9a6 !important;
}

#comment-box {
    display:none;
}

div#comments {
    padding:1em 0;
}

ul#comment-list {
    list-style:none;
    padding:0;
}

#user-name {
    margin-top:1em;
}

#comment-itself {
    display:block;
}

.hide-comment, .show-comment {
    background:#fafafa;
    cursor: pointer;
    font-weight: bold;
    color:#4d7494;
    padding:0.3em 12px;
    float:left;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin:0.3em 0 0 0 !important;
}

.hide-comment {
    display:none;
}

#comment-box label {
    display: block;
}

footer.main {
    font-size:0.9em;
    font-variant: small-caps;
    letter-spacing: 2px;
    padding: 1em 0 0.6em;
    background: #fafafa;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.cnpq img {
    vertical-align:top;
}

.float-right {
    float:right;
}

.float-left {
    float:left;
}

.unselect-all, .select-all {
    cursor: pointer;
}

.unselect-all {
    display:none;
}

.red {
    color:red;
}
.green {
    color:green;
}
/* Highslide */
