{% extends 'base.html' %}
{% load extra_tags %}
{% block title %}Buscador | {{ block.super }}{% endblock %}
{% block extra-head %}
{% endblock %}
{% block content %}
<section class="span-16">
<form id="search-form" method="get" action=".">
    {{ form.as_p }}
    <input type="submit" value="buscar" />
</form>
<div id="search-results">
    {% if show_results %}
        {% include 'gallery.html' %}
    {% endif %}
</div>
</section>
{% endblock %}
{% block sidebar %}
<aside class="main span-8 last">
{% if show_results %}
    {% show_info images.object_list %}
{% endif %}
</aside>
{% endblock %}
