{% extends 'base.html' %}
{% load extra_tags %}
{% block content %}
<section class="span-16">
    <header>
        <h1>Bem vindo! Descubra a vida marinha.</h1>
    </header>
    <div id="stats">
        {{ image_count }} image{{ image_count|pluralize:'m,ns' }} e {{ video_count }} vídeo{{ video_count|pluralize }} no banco.
    </div>
    {% include 'gallery.html' %}
</section>
{% endblock %}
{% block sidebar %}
<aside class="main span-8 last">
{% show_hot %}
{% show_tree %}
</aside>
{% endblock %}
