{% load i18n %}
<div style="width:510px;">
    <div style="margin-bottom:10px;">
        {{ obj.description }}
    </div>

    <div style="">
        {% with photo=obj.images.all.0 %}
        <img style="float:left; padding-right:1em;" src="http://{{ site.domain }}{{ MEDIA_URL }}{{ photo.thumb_filepath }}" alt="{{ photo.title }}" title="{{ photo.title }} | {{ obj.name }}" />
        {% endwith %}
        {% comment %} image_count não funciona? {% endcomment %}
        <strong>{% trans 'Número de imagens' %}:</strong> {{ obj.images.count }}<br>
        <strong>{% trans 'Data de criação' %}:</strong> {{ obj.pub_date }}<br>
        <strong>{% trans 'Última modificação' %}:</strong> {{ obj.timestamp }}<br>
        {% blocktrans with host=site.domain tour_name=obj.name tour_slug=obj.slug %}Conheça o tour <a href="http://{{ host }}/tour/{{ tour_slug }}">{{ tour_name }}</a>.{% endblocktrans %}
    </div>
</div>
