{% load i18n %}
<header><h1 class="title">{% trans article.title %}</h1></header>
    <footer class="quiet">
    {% trans 'Posted on' %} {{ article.publish_date|date:"DATE_FORMAT" }} {% trans 'by' %} <a href="{% url articles_by_author article.author.username %}" title="{% trans 'View articles posted by' %} {{ article.author.get_name }}">{{ article.author.get_name }}</a>
    </footer>
    {{ article.rendered_content|safe }}

{% for att in article.attachments.all %}
{% if forloop.first %}<div id="article-attachments">
    <h2>Attachments</h2>
    <ul>{% endif %}
        <li id="attachment-{{ forloop.counter }}" class="attachment ct_{{ att.content_type_class }}">
            <a href="{{ att.attachment.url }}" class="attachment-link">{{ att.filename }}</a>
            <span class="attachment-size">Size: {{ att.attachment.size|filesizeformat }}</span>
        </li>
    {% if forloop.last %}</ul>
</div>{% endif %}
{% endfor %}

