{% load i18n %}
<article class="post">
    <header><h1><a href="{{ article.get_absolute_url }}" title="{% trans 'Read this article' %}">{{ article.title }}</a></h1></header>
    <footer class="quiet">
    {% trans 'Posted on' %} {{ article.publish_date|date:"DATE_FORMAT" }} {% trans 'by' %} <a href="{% url articles_by_author article.author.username %}" title="{% trans 'View articles posted by' %} {{ article.author.get_name }}">{{ article.author.get_name }}</a>
    </footer>
    {% if article.rendered_content|wordcount >= 100 %}
    {{ article.rendered_content|safe|truncatewords:100 }} <a href="{{ article.get_absolute_url }}" title="{% trans 'Continue reading' %}"><strong>{% trans 'read more' %}</strong></a>.
    {% else %}
    {{ article.rendered_content|safe }}
    {% endif %}
</article>
